.af-link {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: common.rem(4);
  font-family: var(--font-family-base);
  text-decoration: underline;
  color: var(--color-axa);
  fill: var(--color-axa);

  svg {
    width: common.rem(20);
    height: common.rem(20);
    aspect-ratio: 1;
  }

  &--openInNewTab {
    font-weight: 600;
  }

  &:has(svg) {
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: var(--color-blue-1);
    fill: var(--color-blue-1);
  }

  &:focus-visible {
    outline: 2px solid var(--color-blue-3);
    outline-offset: 3px;
  }

  &:hover {
    color: var(--color-blue-1);
    fill: var(--color-blue-1);

    &:has(svg) {
      text-decoration: none;
    }
  }
}
