@use "../../common/common.agent.scss" as common;

.af-contrat {
  position: relative;
  display: flex;
  padding: 0.4rem 0.3rem 0.4rem 3rem;
  border: 1px solid common.$gray-lighter;
  border-radius: 25px;
  order: 3;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  color: common.$color-text-contract;

  .glyphicon-info-sign {
    position: absolute;
    top: 50%;
    left: 0.7rem;
    width: 21px;
    font-size: 1.25rem;
    color: common.$color-gray-contract;
    transform: translate(0, -50%);
  }

  &__list {
    margin: 0;
  }

  &__word {
    display: inline-block;
    margin-right: 0.2rem;
  }

  &__def {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }
}

@include common.media-breakpoint-up(md) {
  .af-contrat {
    margin: 0;
    order: 2;
  }
}
