.af-checkbox-text {
  display: grid;
  grid-template-areas: "icon label";
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: var(--rem-8);

  &:has(> .af-item-message) {
    grid-template-areas:
      "icon label"
      "icon message";
  }

  label {
    display: contents;
    cursor: pointer;
  }

  .af-checkbox {
    grid-area: icon;
  }

  .af-item-message {
    grid-area: message;
  }
}

.af-checkbox-text__label-content {
  grid-area: label;
  font-size: var(--rem-16);
  font-weight: 400;
  line-height: 1.25;
  color: var(--checkbox-text-label-color);

  @media (--desktop-small) {
    font-size: var(--rem-18);
  }
}
