@use "../../../common/common.client.scss" as common;

.af-form {
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input-label {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    color: common.$color-gray-900;
  }

  &__input-description {
    margin-top: -0.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: common.$color-gray-700;
  }

  &__input-helper {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    color: common.$color-gray-700;
  }

  &__input-text {
    margin-top: 0.5rem;
    padding: 1rem;
    padding-right: 2.5rem;
    border: 1px solid common.$color-gray;
    border-radius: 4px;
    font-size: 1.125rem;
    color: common.$color-gray-900;

    &--error {
      border: 2px solid common.$color-red-700;
    }

    &:enabled {
      &:focus,
      &:active {
        border: 1px solid common.$color-axa;
        outline: none;
      }
    }

    &:not(:disabled, :focus, :active, &--error):hover {
      border: 2px solid common.$color-axa;
      outline: none;
    }
  }
}
