.af-item-file {
  --af-item-file-file-name-font-size: calc(16 / var(--font-size-base) * 1rem);
  --af-item-file-file-size-font-size: calc(14 / var(--font-size-base) * 1rem);

  display: flex;
  flex-direction: column;
  gap: var(--item-file-gap);

  @media (--desktop-small) {
    --af-item-file-file-name-font-size: calc(18 / var(--font-size-base) * 1rem);
    --af-item-file-file-size-font-size: calc(16 / var(--font-size-base) * 1rem);
  }

  .af-icon:first-of-type,
  .af-spinner {
    grid-area: icon;
  }
}

.af-item-file__body {
  display: grid;
  padding: var(--item-file-body-padding-vertical)
    var(--item-file-body-padding-horizontal);
  border: 1px solid var(--item-file-border-color);
  border-radius: var(--item-file-border-radius);
  grid-template-areas:
    "icon file-name actions"
    "icon file-size actions";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: start;
  gap: 0 calc(12 / var(--font-size-base) * 1rem);
  font: var(--font-family-base);
  font-weight: 400;
  line-height: 125%;
}

.af-item-file__file-name {
  margin: 0;
  padding: 0;
  grid-area: file-name;
  font-size: var(--af-item-file-file-name-font-size);
  color: var(--item-file-file-name-color);
}

.af-item-file__file-size {
  margin: 0;
  padding: 0;
  grid-area: file-size;
  font-size: var(--af-item-file-file-size-font-size);
  color: var(--item-file-file-size-color);
}

.af-item-file__actions {
  display: flex;
  grid-area: actions;
  align-items: end;
  gap: var(--item-file-action-buttons-gap);
}
