.af-card-data {
  --card-data-border-radius: 4px;

  border-radius: var(--card-data-border-radius);
  background-color: var(--white);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 18%);

  .af-card-data-content {
    padding: 1rem 1.5rem 1.5rem 3.5rem;
  }

  .af-card-data-content--max-size {
    margin: 0;
  }
}

.af-card-data-header {
  --icon-size: 2rem;
  --icon-background-color: var(--axablue80);

  display: flex;
  padding: 1rem;
  border-top-left-radius: var(--card-data-border-radius);
  border-top-right-radius: var(--card-data-border-radius);
  align-items: center;
  gap: 0.5rem;
  background-color: var(--white);

  .af-title {
    display: flex;
    margin: 0;
    flex-direction: column;
    line-height: 1.2rem;
    align-items: flex-start;

    &::after {
      content: none;
    }

    .af-card-data-header-subtitle {
      font-size: 1rem;
      color: var(--gray60);
      margin-left: 0;
    }

    .af-card-data-header-description {
      padding-top: 4px;
      font-size: 1rem;
      font-weight: normal;
      margin-left: 0;
    }
  }

  .af-card-data-header-icon {
    display: flex;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--card-data-border-radius);
    align-items: center;
    justify-content: center;
    background-color: var(--icon-background-color);

    svg {
      width: auto;
      height: calc(var(--icon-size) / 2);
      fill: var(--white);
    }
  }

  .af-card-data-header-icon--error {
    --icon-background-color: var(--red30);
  }

  .af-card-data-header-icon--warning {
    --icon-background-color: var(--orange40);
  }

  .af-card-data-header-icon--information {
    --icon-background-color: var(--cyan40);
  }

  .af-card-data-header-icon--success {
    --icon-background-color: var(--green40);
  }

  .af-card-data-header-icon--dark {
    --icon-background-color: var(--gray80);
  }

  .af-card-data-header-icon--gray {
    --icon-background-color: var(--gray50);
  }

  .af-card-data-header-icon--purple {
    --icon-background-color: var(--purpletarif40);
  }

  .af-card-data-header-rightcontent {
    margin-left: auto;
    padding-left: 1rem;
  }
}
