@use "../../common/breakpoints" as breakpoints;

@use "InputTextAtomCommon";

.af-form__input-variant {
  --input-border-color: var(--color-gray-700);
  --input-border-radius: var(--default-border-radius);
  --input-bg-color: var(--color-white);
  --input-text-color: var(--color-gray-900);
  --input-text-icon-color: var(--color-gray-900);
  --input-text-placeholder-color: var(--color-gray-700);
  --input-text-outline-color: var(--color-blue-3);

  &:has(> input:not([value=""])) {
    --input-border-color: var(--color-axa);
  }

  &:has(> input:is(:hover, :focus, :active)) {
    --input-border-color: var(--color-axa);
    --input-text-placeholder-color: var(--color-gray-900);
  }

  &:has(> input[class*="--error"]) {
    --input-border-color: var(--color-red-700);
  }

  &:has(> input:disabled),
  &:has(> input:disabled):is(:hover, :focus, :active) {
    --input-border-color: var(--color-gray-400);
    --input-text-color: var(--color-gray-500);
    --input-bg-color: var(--color-gray-200);
    --input-text-icon-color: var(--color-gray-500);

    + .af-form__input-helper {
      --input-helper-color: var(--color-gray-500);
    }
  }
}
