@use "../../common/common" as common;

.af-checkbox-card {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    row-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  &__label {
    font-size: common.rem(18);
    font-weight: 600;
    color: var(--checkbox-card-color);
  }

  &__description {
    font-size: common.rem(14);
    font-weight: 400;
    line-height: common.rem(18);
    color: var(--checkbox-card-color);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(16);
      line-height: common.rem(20);
    }
  }

  & label {
    display: flex;
    border: var(--checkbox-card-border);
    border-radius: var(--checkbox-card-border-radius);
  }

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > svg {
      width: 1.75rem;
      height: 1.75rem;
      color: var(--checkbox-card-color);
      fill: var(--checkbox-card-fill);
    }

    & &-description {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      line-height: 1.25rem;

      & > span:first-child {
        line-height: 1.4rem;
        color: var(--checkbox-card-color);
      }

      & > span:not(:first-child) {
        color: var(--checkbox-card-color);
      }
    }
  }

  & ~ &__error {
    --error-box-color: var(--color-red-700);

    & > svg {
      --error-box-color: var(--color-red-700);
      --error-box-fill: var(--color-red-700);
    }
  }

  &-select--horizontal &__content {
    flex-direction: row;
    gap: 0.5rem;
  }

  &__group-description {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  &-select ~ &__error {
    margin: 1rem 0 0;
  }

  &-select label {
    height: 6.4rem;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 0 0 1px var(--checkbox-card-box-shadow-color) inset;
  }

  &-select--horizontal label {
    position: relative;
    width: 12rem;
    height: auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    text-align: center;

    & .af-checkbox__icons {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  &-select.subgrid label {
    width: inherit;
  }

  &-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--checkbox-card-font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--checkbox-card-color);

    &--horizontal {
      flex-direction: row;
    }
  }
}
