.af-form__input-atom-container {
  --input-box-shadow-width: 1px;

  display: grid;
  width: 100%;
  border-radius: var(--input-border-radius);
  grid-template-columns: auto min-content;
  align-items: center;
  color: var(--input-text-color);
  background-color: var(--input-bg-color);
  box-shadow: 0 0 0 var(--input-box-shadow-width) var(--input-border-color)
    inset;

  &:has(> input ~ *) {
    column-gap: var(--rem-8);
  }

  > input {
    all: unset;
    padding: var(--rem-16);
    font-size: var(--rem-16);
    font-weight: 600;
    line-height: 1.25em;
    color: var(--input-text-color);

    &::placeholder {
      font-weight: 400;
      color: var(--input-text-placeholder-color);
    }

    & ~ * {
      margin-right: var(--rem-16);
      color: var(--input-text-icon-color);
      fill: var(--input-text-icon-color);
    }

    @media (--desktop-small) {
      font-size: var(--rem-18);
    }
  }

  &:has(:nth-child(2)) > input {
    padding-right: 0;
  }

  &:has(> input:disabled),
  &:has(> input:disabled):is(:hover, :focus, :active) {
    cursor: not-allowed;

    & > input ~ * {
      cursor: not-allowed;
    }
  }

  &:has(
    > input:is(:hover, :focus, :active, [class*="--error"]):not(:disabled)
  ) {
    --input-box-shadow-width: 2px;
  }

  &:has(
    > input[class*="--error"]:not(:disabled):is(:hover, :focus-visible, :active)
  ) {
    --input-box-shadow-width: 3px;
  }
}
