@import "./InputTextAtomCommon.css";

.af-form__input-atom-container {
  --input-border-color: var(--blue-650);
  --input-border-radius: var(--radius-8);
  --input-bg-color: var(--white-1000);
  --input-text-color: var(--gray-800);
  --input-text-icon-color: var(--blue-1000);
  --input-text-outline-color: var(--blue-650);

  &:has(> input:is(:hover, :focus, :active)) {
    --input-border-color: var(--blue-1000);
    --input-text-placeholder-color: var(--gray-800);
  }

  &:has(> input[class*="--error"]) {
    --input-border-color: var(--red-alert-1000);
  }

  &:has(> input:disabled),
  &:has(> input:disabled):is(:hover, :focus, :active) {
    --input-border-color: var(--gray-500);
    --input-text-color: var(--gray-500);
    --input-bg-color: var(--gray-050);
    --input-text-icon-color: var(--gray-500);

    + .af-form__input-helper {
      --input-helper-color: var(--gray-500);
    }
  }

  &:has(> input[value]:not([value=""], [class*="--error"], :disabled)) {
    --input-border-color: var(--blue-1000);
    --input-text-color: var(--blue-1000);
  }
}
