@import "./LinkCommon.css";

.af-link {
  --link-font-weight: 600;
  --link-text-color-default: var(--blue-1000);
  --underline-offset: 25%;
  --link-font-size: 14;
  @media (--desktop-small) {
    --link-font-size: 16;
  }
}

.af-link--default {
  --link-line-height: 125%;
  @media (--desktop-small) {
    --link-line-height: calc(24 / var(--font-size-base) * 1rem);
  }

  &:hover {
    --link-text-color: var(--blue-1200);
  }

  &:active,
  &:focus {
    --link-color-outline: var(--blue-900);
  }
}

.af-link--underline {
  --link-line-height: calc(20 / var(--font-size-base) * 1rem);
  @media (--desktop-small) {
    --link-line-height: calc(24 / var(--font-size-base) * 1rem);
  }

  &:hover {
    --link-text-color: var(--blue-1200);
  }

  &:active,
  &:focus {
    --link-color-outline: var(--blue-900);
  }
}

.af-link--inverse {
  --link-text-color-inverse: var(--white-1000);
  --link-line-height: 125%;

  &:hover,
  &:active,
  &:focus {
    --link-line-height: calc(20 / var(--font-size-base) * 1rem);
    @media (--desktop-small) {
      --link-line-height: calc(24 / var(--font-size-base) * 1rem);
    }
  }
}
