@import "./LinkCommon.css";

.af-link {
  --link-font-weight: 400;
  --link-text-color-default: var(--color-axa);
  --underline-offset: 10%;
  --link-font-size: 14;

  @media (--desktop-small) {
    --link-font-size: 18;
  }
}

.af-link--default {
  --link-line-height: 125%;

  &:hover {
    --link-text-color: var(--color-blue-1);
  }

  &:active,
  &:focus {
    --link-color-outline: var(--color-btn-light);
  }
}

.af-link--underline {
  --link-line-height: 125%;

  &:hover {
    --link-text-color: var(--color-blue-1);
  }

  &:active,
  &:focus {
    --link-color-outline: var(--color-btn-light);
  }
}

.af-link--inverse {
  --link-text-color-inverse: var(--color-white);
  --link-line-height: 125%;

  &:hover,
  &:active,
  &:focus {
    --link-line-height: 125%;
  }
}
