@import "./LinkCommon.css";

.af-link {
  --link-font-weight: 400;

  &.af-btn-client {
    @media (--desktop-small) {
      --link-line-height: var(--rem-24);
    }
  }
}

.af-link--openInNewTab {
  --link-font-weight: 600;
}
