.af-apollo-data-agent {
  display: flex;
  border: 1px solid var(--data-agent-border-color);
  border-radius: var(--data-agent-border-radius);
  flex-direction: column;
  gap: calc(12 / var(--font-size-base) * 1rem);

  &__intro {
    display: flex;
    padding: calc(16 / var(--font-size-base) * 1rem);
    flex-direction: column;
    gap: calc(16 / var(--font-size-base) * 1rem);
  }

  &__info-content,
  &__info-click-content {
    display: flex;
    flex-direction: column;
    gap: calc(12 / var(--font-size-base) * 1rem);
  }

  &__text-orias {
    margin: 0 0 calc(16 / var(--font-size-base) * 1rem);
    padding: 0 calc(16 / var(--font-size-base) * 1rem);
    font-size: var(--data-agent-text-orias-font-size);
    font-weight: 400;
    line-height: 125%;
    color: var(--data-agent-text-orias-font-color);
  }
}
