@use "./DataAgentCommon";

.af-apollo-data-agent {
  --data-agent-border-radius: var(--radius-8);
  --data-agent-border-color: var(--color-blue-400);
  --data-agent-orias-font-color: var(--color-gray-700);
  --data-agent-orias-font-size: calc(16 / var(--font-size-base) * 1rem);

  &__info {
    padding: 0 calc(16 / var(--font-size-base) * 1rem);

    &:last-child {
      .af-apollo-data-agent__line:last-of-type {
        display: none;
      }
    }
  }
}
