@use "../common/breakpoints" as breakpoints;
@use "./ModalCommon";

.af-modal {
  --modal-bg-color: var(--white);
  --modal-text-color: var(--neutral-100);
  --modal-text-font-size: calc(16 / var(--font-size-base) * 1rem);
  --modal-overlay-color: var(--axa-blue-100-40);
  --modal-border-radius: var(--radius-16);
  --modal-default-padding: calc(24 / var(--font-size-base) * 1rem);
  --modal-header-gap: calc(16 / var(--font-size-base) * 1rem);
  --modal-header-bottom-padding: calc(24 / var(--font-size-base) * 1rem);
  --modal-header-border-bottom: none;
  --modal-body-padding-top: var(--modal-default-padding);
  --modal-body-padding-bottom: var(--modal-default-padding);
  --modal-body-gap: var(--modal-default-padding);
  --modal-footer-vertical-padding: var(--modal-default-padding);
  --modal-footer-horizontal-padding: var(--modal-default-padding);
  --modal-footer-gap: calc(16 / var(--font-size-base) * 1rem);

  :has(.af-modal__body-vertical-scroll) {
    --modal-footer-border-top: 1px solid var(--axa-blue-20);
    --modal-footer-vertical-padding: calc(12 / var(--font-size-base) * 1rem);
    --modal-footer-horizontal-padding: calc(16 / var(--font-size-base) * 1rem);
  }

  @media (width > #{breakpoints.$breakpoint-md}) {
    --modal-header-gap: calc(24 / var(--font-size-base) * 1rem);
    --modal-default-padding: calc(32 / var(--font-size-base) * 1rem);
    --modal-body-padding-bottom: calc(16 / var(--font-size-base) * 1rem);

    :has(.af-modal__body-vertical-scroll) {
      --modal-footer-vertical-padding: calc(16 / var(--font-size-base) * 1rem);
      --modal-footer-horizontal-padding: var(--modal-default-padding);
      --modal-footer-border-top: none;
    }
  }
}
