@use "./ClickIconCommon";

.af-click-icon {
  --click-icon-background-color: var(--axa-blue-4);

  &:hover {
    --click-icon-background-color: var(--axa-blue-120);
    --click-icon-svg-fill: var(--white);
  }

  &:active {
    --click-icon-background-color: var(--axa-blue-80);
    --click-icon-svg-fill: var(--white);
  }

  &:disabled {
    --click-icon-background-color: var(--neutral-5);
    --click-icon-svg-fill: var(--neutral-50);
  }

  &:focus,
  &:focus-visible {
    --click-icon-outline-color: var(--axa-blue-100);
  }
}
