.af-form__nested-question {
  position: relative;
  margin-bottom: 2rem;
  padding: 1.5rem 1.25rem;
  border: 1px solid var(--gray40);
  border-radius: 4px;
  background-color: var(--white);
}

.af-form__nested-question-arrow {
  position: absolute;
  top: -0.75rem;
  left: 4.5rem;
  width: 1.3256rem;
  height: 1.3256rem;
  border-top: 1px solid var(--gray40);
  border-left: 1px solid var(--gray40);
  background-color: var(--white);
  transform: rotate(45deg);
}
