@use "../../../common/breakpoints" as breakpoints;

.af-checkbox-card {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    row-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  &__label {
    font-size: calc(18 / var(--font-size-base) * 1rem);
    font-weight: 600;
    color: var(--checkbox-card-color);
  }

  &__description {
    font-size: calc(16 / var(--font-size-base) * 1rem);
    font-weight: 400;
    line-height: calc(16 / var(--font-size-base) * 1rem);
    color: var(--checkbox-card-color);

    @media (width > #{breakpoints.$breakpoint-sm}) {
      font-size: calc(18 / var(--font-size-base) * 1rem);
      line-height: calc(18 / var(--font-size-base) * 1rem);
    }
  }

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & > svg {
      width: calc(28 / var(--font-size-base) * 1rem);
      height: calc(28 / var(--font-size-base) * 1rem);
      color: var(--checkbox-card-color);
      fill: var(--checkbox-card-fill);
    }

    &-description {
      display: flex;
      flex-direction: column;
      gap: calc(4 / var(--font-size-base) * 1rem);
      line-height: calc(20 / var(--font-size-base) * 1rem);

      & > span:first-child {
        line-height: calc(24 / var(--font-size-base) * 1rem);
        color: var(--checkbox-card-color);
      }

      & > span:not(:first-child) {
        color: var(--checkbox-card-color);
      }
    }
  }

  & ~ &__error {
    border: solid var(--color-red-700);

    & > svg {
      border: solid var(--color-red-700);
    }
  }

  &-group--vertical {
    flex-direction: var(--checkbox-card-flex-direction);

    .af-checkbox-card-label {
      flex-direction: var(--checkbox-card-flex-direction);
      align-items: var(--checkbox-card-align-items);

      .af-checkbox-card-content {
        flex-direction: var(--checkbox-card-flex-direction);

        .af-checkbox-card-content-description {
          flex-direction: var(--checkbox-card-flex-direction);
          align-items: var(--checkbox-card-align-item);
          text-align: left;
        }
      }
    }
  }

  &-group--horizontal {
    flex-direction: var(--checkbox-card-flex-direction);

    .af-checkbox-card-label {
      flex-direction: var(--checkbox-card-flex-direction);
      align-items: var(--checkbox-card-align-items);
      justify-content: var(--checkbox-card-justify-content);

      .af-checkbox-card-content {
        width: 100%;
        flex: 1;
        flex-direction: var(--checkbox-card-flex-direction);

        .af-checkbox-card-content-description {
          flex-direction: var(--checkbox-card-flex-direction);
          align-items: var(--checkbox-card-align-item);
          text-align: center;
        }
      }
    }
  }

  &-group--vertical,
  &-group--horizontal {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    font-family: var(--checkbox-card-font-family);
    font-style: normal;
    font-weight: 400;
    line-height: calc(20 / var(--font-size-base) * 1rem);

    .af-checkbox-card-label[aria-invalid="true"] {
      border: solid var(--checkbox-card-border);
      background-color: var(--checkbox-card-background-color);
      box-shadow: 0 0 0 1px var(--checkbox-card-shadow-color) inset;
    }

    .af-checkbox-card-label {
      display: flex;
      padding: 1rem;
      border: solid var(--checkbox-card-border);
      border-radius: var(--checkbox-card-border-radius);
      flex: 1;
      align-self: stretch;
      gap: calc(12 / var(--font-size-base) * 1rem);
      cursor: pointer;

      .af-checkbox-card-content {
        display: flex;
        align-items: center;
        gap: calc(4 / var(--font-size-base) * 1rem);

        .af-checkbox-card-icon {
          width: var(--checkbox-card-icon-lenght);
          height: var(--checkbox-card-icon-lenght);
          color: var(--checkbox-card-icon-color);
          fill: currentcolor;
        }

        .af-checkbox-card-content-description {
          display: flex;
          justify-content: center;
          font-size: 1rem;
          line-height: calc(20 / var(--font-size-base) * 1rem);

          & > span:first-child {
            font-size: calc(18 / var(--font-size-base) * 1rem);
            font-weight: 400;
            color: var(--checkbox-card-label-text-color);

            @media (width < #{breakpoints.$breakpoint-sm}) {
              font-size: calc(16 / var(--font-size-base) * 1rem);
              font-weight: 400;
            }
          }

          & > span:not(:first-child) {
            font-size: calc(16 / var(--font-size-base) * 1rem);
            font-weight: 400;
            color: var(--checkbox-card-label-text-color);

            @media (width < #{breakpoints.$breakpoint-sm}) {
              font-size: calc(14 / var(--font-size-base) * 1rem);
              font-weight: 400;
            }
          }
        }
      }

      &:hover {
        border: solid var(--checkbox-card-border);
        background-color: var(--checkbox-card-background-color);
        box-shadow: 0 0 0 1px var(--checkbox-card-shadow-color) inset;
      }
    }

    .af-checkbox-card-label:has(input:checked) {
      border: solid var(--checkbox-card-border);
      background-color: var(--checkbox-card-background-color);
      box-shadow: 0 0 0 1px var(--checkbox-card-shadow-color) inset;
    }
  }
}
