@use "CheckboxCardCommon";
@use "../../../common/breakpoints" as breakpoints;

.af-checkbox-card {
  &__label-container {
    --font-size-base: calc(16 / var(--font-size-base) * 1rem);
  }

  &__label {
    --checkbox-card-color: var(--neutral-100);
  }

  &__description {
    --checkbox-card-color: var(--neutral-80);
  }

  &-group {
    &--horizontal {
      --checkbox-card-flex-direction: column;

      .af-checkbox-card-label {
        --checkbox-card-flex-direction: row;

        .af-checkbox-card-content {
          --checkbox-card-flex-direction: row;
          --checkbox-card-margin-left: calc(12 / var(--font-size-base) * 1rem);

          .af-checkbox-card-content-description {
            --checkbox-card-flex-direction: column;
            --checkbox-card-align-item: flex-start;

            & > span:first-child {
              --checkbox-card-label-text-color: var(--axa-blue-100);
            }
          }
        }
      }
    }

    &--vertical {
      --checkbox-card-flex-direction: row;

      .af-checkbox-card-label {
        --checkbox-card-flex-direction: column-reverse;

        .af-checkbox-card-content {
          --checkbox-card-flex-direction: column;
          --checkbox-card-margin-left: calc(2 / var(--font-size-base) * 1rem);

          .af-checkbox-card-content-description {
            --checkbox-card-flex-direction: column;
            --checkbox-card-align-item: center;
          }
        }
      }
    }

    .af-checkbox-card-label {
      --checkbox-card-border: 1px var(--axa-blue-65);
      --checkbox-card-border-radius: calc(8 / var(--font-size-base) * 1rem);
      --checkbox-card-align-items: center;

      .af-checkbox-card-content .af-checkbox-card-content-description > span {
        &:first-child {
          --checkbox-card-label-text-color: var(--axa-blue-100);
        }

        &:not(:first-child) {
          --checkbox-card-label-text-color: var(--neutral-80);
        }
      }

      &[aria-invalid="true"] {
        --checkbox-card-background-color: var(--axa-red-4);
        --checkbox-card-border: 1px var(--red-alert-100);
        --checkbox-card-shadow-color: var(--red-alert-100);

        .af-checkbox-card-content-description > span:first-child {
          --checkbox-card-label-text-color: var(--neutral-80);
        }
      }

      &:has(input:checked) {
        --checkbox-card-border: 1px var(--axa-blue-100);
        --checkbox-card-shadow-color: var(--axa-blue-100);
        --checkbox-card-background-color: var(--axa-blue-4);

        .af-checkbox-card-content-description > span:first-child {
          --checkbox-card-label-text-color: var(--axa-blue-100);
        }
      }

      &:not([aria-invalid="true"]):hover {
        --checkbox-card-border: 1px var(--axa-blue-100);
        --checkbox-card-shadow-color: var(--axa-blue-100);
      }
    }
  }
}
