.af-container {
  --container-padding: 0 calc(30rem / 16);

  padding: var(--container-padding);

  @media (--desktop-small) {
    --container-padding: 0 calc(40rem / 16);
  }

  @media (--desktop-medium) {
    --container-padding: 0 calc(56rem / 16);
  }
}
