:root {
  --color-azur: #3032c1;
  --color-axa: #00008f;
  --color-white: #fff;
  --color-gray-1: #ccc;
  --color-green-1: #0c7d3b;
  --color-green-2: #084922;
  --color-red-1: #c7102e;
  --color-red-2: #6d0915;
}
