:root {
  /* COLORS *******************************************************************/
  --blue10: #f7f8fc;
  --blue20: #f6f6fc;
  --blue30: #e6e6f4;
  --blue40: #f7f6ff;
  --blue50: #ebebf9;
  --blue60: #e2e6f9;
  --blue70: #ebeaff;
  --blue80: #d9d9ee;
  --blue90: #e1e4f4;
  --blue100: #b7c3ff;
  --blue110: #c1c4ff;
  --blue120: #afb6e1;
  --blue130: #9999d2;
  --blue140: #3849b5;
  --blue150: #3032c1;
  --blue160: #00008f;
  --cyan10: #f5fbfd;
  --cyan20: #9cb8da;
  --cyan30: #3871b5;
  --purple10: #bfc0de;
  --purple20: #c1b0d5;
  --purple30: #bdb0c8;
  --purple40: #b3adb8;
  --purple50: #5f61ad;
  --purple60: #633a96;
  --purple70: #5a3976;
  --purple80: #41314d;
  --green10: #fafffb;
  --green20: #85b398;
  --green30: #a1bec6;
  --green40: #0c7d3b;
  --green50: #155d70;
  --green60: #084922;
  --red10: #fffafb;
  --red20: #debbc1;
  --red30: #c7102e;
  --red40: #6d0915;
  --orange10: #fffbfb;
  --orange20: #fff1ef;
  --orange30: #dea696;
  --orange40: #bc4c2d;
  --gray10: #f6f6f6;
  --gray20: #e9e9e9;
  --gray30: #e6e6e6;
  --gray40: #ccc;
  --gray50: #999;
  --gray60: #666;
  --gray80: #333;
  --black: #000;
  --white: #fff;

  /* BORDERS *******************************************************************/
  --border-info: var(--cyan20);
  --border-info-sucess: var(--green20);
  --border-info-warning: var(--orange30);
  --border-info-promotion: var(--orange40);
  --border-info-ecoconception: var(--green20);
  --border-info-accessibility: var(--cyan20);
  --border-info-error: var(--red20);
  --border-disabled: var(--gray40);
  --border-divider: var(--gray40);
  --border-default-question: var(--gray40);
  --border-action-primary: var(--white);
  --border-action-secondary: var(--blue160);
  --border-action-inverse: var(--blue150);
  --border-action-succes-default: var(--green60);
  --border-action-error-default: var(--red40);
  --border-table-header: var(--gray20);
  --border-tarif-section: var(--gray40);
  --border-tarif-mono: var(--blue160);
  --border-tarif-1: var(--blue140);
  --border-tarif-2: var(--green50);
  --border-tarif-3: var(--purple50);
  --border-tarif-4: var(--purple60);
  --border-tarif-5: var(--purple70);
  --border-tarif-6: var(--purple80);
  --border-table-header2: var(--gray40);
  --border-focus-default-outline: var(--blue160);
  --border-focus-inverse-outline: var(--white);

  /* ICONS *******************************************************************/
  --icon-info: var(--white);
  --icon-info-promotion: var(--orange40);
  --icon-info-ecoconception: var(--green40);
  --icon-info-accessibility: var(--cyan30);
  --icon-action-primary: var(--white);
  --icon-tarif-primary: var(--white);
  --icon-tarif-mono2: var(--blue160);
  --icon-tarif-1: var(--blue140);
  --icon-tarif-2: var(--green50);
  --icon-tarif-3: var(--purple50);
  --icon-tarif-4: var(--purple60);
  --icon-tarif-5: var(--purple70);
  --icon-tarif-6: var(--purple80);
  --icon-action-secondary: var(--blue150);
  --icon-action-tertiary: var(--gray80);
  --icon-disabled: var(--gray40);
  --icon-action-sucess: var(--green40);
  --icon-action-error: var(--red30);
  --icon-action-warning: var(--orange40);

  /* TEXT *******************************************************************/
  --text-action-default: var(--white);
  --text-info: var(--cyan30);
  --text-info-succes: var(--green40);
  --text-info-warning: var(--orange40);
  --text-info-promotion: var(--orange40);
  --text-info-ecoconception: var(--green40);
  --text-info-accessibility: var(--cyan30);
  --text-info-error: var(--red30);
  --text-table-header-title-primary: var(--white);
  --text-table-header-title-secondary: var(--blue150);
  --text-table-header-subtitle: var(--blue110);
  --text-table-row: var(--gray80);
  --text-tarif-primary: var(--white);
  --text-tarif-secondary: var(--gray80);
  --text-tarif-section: var(--blue160);
  --text-tarif-mono: var(--blue160);
  --text-tarif-1: var(--blue140);
  --text-tarif-2: var(--green50);
  --text-tarif-3: var(--purple50);
  --text-tarif-4: var(--purple60);
  --text-tarif-5: var(--purple70);
  --text-tarif-6: var(--purple80);
  --text-primary: var(--gray80);
  --text-action-secondary: var(--blue150);
  --text-link: var(--blue150);
  --text-disabled: var(--gray40);

  /* BACKGROUND *******************************************************************/
  --bg-info-primary: var(--cyan30);
  --bg-info-secondary: var(--cyan10);
  --bg-info-error-primary: var(--red30);
  --bg-info-error-secondary: var(--red10);
  --bg-info-warning-primary: var(--orange40);
  --bg-info-warning-secondary: var(--orange10);
  --bg-info-promotion: var(--orange20);
  --bg-info-ecoconception: var(--green10);
  --bg-info-accessibility: var(--cyan10);
  --bg-info-sucess-primary: var(--green40);
  --bg-info-sucess-secondary: var(--green10);
  --bg-action-default: var(--blue150);
  --bg-action-secondary: var(--white);
  --bg-action-tertiary: var(--gray20);
  --bg-action-hover: var(--blue160);
  --bg-action-sucess: var(--green40);
  --bg-action-sucess-hover: var(--green60);
  --bg-action-error: var(--red30);
  --bg-action-error-hover: var(--red40);
  --bg-action-disabled-default: var(--white);
  --bg-table-row-header-default: var(--blue150);
  --bg-tarif-accordion: var(--blue160);
  --bg-tarif-section: var(--gray60);
  --bg-tarif-header-top-default: var(--gray20);
  --bg-tarif-mono-header: var(--blue160);
  --bg-tarif-1-header: var(--blue140);
  --bg-tarif-2-header: var(--green50);
  --bg-tarif-3-header: var(--purple50);
  --bg-tarif-4-header: var(--purple60);
  --bg-tarif-5-header: var(--purple70);
  --bg-tarif-6-header: var(--purple80);
  --bg-tarif-mono-header-top-select: var(--blue130);
  --bg-tarif-1-header-top-select: var(--blue120);
  --bg-tarif-2-header-top-select: var(--green30);
  --bg-tarif-3-header-top-select: var(--purple10);
  --bg-tarif-4-header-top-select: var(--purple20);
  --bg-tarif-5-header-top-select: var(--purple30);
  --bg-tarif-6-header-top-select: var(--purple40);
  --bg-tarif-mono-row-primary-select: var(--white);
  --bg-tarif-1-row-primary-select: var(--white);
  --bg-tarif-1-row-secondary-select: var(--white);
  --bg-tarif-2-row-primary-select: var(--white);
  --bg-tarif-2-row-secondary-select: var(--white);
  --bg-tarif-3-row-primary-select: var(--white);
  --bg-tarif-3-row-secondary-select: var(--white);
  --bg-tarif-4-row-primary-select: var(--white);
  --bg-tarif-4-row-secondary-select: var(--white);
  --bg-tarif-5-row-primary-select: var(--white);
  --bg-tarif-5-row-secondary-select: var(--white);
  --bg-tarif-6-row-primary-select: var(--white);
  --bg-tarif-6-row-secondary-select: var(--white);
  --bg-table-row-header-active: var(--blue160);
  --bg-table-row-primary: var(--white);
  --bg-table-row-secondary: var(--gray20);
  --bg-table-restitution-section: var(--gray10);
  --bg-table-restitution-header: var(--blue160);
  --bg-table-restitution-footer: var(--blue160);
}
