@use "../core/FormCore";
@use "../../common/grid";

/* stylelint-disable no-descending-specificity */
.af-form {
  &__radio {
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--gray40);
  }

  &__radio,
  &__radio-inline {
    align-items: center;

    --radio-color: var(--disabled-color);
    --label-color: var(--text-color);

    color: var(--label-color);

    &:nth-last-child(1) {
      border-bottom: 0;
    }

    &:hover,
    &:focus-within {
      --radio-color: var(--brand-primary);
      --label-color: var(--brand-primary);
    }

    &:has(.af-form__input-radio:checked) {
      --radio-color: var(--brand-primary);
      --label-color: var(--brand-primary);
    }

    &:has(.af-form__input-radio[aria-invalid="true"]) {
      --radio-color: var(--error-color);
      --label-color: var(--error-color);
    }

    &:has(.af-form__input-radio:disabled) {
      --radio-color: var(--disabled-color);
      --label-color: var(--disabled-color);

      cursor: not-allowed;
    }

    .af-form__input-radio[aria-invalid="true"]:checked {
      background-color: var(--radio-color);
    }

    .af-form__input-radio {
      display: grid;
      width: 20px;
      height: 20px;
      border: 1px solid var(--radio-color);
      border-radius: 50%;
      place-content: center;
      cursor: pointer;
      appearance: none;

      &:checked::before {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--radio-color);
        transition: 120ms transform ease-in-out;
        content: "";
      }

      &:disabled {
        cursor: not-allowed;

        & + .af-form__label {
          cursor: not-allowed;
        }
      }
    }
  }

  &__radio-inline {
    position: relative;
    display: flex;
    margin-right: 1rem;
    align-items: center;

    .af-form__label {
      padding: 0;
    }

    .af-form__description {
      padding-left: 0.5rem;
    }
  }

  .af-form__text:has(.af-form__input-radio-inline) {
    display: flex;
  }

  &__text {
    &--warning {
      .af-form__radio,
      .af-form__radio-inline,
      .af-form__radio:has(.af-form__input-radio:checked),
      .af-form__radio-inline:has(.af-form__input-radio:checked) {
        --radio-color: var(--warning-color);
        --label-color: var(--warning-color);

        .af-form__input-radio:checked {
          background-color: var(--warning-color);
        }
      }
    }
  }

  /**
    * This is the "button" variant of the radio inputs.
    */
  &__radio-custom {
    position: relative;
    display: inline-flex;
    margin: 0 0.3rem 0.3rem 0;
    align-items: center;
    text-align: center;

    .af-form__label {
      --background-color: var(--inactive-button-background);
      --border-color: var(--inactive-button-border-color);
      --label-color: var(--text-color);

      margin: 0;
      padding: 0.6rem 2rem;
      font-weight: normal;
      color: var(--label-color);
      background: var(--background-color);
      box-shadow: inset 0 -2px 0 0 var(--border-color);
      cursor: pointer;
    }

    .af-form__description {
      padding: 0;
    }

    .af-form__input-radio {
      appearance: none;

      &:checked + .af-form__label,
      &:focus + .af-form__label {
        --background-color: var(--brand-primary);
        --border-color: var(--active-button-border-color);
        --label-color: var(--white);
      }
    }

    .af-form__label:hover:hover {
      --background-color: var(--brand-primary);
      --border-color: var(--active-button-border-color);
      --label-color: var(--white);
    }

    &--disabled {
      .af-form__label {
        opacity: 0.6;
        box-shadow: inset 0 -2px 0 0 var(--gray40);
        cursor: not-allowed;
      }

      .af-form__description {
        opacity: 0.4;
      }
    }

    &--error {
      .af-form__label {
        --label-color: var(--error-color);
        --background-color: var(--error-button-background);
        --border-color: var(--error-color);
      }
    }

    &--warning {
      .af-form__label {
        --label-color: var(--warning-color);
        --background-color: var(--orange10);
        --border-color: var(--warning-color);
      }
    }
  }
}

.af-form__radio-group {
  display: flex;
  margin-right: 1rem;
  flex-flow: row wrap;
}

.af-form__radio-group-classic {
  display: block;
  flex-grow: 1;
}
/* stylelint-enable no-descending-specificity */
