.af-form__radio-card-group {
  display: inline-flex;
  margin-right: 1rem;
  grid-gap: 25px;
  flex-flow: row wrap;

  .af-card {
    --color-radio-input-border: var(--gray50);

    width: var(--width-radio-card, initial);
    min-width: 11.25rem;
    height: var(--height-radio-card, initial);
    text-align: center;
    cursor: pointer;

    input[type="radio"] {
      display: grid;
      width: 1.1875rem;
      height: 1.1875rem;
      margin-bottom: 1.5rem;
      border: 1px solid var(--color-radio-input-border);
      border-radius: 50%;
      place-content: center;
      transform: translateY(-0.075em);
      cursor: pointer;
      appearance: none;

      &::before {
        width: 0.6875rem;
        height: 0.6875rem;
        border-radius: 50%;
        box-shadow: inset 1em 1em var(--color-radio-input-border);
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        content: "";
      }

      &:checked {
        --color-radio-input-border: var(--color-border-hover);
      }

      &:disabled {
        --color-radio-input-border: var(--gray40);

        cursor: not-allowed;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    &:hover {
      --color-radio-input-border: var(--axablue80);
    }

    &:has(input[type="radio"]:checked) {
      border: 2px solid var(--color-border-selected);

      --card-text-color: var(--gray80);
      --card-icon-color: var(--axablue80);
    }

    &:has(input[type="radio"]:disabled) {
      --card-border-color: transparent;
      --card-text-color: var(--gray40);
      --card-icon-color: var(--gray40);

      cursor: not-allowed;
    }
  }

  .af-card--error {
    --color-radio-input-border: var(--red30);
  }
}

.af-form__radio-card-group--horizontal {
  display: flex;
  flex-flow: column nowrap;

  /* stylelint-disable-next-line no-descending-specificity */
  .af-card input[type="radio"] {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}
