@import "./ProgressBarCommon.css";

.af-progress-bar {
  --progress-bar-radius: var(--radius-4);
  --progress-bar-background-color: var(--neutral-14);
  --progress-bar-appearance: var(--axa-blue-100);
}
