.af-progress-bar {
  display: block;
  width: 100%;
  height: calc(6 / var(--font-size-base) * 1rem);
  border: none;
  border-radius: var(--progress-bar-radius);
  overflow: hidden;
  background-color: var(--progress-bar-background-color);
  appearance: var(--progress-bar-appearance);

  /* For WebKit browsers */
  &::-webkit-progress-bar {
    background-color: var(--progress-bar-background-color);
  }

  /* For WebKit browsers */
  &::-webkit-progress-value {
    border-radius: var(--progress-bar-radius);
    background-color: var(--progress-bar-appearance);
    transition: width 0.75s ease;
  }

  /* For Firefox */
  &::-moz-progress-bar {
    border-radius: var(--progress-bar-radius);
    background-color: var(--progress-bar-appearance);

    /* transition doesn't work in Firefox for native progress bars */
  }
}

.af-progress-bar__label {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  user-select: none;
}

.af-progress-bar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(8 / var(--font-size-base) * 1rem);

  & > span {
    width: 44px;
    font: var(--font-family-base);
    font-size: calc(16 / var(--font-size-base) * 1rem);
    font-weight: 600;
    line-height: 125%;
    white-space: nowrap;
  }
}
