.af-contrat {
  position: relative;
  display: flex;
  width: fit-content;
  padding: calc(12 / 16 * 1rem) 1rem;
  border: 1px solid var(--gray40);
  border-radius: 25px;
  order: 3;
  align-items: center;
  justify-content: space-between;
  gap: calc(12rem / 16);
  font-size: calc(15rem / 16);
}

.af-contrat__icon {
  width: calc(19rem / 16);
  height: calc(19rem / 16);
  fill: var(--gray40);
}

.af-contrat__list {
  margin: 0;
}

.af-contrat__word {
  display: inline-block;
  margin-right: calc(4rem / 16);
  font-weight: 400;
}

.af-contrat__def {
  display: inline-block;
  margin: 0 calc(12rem / 16) 0 0;
  font-weight: 700;
}

.af-contrat__def:last-child {
  margin-right: 0;
}

@media (width >= 768px) {
  .af-contrat {
    margin: 0;
    order: 2;
  }
}
