@use "../../../common/common" as common;

.af-contrat {
  position: relative;
  display: flex;
  width: fit-content;
  padding: calc(12 / 16 * 1rem) 1rem;
  border: 1px solid common.$gray-lighter;
  border-radius: 25px;
  order: 3;
  align-items: center;
  justify-content: space-between;
  gap: calc(10 / 16 * 1rem);
  font-size: calc(14 / 16 * 1rem);
  line-height: 20px;
  color: common.$color-text-contract;

  .af-contrat__icon {
    width: calc(24 / 16 * 1rem);
    height: calc(24 / 16 * 1rem);
    fill: common.$color-gray-contract;
  }

  &__list {
    margin: 0;
  }

  &__word {
    display: inline-block;
    margin-right: 0.2rem;
    font-weight: 700;
  }

  &__def {
    display: inline-block;
    margin: 0 calc(12 / 16 * 1rem) 0 0;
  }
}

@include common.media-breakpoint-up(md) {
  .af-contrat {
    margin: 0;
    order: 2;
  }
}
