$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: $font-family-sans-serif !default;
$color-axa: #00008f !default;
$color-white: #fff !default;
$color-btn-light: #3333a5 !default;
$color-blue-1: #000072 !default;
$color-blue-2: #f8f8ff !default;
$color-blue-3: #36f !default;
$color-btn-business: #c94e14 !default;
$color-btn-business-dark: #a8391c !default;
$color-btn-business-light: #df7e65 !default;
$color-btn-disabled-bg: #e9ecf2 !default;
$color-btn-disabled-text: #999 !default;
$color-btn-disabled-border: #e5e5e5 !default;
$color-btn-error: #c91432 !default;
$color-btn-error-text: #a11028 !default;
$color-btn-error-bg: #fff3f5 !default;
$color-btn-tertiary-bg: #eef !default;
$color-btn-tertiary-bg-darker: #e4e4ff !default;
$color-btn-tertiary-bg-lighter: #f8f8ff !default;

$component-border-radius: 8px !default;

$transition-duration: 0.2s !default;
