@import "./TimelineVerticalCommon.css";

.af-timeline-vertical {
  --timeline-vertical-padding: calc(24 / var(--font-size-base) * 1rem);
  --timeline-vertical-title-color: var(--neutral-100);
  --timeline-vertical-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  --timeline-vertical-description-color: var(--neutral-80);
  --timeline-vertical-description-font-size: calc(
    14 / var(--font-size-base) * 1rem
  );
  --timeline-vertical-bg-color: var(--white-1000);
  --timeline-vertical-border-color: var(--blue-200);

  @media (--desktop-small) {
    --timeline-vertical-title-font-size: calc(
      18 / var(--font-size-base) * 1rem
    );
    --timeline-vertical-description-font-size: calc(
      16 / var(--font-size-base) * 1rem
    );
  }
}
