@use "../../../common/common" as common;

$logo-size: 55px;
$switch-size: 14px;

.af-logo {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;

  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }

  &-name,
  &-headline {
    vertical-align: bottom;
    line-height: 1;
    text-decoration: none;
  }

  &-name {
    font-weight: 700;
  }

  &-switch {
    width: $switch-size;
    height: $switch-size;
    margin: 0 2px;
    vertical-align: bottom;
    fill: common.$color-red-axa;
  }

  &__brand {
    width: $logo-size;
    height: $logo-size;
    margin-right: 0.5rem;
  }
}
