@import "./AccordionCommon.css";

.af-apollo-accordion {
  --accordion-info1-text-color: var(--gray-800);
  --accordion-info2-text-color: var(--green-1000);
  --accordion-title-text-color: var(--gray-1000);
  --accordion-subtitle-text-color: var(--gray-800);
  --accordion-title-font-size: var(--rem-16);
  --accordion-subtitle-font-size: var(--rem-14);
  --accordion-info2-font-size: var(--rem-16);
  --accordion-info1-font-size-secondary: var(--rem-14);
  --accordion-line-height: 1.25;
  --accordion-gap: var(--rem-4);

  @media (--desktop-small) {
    --accordion-column-gap: var(--rem-16);
    --accordion-title-font-size: var(--rem-18);
    --accordion-subtitle-font-size: var(--rem-16);
    --accordion-info2-font-size: var(--rem-18);
  }

  .af-accordion__date {
    --accordion-secondary-date-font-size: var(--rem-16);
    @media (--desktop-small) {
      --accordion-secondary-date-font-size: var(--rem-16);
    }
  }
}

.af-apollo-accordion--primary {
  --accordion-title-text-color: var(--gray-1000);

  .af-apollo-accordion__info1 {
    --accordion-info1-text-size: var(--rem-14);
  }
}

.af-apollo-accordion--secondary {
  --accordion-title-text-color: var(--gray-1000);
  --accordion-date-text-color: var(--gray-800);
  --accordion-secondary-date-font-size: var(--rem-14);

  .af-apollo-accordion__summary .af-accordion {
    @media (--desktop-small) {
      --accordion-secondary-date-font-size: var(--rem-18);
    }
  }

  .af-apollo-accordion__summary .af-accordion__date {
    --accordion-secondary-date-font-size: var(--rem-16);
    @media (--desktop-small) {
      --accordion-secondary-date-font-size: var(--rem-18);
    }
  }
}
