@import "./AccordionCommon.css";

.af-apollo-accordion {
  --accordion-info1-text-color: var(--gray-800);
  --accordion-info2-text-color: var(--green-1000);
  --accordion-title-text-color: var(--gray-1000);
  --accordion-subtitle-text-color: var(--gray-800);
  --accordion-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  --accordion-subtitle-font-size: calc(14 / var(--font-size-base) * 1rem);
  --accordion-info2-font-size: calc(16 / var(--font-size-base) * 1rem);
  --accordion-info1-font-size-secondary: calc(
    14 / var(--font-size-base) * 1rem
  );
  --accordion-line-height: 1.25;
  --accordion-gap: calc(4 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --accordion-column-gap: calc(16 / var(--font-size-base) * 1rem);
    --accordion-title-font-size: calc(18 / var(--font-size-base) * 1rem);
    --accordion-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
    --accordion-info2-font-size: calc(18 / var(--font-size-base) * 1rem);
  }

  .af-accordion__date {
    --accordion-secondary-date-font-size: calc(
      16 / var(--font-size-base) * 1rem
    );
    @media (--desktop-small) {
      --accordion-secondary-date-font-size: calc(
        16 / var(--font-size-base) * 1rem
      );
    }
  }
}

.af-apollo-accordion--primary {
  --accordion-title-text-color: var(--gray-1000);

  .af-apollo-accordion__info1 {
    --accordion-info1-text-size: calc(14 / var(--font-size-base) * 1rem);
  }
}

.af-apollo-accordion--secondary {
  --accordion-title-text-color: var(--gray-1000);
  --accordion-date-text-color: var(--gray-800);
  --accordion-secondary-date-font-size: calc(14 / var(--font-size-base) * 1rem);

  .af-apollo-accordion__summary .af-accordion {
    @media (--desktop-small) {
      --accordion-secondary-date-font-size: calc(
        18 / var(--font-size-base) * 1rem
      );
    }
  }

  .af-apollo-accordion__summary .af-accordion__date {
    --accordion-secondary-date-font-size: calc(
      16 / var(--font-size-base) * 1rem
    );
    @media (--desktop-small) {
      --accordion-secondary-date-font-size: calc(
        18 / var(--font-size-base) * 1rem
      );
    }
  }
}
