@import "./AccordionContextualCommon.css";

.af-apollo-accordion {
  --accordion-contextual-title-font-size: calc(
    16 / var(--font-size-base) * 1rem
  );
}

.af-apollo-accordion-contextual--info {
  --accordion-contextual-title-text-color: var(--axa-blue-100);
}

.af-apollo-accordion-contextual--warning {
  --accordion-contextual-title-text-color: var(--red-alert-100);
}
