.af-apollo-accordion-contextual .af-apollo-accordion__summary {
  --accordion-column-gap: calc(12 / var(--font-size-base) * 1rem);
  --accordion-gap: calc(4 / var(--font-size-base) * 1rem);
  --accordion-row-gap: calc(2 / var(--font-size-base) * 1rem);
  --spacing-summary-inline: calc(12 / var(--font-size-base) * 1rem);
  --spacing-summary-block: calc(16 / var(--font-size-base) * 1rem);

  display: grid;
  padding: var(--spacing-summary-block) var(--spacing-summary-inline);
  grid-template-areas: var(--summary-areas);
  grid-template-columns: var(--summary-columns);
  align-items: center;
  gap: var(--accordion-gap) var(--accordion-column-gap);
  font-family: var(--font-family-base);

  @media (--desktop-small) {
    --accordion-column-gap: calc(16 / var(--font-size-base) * 1rem);
  }

  .af-icon:first-child {
    grid-area: icon;
  }

  .af-accordion__title {
    grid-area: title;
    font-size: var(--accordion-title-font-size);
    font-weight: 600;
    line-height: var(--accordion-line-height);
    color: var(--accordion-contextual-title-text-color);
  }
}

.af-apollo-accordion-contextual--info,
.af-apollo-accordion-contextual--warning,
.af-apollo-accordion-contextual--inverse {
  --summary-areas: "icon title arrow";
  --summary-columns: min-content 1fr min-content;

  .af-apollo-accordion__summary:not(:has(.af-accordion__icon)) {
    --summary-areas: "title arrow";
    --summary-columns: 1fr min-content;
  }

  &.af-apollo-accordion[open] > .af-apollo-accordion__summary {
    border-bottom: none;
  }

  &[open]::details-content {
    display: grid;
    padding: calc(16 / var(--font-size-base) * 1rem);
  }
}
