@import "./AccordionContextualCommon.css";

.af-apollo-accordion {
  --accordion-contextual-title-font-size: var(--rem-16);
}

.af-apollo-accordion-contextual--info {
  --accordion-contextual-title-text-color: var(--blue-1000);
}

.af-apollo-accordion-contextual--warning {
  --accordion-contextual-title-text-color: var(--red-alert-1000);
}
