@import "./AccordionContextualCommon.css";

.af-apollo-accordion {
  --accordion-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  --accordion-title-text-color: var(--axa-blue-100);
  --accordion-line-height: 1.25;
  --accordion-column-gap: calc(12 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --accordion-column-gap: calc(16 / var(--font-size-base) * 1rem);
  }
}

.af-apollo-accordion-contextual--info {
  --accordion-title-text-color: var(--axa-blue-100);
}

.af-apollo-accordion-contextual--warning {
  --accordion-title-text-color: var(--red-alert-100);
}

.af-apollo-accordion-contextual--inverse {
  --accordion-title-text-color: var(--white);
}
