@use "../../common/breakpoints" as breakpoints;

@use "./ItemLabelCommon";

.af-item-label {
  --label-color: var(--neutral-100);
  --label-description-color: var(--neutral-80);

  > label > span[aria-hidden] {
    display: none;
  }
}
