.af-item-label {
  display: grid;
  width: 100%;
  grid-template-areas:
    "label sidebutton"
    "description sidebutton"
    "more more";
  grid-template-columns: 1fr auto;
  place-items: end start;
  row-gap: calc(4 / var(--font-size-base) * 1rem);

  &:has(> .af-item-label__sidebutton) {
    column-gap: calc(12 / var(--font-size-base) * 1rem);
  }

  &:not(:has(> .af-item-label__description), * ~ .af-item-label__more) {
    grid-template-areas: "label sidebutton";
  }

  &:not(:has(> .af-item-label__more)):has(* ~ .af-item-label__description) {
    grid-template-areas:
      "label sidebutton"
      "description sidebutton";
  }

  &:not(:has(> .af-item-label__description)):has(* ~ .af-item-label__more) {
    grid-template-areas:
      "label sidebutton"
      "more more";
  }
}

.af-item-label__label {
  grid-area: label;
  font-size: calc(16 / var(--font-size-base) * 1rem);
  font-weight: 600;
  line-height: calc(20 / var(--font-size-base) * 1rem);
  color: var(--label-color);

  @media (--desktop-small) {
    font-size: calc(18 / var(--font-size-base) * 1rem);
    line-height: calc(24 / var(--font-size-base) * 1rem);
  }
}

.af-item-label__sidebutton {
  grid-area: sidebutton;
  place-self: center end;

  &:has(+ .af-item-label__description) {
    align-self: end;
  }
}

.af-item-label__more {
  grid-area: more;
}

.af-item-label__description {
  grid-area: description;
  font-size: calc(14 / var(--font-size-base) * 1rem);
  font-weight: 400;
  line-height: 1.25em;
  color: var(--label-description-color);

  @media (--desktop-small) {
    font-size: calc(16 / var(--font-size-base) * 1rem);
    line-height: calc(20 / var(--font-size-base) * 1rem);
  }
}
