@use "./CheckboxCommon";

.af-checkbox {
  & ~ &__error {
    --error-box-color: var(--red-alert-100);

    & > svg {
      --error-box-color: var(--red-alert-100);
      --error-box-fill: var(--red-alert-100);
    }
  }

  & label {
    --border-radius: var(--default-border-radius);
  }

  & label input[type="checkbox"] {
    & ~ .af-checkbox__icons {
      --border-radius: 6px;
      --border: 1px solid var(--axa-blue-65);

      &:hover {
        --border: 2px solid var(--axa-blue-100);
      }
    }
  }

  & label:has(input[type="checkbox"][aria-invalid="true"]) {
    .af-checkbox__icons {
      --border: 1px solid var(--red-alert-100);
    }
  }

  & label:has(input[type="checkbox"]:checked) {
    .af-checkbox__icons {
      --border: 1px solid var(--axa-blue-100);
    }

    & .af-checkbox__checked {
      --check-fill: var(--white);
    }
  }

  & label input[type="checkbox"]:focus-visible ~ .af-checkbox__icons {
    --outline: 2px solid var(--color-blue-3);
  }

  & label input[type="checkbox"]:checked ~ .af-checkbox__icons {
    --background-color: var(--axa-blue-100);
  }
}
