@use "../../../common/common" as common;

.af-header-previous-link-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  gap: 0.25rem;

  @include common.media-breakpoint-up(md) {
    padding: 1.5rem 0 0 7.5rem;
  }

  .af-btn-client--header-previous-link {
    font-size: common.rem(16);
    font-weight: 400;
    line-height: common.rem(20);
    color: var(--color-gray-700);

    svg {
      fill: var(--color-gray-700);
    }

    @include common.media-breakpoint-up(md) {
      font-size: common.rem(18);
      line-height: common.rem(22.5);
    }
  }
}
