@use "../../../common/common" as common;

.af-header-previous-link-container {
  --color-gray-700: #5f5f5f;

  display: flex;
  padding-top: 1rem;
  align-items: center;
  gap: 0.25rem;

  @include common.media-breakpoint-up(1023px) {
    padding: 1.5rem 0 0 7.5rem;
  }

  .af-btn-client--header-previous-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--color-gray-700);

    svg {
      fill: var(--color-gray-700);
    }

    @include common.media-breakpoint-up(1023px) {
      font-size: 1.125rem;
      line-height: 1.406rem;
    }
  }
}
