.af-card-radio {
  display: flex;
  flex-direction: column;
  gap: var(--rem-8);
}

.af-card-radio__legend {
  display: contents;

  & > p {
    margin: 0;
  }
}

.af-card-radio__label {
  display: inline;
  font-size: var(--rem-18);
  font-weight: 600;
  color: var(--card-radio-color);

  span {
    margin-left: var(--rem-4);
  }
}

.af-card-radio__description {
  font-size: var(--rem-16);
  font-weight: 400;
  line-height: var(--rem-16);
  color: var(--card-radio-color);

  @media (--desktop-small) {
    font-size: var(--rem-18);
    line-height: var(--rem-18);
  }
}

.af-card-radio__options {
  display: flex;
  gap: 1rem;

  > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.af-card-radio__options--vertical {
  flex-direction: row;
}

.af-card-radio__options--horizontal {
  flex-direction: column;
}
