@use "../../common/common" as common;

.af-form {
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input-label {
    font-size: common.rem(16);
    font-weight: 600;
    line-height: common.rem(20);
    color: common.$color-gray-900;

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(18);
      line-height: common.rem(24);
    }
  }

  &__input-description {
    margin-top: -0.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: common.$color-gray-700;
  }

  &__input-helper {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    color: common.$color-gray-700;
  }

  &__input-more {
    fill: common.$color-axa;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__input-text {
    margin-top: 0.5rem;
    padding: 1rem 2.5rem 1rem 1rem;
    border: 1px solid common.$color-gray;
    border-radius: common.$default-border-radius;
    font-size: common.rem(16);
    line-height: common.rem(20);
    color: common.$color-gray-900;

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(18);
      line-height: common.rem(24);
    }

    &--error {
      border: 2px solid common.$color-red-700;
    }

    &:enabled {
      &:focus,
      &:active {
        border: 1px solid common.$color-axa;
        outline: none;
      }
    }

    &:not(:disabled, :focus, :active, &--error):hover {
      border: 2px solid common.$color-axa;
      outline: none;
    }
  }
}
