h2.af-title {
  font-size: 1.5rem;
}

h3.af-title {
  font-size: 1.25rem;
}

h4.af-title {
  font-size: 1.125rem;
}

.af-title {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  color: var(--gray80);
}

.af-title--content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.af-title--content > .af-title {
  flex: 0 0 auto;
}

.af-title--content .content-left,
.af-title--content .content-right {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.af-title--content .content-left > .af-btn,
.af-title--content .content-right > .af-btn {
  width: auto;
}

.af-title--container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.af-title--container > .af-title {
  flex: 0 0 auto;
}

.af-title--container > .af-title--content {
  min-width: 0;
  flex: 1 1 auto;
}

.af-title + .af-title {
  margin-top: 0;
}
