@import "./ButtonCommon.css";

.af-btn-client {
  --button-bg-color: var(--color-axa);
  --button-text-color: var(--color-white);
  --button-radius: var(--radius-8);
  --button-shadow-color: var(--color-axa);
  --button-padding: calc(16 / var(--font-size-base) * 1rem);
  --button-line-height: calc(24 / var(--font-size-base) * 1rem);
  --button-font-size: calc(16 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --button-font-size: calc(18 / var(--font-size-base) * 1rem);
    --button-padding: calc(16 / var(--font-size-base) * 1rem)
      calc(24 / var(--font-size-base) * 1rem);
  }

  &:hover {
    --button-bg-color: var(--color-blue-1);
  }

  &:active {
    --button-bg-color: var(--color-btn-light);
  }

  &:focus-visible,
  &:focus {
    --button-outline-color: var(--color-blue-3);
  }

  &:disabled,
  &[aria-disabled="true"] {
    --button-bg-color: var(--color-gray-300);
    --button-text-color: var(--color-gray-500);
    --button-shadow-color: var(--color-gray-500);
  }
}

.af-btn-client--primary-business {
  --button-bg-color: var(--color-btn-business);

  &:hover {
    --button-bg-color: var(--color-btn-business-dark);
  }

  &:active {
    --button-bg-color: var(--color-btn-business-light);
  }
}

.af-btn-client--primary-inverse {
  --button-text-color: var(--color-axa);
  --button-bg-color: var(--color-white);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--color-white);
    --button-text-color: var(--color-blue-1);
  }

  &:active {
    --button-bg-color: var(--color-white);
    --button-text-color: var(--color-blue-80);
  }
}

.af-btn-client--ghost {
  --button-text-color: var(--color-axa);
  --button-bg-color: transparent;
  --button-padding: 0;
  --button-font-size: calc(16 / var(--font-size-base) * 1rem);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-text-color: var(--color-blue-1);
    --button-bg-color: transparent;
  }

  &:active {
    --button-text-color: var(--color-btn-light);
  }

  &:disabled,
  &[aria-disabled="true"] {
    --button-bg-color: transparent;
  }
}

.af-btn-client--secondary {
  --button-bg-color: var(--color-white);
  --button-text-color: var(--color-axa);
  --button-shadow-color: var(--color-axa);

  box-shadow: 0 0 0 1px var(--button-shadow-color) inset;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    --button-bg-color: var(--color-white);
    --button-text-color: var(--color-blue-1);

    box-shadow: 0 0 0 2px var(--color-blue-1) inset;
  }

  &:active {
    --button-bg-color: var(--color-blue-2);
  }
}

.af-btn-client--secondary-inverse {
  --button-bg-color: transparent;
  --button-text-color: var(--color-white);
  --button-shadow-color: var(--color-white);

  box-shadow: 0 0 0 2px var(--button-shadow-color) inset;

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--color-gray-400);
    --button-text-color: var(--color-blue-1);
    --button-shadow-color: var(--color-gray-400);
  }

  &:active {
    --button-bg-color: var(--color-gray-200);
    --button-text-color: var(--color-btn-light);
    --button-shadow-color: var(--color-gray-200);
  }
}

.af-btn-client--tertiary {
  --button-bg-color: var(--color-btn-tertiary-bg);
  --button-text-color: var(--color-axa);

  &:hover {
    --button-bg-color: var(--color-btn-tertiary-bg-darker);
  }

  &:active {
    --button-bg-color: var(--color-btn-tertiary-bg-lighter);
    --button-text-color: var(--color-axa);
  }
}
