@import "./ButtonCommon.css";

.af-btn-client {
  --button-bg-color: var(--blue-1000);
  --button-text-color: var(--white-1000);
  --button-radius: var(--radius-32);
  --button-shadow-color: var(--blue-1000);
  --button-padding: calc(12 / var(--font-size-base) * 1rem)
    calc(24 / var(--font-size-base) * 1rem);
  --button-line-height: calc(24 / var(--font-size-base) * 1rem);
  --button-font-size: calc(16 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --button-line-height: calc(32 / var(--font-size-base) * 1rem);
    --button-font-size: calc(18 / var(--font-size-base) * 1rem);
  }

  &:hover {
    --button-bg-color: var(--blue-1200);
  }

  &:active {
    --button-bg-color: var(--blue-900);
  }

  &:focus-visible,
  &:focus {
    --button-outline-color: var(--blue-650);
  }

  &:disabled,
  &[aria-disabled="true"] {
    --button-bg-color: var(--neutral-5);
    --button-text-color: var(--neutral-50);
    --button-shadow-color: var(--neutral-50);
  }
}

.af-btn-client--primary-business {
  --button-bg-color: var(--warning-100);
  --button-text-color: var(--white-1000);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--warning-120);
  }

  &:active {
    --button-bg-color: var(--warning-80);
  }
}

.af-btn-client--primary-inverse {
  --button-bg-color: var(--white-1000);
  --button-text-color: var(--blue-1000);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--neutral-14);
    --button-text-color: var(--blue-1200);
  }

  &:active {
    --button-bg-color: var(--neutral-5);
    --button-text-color: var(--blue-900);
  }
}

.af-btn-client--ghost {
  --button-bg-color: transparent;
  --button-text-color: var(--blue-1000);
  --button-padding: 0;

  &:hover,
  &:focus,
  &:focus-visible {
    --button-text-color: var(--blue-1200);
    --button-bg-color: transparent;
  }

  &:active {
    --button-text-color: var(--blue-900);
  }

  &:disabled,
  &[aria-disabled="true"] {
    --button-bg-color: transparent;
  }
}

.af-btn-client--secondary {
  --button-bg-color: var(--white-1000);
  --button-text-color: var(--blue-1000);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--blue-1200);
    --button-text-color: var(--white-1000);
    --button-shadow-color: var(--blue-1200);
  }

  &:active {
    --button-bg-color: var(--blue-900);
    --button-text-color: var(--white-1000);
    --button-shadow-color: var(--blue-900);
  }
}

.af-btn-client--secondary-inverse {
  --button-bg-color: transparent;
  --button-text-color: var(--white-1000);
  --button-shadow-color: var(--white-1000);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--neutral-14);
    --button-text-color: var(--blue-1200);
    --button-shadow-color: var(--neutral-14);
  }

  &:active {
    --button-bg-color: var(--neutral-5);
    --button-text-color: var(--blue-900);
    --button-shadow-color: var(--neutral-5);
  }
}

.af-btn-client--tertiary {
  --button-bg-color: var(--blue-80);
  --button-text-color: var(--blue-1000);

  &:hover,
  &:focus,
  &:focus-visible {
    --button-bg-color: var(--blue-1200);
    --button-text-color: var(--white-1000);
  }

  &:active {
    --button-bg-color: var(--blue-900);
    --button-text-color: var(--white-1000);
  }
}
