@use "sass:color";
@use "../common/common.agent.scss" as common;

.af-loader {
  position: relative;
  min-height: 94px;

  &-on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 75%);
  }
}

.af-spinner {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  transform: translateY(-50%);

  &__caption {
    text-align: center;
    color: common.$color-scorpion;
  }

  &__animation {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    background-color: common.$brand-primary;
    animation: rotateplane 1.1s infinite ease-in-out;
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
