@use "../common/common" as common;

.af-list {
  padding: 0;
  flex-direction: column;
  list-style-type: none;

  &__item {
    padding: 1rem 0;
  }
}

.af-card {
  &--list {
    padding: 0 1rem;
    box-shadow: none;
  }

  &--click-list {
    padding: 0;

    .af-divider {
      width: calc(100% - 2rem);
      margin: auto;
    }

    .af-list__item {
      padding: 0;
    }
  }

  &--extra-padding {
    padding: 0.5rem 1.5rem;
  }

  &--first-divider-full-width {
    padding: 0;

    .af-list__item {
      padding: 1rem;

      &:has(.af-click-item) {
        padding: 0;
      }
    }

    .af-divider ~ .af-divider {
      margin: 0 1rem;
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-card--extra-padding {
    padding: 0.25rem 1rem;

    .af-list__item {
      padding: 0.75rem 0;
    }
  }
}
