@use "../common/common" as common;

.af-list {
  padding: 0;
  flex-direction: column;
  list-style-type: none;

  &__item {
    padding: 1rem 0;
  }

  &__separator {
    margin: 0;
    border: 0;
    border-top: 1px solid common.$color-gray-300;
  }
}

.af-card {
  &--list {
    padding: 0 1rem;
    box-shadow: none;
  }

  &--click-list {
    padding: 0;

    .af-list__separator {
      width: calc(100% - 2rem);
      margin: auto;
    }

    .af-list__item {
      padding: 0;
    }
  }

  &--large {
    width: 100%;
  }

  &--extra-padding {
    padding: 0.5rem 1.5rem;
  }

  &--first-separator-full-width {
    padding: 0;

    .af-list__item {
      padding: 1rem;
    }

    .af-list__separator ~ .af-list__separator {
      margin: 0 1rem;
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-card--extra-padding {
    padding: 0.25rem 1rem;

    .af-list__item {
      padding: 0.75rem 0;
    }
  }
}
