@use "../common/common" as common;

.af-list {
  padding: 0;
  flex-direction: column;
  list-style-type: none;

  &__item {
    --separator-padding: 0rem;

    position: relative;
    padding: 1rem 0;

    &:not(:last-child)::after {
      position: absolute;
      bottom: 0;
      left: var(--separator-padding);
      width: calc(100% - (2 * var(--separator-padding)));
      height: 1px;
      background-color: common.$color-gray-300;
      content: "";
    }
  }
}

.af-card {
  &--list {
    padding: 0 1rem;
    align-self: start;
    box-shadow: none;
  }

  &--click-list {
    padding: 0;

    .af-list__item {
      padding: 0;

      &:not(:last-child)::after {
        --separator-padding: 1rem;
      }
    }
  }

  &--extra-padding {
    padding: 0.5rem 1.5rem;
  }

  &--first-separator-full-width {
    padding: 0;

    .af-list__item {
      padding: 1rem;

      &:has(.af-click-item) {
        padding: 0;
      }

      &:not(:first-child, :last-child)::after {
        --separator-padding: 1rem;
      }
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-card--extra-padding {
    padding: 0.25rem 1rem;

    .af-list__item {
      padding: 0.75rem 0;
    }
  }
}
