.af-skeleton-container {
  --max-cols: 12;
  --col-gap: 1rem;
  --row-gap: 0.5rem;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(var(--max-cols), 1fr);
  gap: var(--row-gap) var(--col-gap);
}

.af-skeleton {
  --col-size: 1;
  --row-size: 1;

  width: 100%;
  height: 20px;
  grid-column: span var(--col-size);
  grid-row: span var(--row-size);
  background: linear-gradient(
    -45deg,
    var(--skeleton-color-odd) 40%,
    var(--skeleton-color-even) 50%,
    var(--skeleton-color-odd) 60%
  );
  background-size: 400% 400%;
}

@media (prefers-reduced-motion: no-preference) {
  .af-skeleton {
    animation: pulse 1s ease-in infinite;
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -100% 0%;
  }
}
