@import "./CardMessageCommon.css";

.af-card-message {
  --card-message-padding: calc(12 / var(--font-size-base) * 1rem);
  --card-message-border-radius: var(--radius-4);
}

.af-card-message--info {
  --card-message-background-color: var(--blue-80);
  --card-message-text-color: var(--blue-1000);
  --card-message-border-color: var(--blue-1000);
}

.af-card-message--warning {
  --card-message-background-color: var(--orange-100);
  --card-message-text-color: var(--orange-1050);
  --card-message-border-color: var(--orange-1050);
}

.af-card-message--error {
  --card-message-background-color: var(--red-040);
  --card-message-text-color: var(--red-alert-1200);
  --card-message-border-color: var(--red-alert-1200);
}

.af-card-message--neutral {
  --card-message-background-color: var(--color-gray-200);
  --card-message-text-color: var(--color-gray-900);
  --card-message-border-color: var(--color-gray-900);
}
