@import "./CardMessageCommon.css";

.af-card-message {
  --card-message-padding: var(--spacing-8) var(--spacing-16);
  --card-message-border-radius: var(--radius-8);
}

.af-card-message--info {
  --card-message-background-color: var(--blue-040);
  --card-message-border-color: var(--blue-040);
  --card-message-text-color: var(--blue-1000);
}

.af-card-message--warning {
  --card-message-background-color: var(--red-040);
  --card-message-border-color: var(--red-040);
  --card-message-text-color: var(--warning-100);
}

.af-card-message--error {
  --card-message-background-color: var(--red-040);
  --card-message-border-color: var(--red-040);
  --card-message-text-color: var(--red-alert-1000);
}

.af-card-message--neutral {
  --card-message-background-color: var(--neutral-5);
  --card-message-border-color: var(--neutral-5);
  --card-message-text-color: var(--neutral-80);
}
