.af-multi-message {
  --multi-message-gap: var(--rem-16);

  gap: var(--multi-message-gap);
}

.af-multi-message__footer {
  display: flex;
  width: 100%;
  margin-top: var(--rem-20);
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--rem-8);
}

.af-multi-message__pagination .af-pagination-list {
  margin: 0;
}

.af-multi-message__pagination .af-pagination-counter {
  color: var(--gray-800);
}

.af-multi-message__pagination
  .af-pagination-list
  > li:has(> .af-pagination-counter) {
  display: list-item;
}

.af-multi-message__pagination
  .af-pagination-list
  > li:has(> .af-item-pagination) {
  display: none;
}

.af-multi-message__action {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--rem-16);
}
