.af-input-error {
  display: flex;
  gap: 0.25rem;

  &__icon {
    width: 1rem;
    flex-shrink: 0;
    color: var(--color-red-700);
    fill: var(--color-red-700);
  }

  &__message {
    font-family: var(--font-family-base);
    font-size: 1rem;
    color: var(--color-red-700);
  }
}
