@import "./LevelSelectorCommon.css";

.af-level-selector {
  --level-font-family: var(--font-family-sans-serif);
  --level-selector-color: var(--blue-1000);
  --level-selector-title-color: var(--color-gray-900);
  --level-selector-outline-color: var(--blue-200);
  --level-selector-description-font-size: calc(
    16 / var(--font-size-base) * 1rem
  );
  --level-selector-description-color: var(--color-gray-700);
}
