@import "./LevelSelectorCommon.css";

.af-level-selector {
  --level-font-family: var(--font-family-sans-serif);
  --level-selector-color: var(--blue-1000);
  --level-selector-title-color: var(--gray-1000);
  --level-selector-outline-color: var(--blue-200);
  --level-selector-description-font-size: var(--rem-16);
  --level-selector-description-color: var(--gray-800);
}
