.af-level-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--rem-16);
  outline-color: var(--level-selector-outline-color);
}

.af-level-selector__title {
  display: contents;
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  color: var(--level-selector-title-color);
}

.af-level-selector__description {
  font-size: var(--level-selector-description-font-size);
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  color: var(--level-selector-description-color);
}

.af-level-selector__content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--rem-8);
}

.af-level-selector__group {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--rem-8);

  @media (--desktop-small) {
    gap: var(--rem-4);
  }
}

.af-level-selector__radio {
  height: var(--rem-24);
  border: 1px solid var(--level-selector-color);
  border-radius: var(--rem-16);
  flex: 1;
  outline: none;
  cursor: pointer;

  @media (--desktop-small) {
    height: var(--rem-16);
  }

  &:hover,
  &:focus,
  &:has(input:focus-visible) {
    outline: 1px solid var(--level-selector-color);
  }

  input {
    opacity: 0;
  }
}

.af-level-selector__active {
  background-color: var(--level-selector-color);
}
