@use "../common/breakpoints";
@use "./HeadingCommon";

.af-heading {
  --heading-grid-column: 1;
  --heading-title-color: var(--axa-blue-100);
  --heading-subtitle-color: var(--neutral-100);
  --heading-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);

  h1 {
    --heading-title-font-size: calc(32 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(40 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 700;
  }

  h2 {
    --heading-title-font-size: calc(28 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(36 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 300;
  }

  h3 {
    --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(32 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 600;
  }

  &:has(&__icon) {
    --heading-grid-column: 2;
  }

  @media (width > #{breakpoints.$breakpoint-md}) {
    --heading-subtitle-font-size: calc(18 / var(--font-size-base) * 1rem);

    h1 {
      --heading-title-font-size: calc(48 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(56 / var(--font-size-base) * 1rem);
    }

    h2 {
      --heading-title-font-size: calc(40 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(48 / var(--font-size-base) * 1rem);
    }

    h3 {
      --heading-title-font-size: calc(32 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(40 / var(--font-size-base) * 1rem);
    }
  }
}
