@import "./CardRadioOptionCommon.css";

.af-card-radio-option {
  --radio-option-border-color: var(--axa-blue-65);
  --radio-option-color-title: var(--axa-blue-100);
  --radio-option-color-subtitle: var(--neutral-80);
  --radio-option-gap: calc(8 / var(--font-size-base) * 1rem);
  --radio-option-border-radius: var(--radius-8);
  --radio-option-background-color: var(--white);

  &:hover,
  &:focus-visible,
  &:focus-within {
    --radio-option-border-color: var(--axa-blue-100);
  }

  &:has(input:checked) {
    --radio-option-background-color: var(--axa-blue-4);
    --radio-option-border-color: var(--axa-blue-100);
  }
}

.af-card-radio-option--horizontal {
  --radio-option-gap: calc(8 / var(--font-size-base) * 1rem);

  & .af-card-radio-option__content {
    --radio-option-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  & .af-radio {
    margin-right: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-card-radio-option:not(.af-card-radio-option--horizontal) .af-radio {
  margin-top: calc(8 / var(--font-size-base) * 1rem);
}

.af-card-radio-option--invalid:not(:has(input:checked)) {
  --radio-option-border-color: var(--red-alert-100);
  --radio-option-background-color: var(--axa-red-4);
}
