@use "../../../common/breakpoints";

.af-card-radio-option {
  --radio-option-border-width: 1px;
  --radio-option-background-color: var(--white);

  position: relative;
  display: flex;
  padding: 1rem;
  border-radius: var(--radio-option-border-radius);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--radio-option-gap);
  text-align: center;
  background-color: var(--radio-option-background-color);
  outline: var(--radio-option-border-width) solid
    var(--radio-option-border-color);
  outline-offset: calc(-1 * var(--radio-option-border-width));
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:focus-within {
    --radio-option-border-width: 2px;
  }

  &__label {
    margin: 0;
    font-size: calc(16 / var(--font-size-base) * 1rem);
    font-weight: 400;
    color: var(--radio-option-color-title);

    @media (width > #{breakpoints.$breakpoint-sm}) {
      font-size: calc(18 / var(--font-size-base) * 1rem);
    }
  }

  &:has(input:checked) .af-card-radio-option__label {
    font-weight: 600;
  }

  &:has(input:checked),
  &--invalid:not(:has(input:checked)) {
    --radio-option-border-width: 2px;

    &:hover,
    &:focus-visible,
    &:focus-within {
      --radio-option-border-width: 3px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--radio-option-gap);
    text-align: center;
  }

  &__description,
  &__subtitle {
    margin: 0;
    font-size: calc(14 / var(--font-size-base) * 1rem);
    font-weight: 400;
    color: var(--radio-option-color-subtitle);

    @media (width > #{breakpoints.$breakpoint-sm}) {
      font-size: 1rem;
    }
  }

  &--horizontal {
    flex-direction: row;

    & .af-card-radio-option__content {
      align-items: flex-start;
    }

    & .af-radio {
      order: -1;
    }
  }

  & .af-icon {
    --icon-size: var(--icon-size-medium);

    @media (width > #{breakpoints.$breakpoint-sm}) {
      --icon-size: var(--icon-size-large);
    }
  }
}
