@use "sass:list";
@use "../../../common/common" as common;

.af-title-bar {
  margin-bottom: 2rem;
  padding: 1rem 0;
  overflow: auto;
  color: common.$white;
  background: common.$brand-primary;

  &--sticky {
    position: sticky;
    z-index: 110;
    top: 0;
  }

  &--fixed {
    position: fixed;
    width: 100%;
  }

  &__button {
    margin-right: 1rem;

    .button--circled:hover {
      color: initial;

      .button__icon {
        fill: initial;
      }
    }
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 600;
    color: common.$white;
  }

  &__subtitle {
    margin-left: 0.25rem;
    font-weight: 400;
    color: common.$color-blue-subtitle;
  }

  &__actions {
    .af-btn--circle {
      margin-left: 1rem;
      vertical-align: middle;

      &:focus {
        color: common.$white;
        box-shadow: 0 0 6px common.$white;
      }
    }
  }

  &__link {
    text-decoration: underline;
    color: common.$white;

    &:hover {
      opacity: 0.65;
      color: common.$white;
    }

    &:focus {
      text-shadow: 0 0 5px common.$white;
      color: common.$white;
    }
  }

  &__mobile-menu {
    display: inline-block;
    margin-right: 1rem;
    padding: 0;
    background-color: transparent;
    background-image: none;

    .glyphicon {
      width: 17px;
      fill: common.$white;
    }
  }

  &__icon {
    font-size: 1em;
  }
}

@include common.media-breakpoint-up(sm) {
  .af-title-bar {
    &__wrapper {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .burger-container {
    display: none;
  }
}

@include common.media-breakpoint-up(md) {
  .af-title-bar {
    &__wrapper {
      width: list.nth(list.nth(common.$container-max-widths, 4), 2);
      max-width: 100%;
    }

    &__title {
      font-size: 1.375rem;
    }
  }
}
