@use "../../common/common" as common;

.af-form {
  &__input-container {
    --row-gap: calc(8 / var(--font-size-base) * 1rem);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--row-gap);
  }

  &__label-container {
    --row-gap: calc(4 / var(--font-size-base) * 1rem);

    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
  }

  &__input-label {
    font-size: common.rem(18);
    font-weight: 600;
    line-height: common.rem(20);
    color: var(--color-gray-900);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(18);
      line-height: common.rem(24);
    }
  }

  &__input-description {
    font-size: common.rem(14);
    font-weight: 400;
    line-height: common.rem(18);
    color: var(--color-gray-700);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(16);
      line-height: common.rem(20);
    }
  }

  &__input-helper {
    font-size: common.rem(14);
    line-height: common.rem(18);
    color: var(--color-gray-700);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(16);
      line-height: common.rem(20);
    }
  }

  &__input-more {
    width: fit-content;
    fill: var(--color-axa);

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__input-variant {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    font-weight: 600;
    fill: var(--color-gray-900);
    transform: translateY(-50%);
  }

  &__input-text {
    padding: 1rem 2.5rem 1rem 1rem;
    border: 1px solid var(--color-gray);
    border-radius: var(--default-border-radius);
    font-size: common.rem(16);
    line-height: common.rem(20);
    color: var(--color-gray-900);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(18);
      line-height: common.rem(24);
    }

    &--error {
      border: 1px solid var(--color-red-700);
    }

    &:focus-within,
    &:active,
    &:focus {
      outline: none;
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid var(--color-axa);
      box-shadow: 0 0 0 1px var(--color-axa) inset;
    }

    &--error:is(:hover, :focus, :active) {
      border: 1px solid var(--color-red-700);
      box-shadow: 0 0 0 1px var(--color-red-700) inset;
    }

    &:disabled,
    &:disabled:is(:hover, :focus, :active) {
      color: var(--color-gray-500);
      border: 1px solid var(--color-gray-400);
      background-color: var(--color-border);
      box-shadow: unset;
      cursor: not-allowed;

      & ~ svg {
        fill: var(--color-gray-500);
        cursor: not-allowed;
      }
    }
  }
}
