@use "../../common/common" as common;

.af-form {
  &__input-container {
    --row-gap: calc(8 / var(--font-size-base) * 1rem);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--row-gap);
  }

  &__label-container {
    --row-gap: calc(4 / var(--font-size-base) * 1rem);

    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: var(--row-gap);
  }

  &__label-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input-label {
    font-size: common.rem(18);
    font-weight: 600;
    line-height: common.rem(20);
    color: var(--color-gray-900);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(18);
      line-height: common.rem(24);
    }
  }

  &__input-description {
    font-size: common.rem(14);
    font-weight: 400;
    line-height: common.rem(18);
    color: var(--color-gray-700);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(16);
      line-height: common.rem(20);
    }
  }

  &__input-helper {
    font-size: common.rem(14);
    line-height: common.rem(18);
    color: var(--color-gray-700);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(16);
      line-height: common.rem(20);
    }
  }

  &__input-more {
    width: fit-content;
    fill: var(--color-axa);

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__input-text {
    font-size: common.rem(16);
    line-height: common.rem(20);
    color: var(--color-gray-900);

    & ~ * {
      color: var(--color-gray-900);
      fill: var(--color-gray-900);
    }

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(18);
      line-height: common.rem(24);
    }
  }

  &__input-variant {
    & > input {
      all: unset;
    }

    display: grid;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-gray);
    border-radius: var(--default-border-radius);
    grid-template-columns: auto min-content;
    align-items: center;
    background-color: var(--color-white);

    &:has(> input:is(:focus-visible)) {
      outline: 2px solid var(--color-focus);
      outline-offset: 3px;
    }

    &:has(> input:is(:hover, :focus, :active)) {
      border: 1px solid var(--color-axa);
      box-shadow: 0 0 0 1px var(--color-axa) inset;
    }

    &:has(> input[class*="--error"]) {
      border: 1px solid var(--color-red-700);
    }

    & > input ~ * {
      margin-left: 0.5rem;
    }

    &:has(> input:disabled),
    &:has(> input:disabled):is(:hover, :focus, :active) {
      border: 1px solid var(--color-gray-400);
      color: var(--color-gray-500);
      background-color: var(--color-border);
      box-shadow: unset;
      cursor: not-allowed;

      & > input ~ * {
        color: var(--color-gray-500);
        cursor: not-allowed;
        fill: var(--color-gray-500);
      }
    }

    &:has(> input[class*="--error"]):is(:hover, :focus, :active) {
      border: 1px solid var(--color-red-700);
      box-shadow: 0 0 0 1px var(--color-red-700) inset;
    }

    &:has(input:not([value=""], [class*="--error"])) {
      &:not(:hover, :focus, :active) {
        border: 1px solid var(--color-axa);
      }
    }
  }
}
