#root {
  width: 100%;
  margin: auto;
  background-color: #fafafa;
  min-height: 100vh;
}
.design-section {
  padding: 0 10rem 3rem 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.design-section:first-of-type {
  padding-top: 3rem;
  margin-bottom: 1rem;
}

article {
  padding: 1rem 0;
  margin: auto;
  width: 100%;
}

.af-test-token-css {
  color: var(--color-axa);
  border: 1px solid var(--color-red);
  padding: var(--spacing-u1);
}
