@use "../../common/common" as common;
@use "../core/FormCore";
@use "../../common/grid";
@use "../../common/reboot";
@use "../../common/tokens.css";
/* stylelint-disable no-descending-specificity */
.af-form {
  &__checkbox,
  &__checkbox-inline {
    &--disabled {
      .af-form__label {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    &--error {
      .af-form__label {
        color: var(--error-color);
      }

      .af-form__indicator {
        border-color: var(--error-color);
      }
    }

    &--warning {
      .af-form__label {
        color: common.$color-orange-dark;
      }

      .af-form__indicator {
        border-color: common.$color-orange-dark;
      }
    }
  }

  &__input-checkbox {
    position: absolute;
    opacity: 0;

    &:checked + .af-form__label {
      .af-form__indicator {
        border-color: common.$color-azur;
        color: common.$white;
        background-color: common.$color-azur;

        .glyphicon-ok {
          display: block;
        }
      }
    }

    &:focus + .af-form__label {
      color: common.$color-azur;
    }
  }

  /* Déclinaisons des checkbox ****************************************************/

  /* Classic */
  &__checkbox {
    position: relative;
    display: block;
    border-bottom: 1px solid common.$color-silver;
    align-items: center;

    &:nth-last-child(1) {
      border-bottom: 0;
    }
  }

  /* Inline */
  &__checkbox-inline {
    position: relative;
    display: inline-flex;
    margin-right: 1rem;
    align-items: center;

    .af-form__label {
      padding: 0;
    }
  }

  /* Custom */
  &__checkbox-custom,
  &__checkbox-toggle {
    position: relative;
    display: inline-flex;
    margin: 0 0.3rem 0.3rem 0;
    align-items: center;
    text-align: center;

    .af-form__label {
      margin: 0;
      padding: 0.5rem 2rem;
      border: common.$color-gray;
      font-weight: normal;
      background: var(--gray20);
      box-shadow: inset 0 -2px 0 0 var(--gray50);
      cursor: pointer;
    }

    .af-form__indicator {
      left: 1rem;
    }

    .af-form__description {
      padding-left: 0.5em;
    }

    .af-form__input-checkbox {
      position: absolute;
      opacity: 0;

      &:checked + .af-form__label {
        color: var(--white);
        background-color: var(--brand-primary);
        box-shadow: inset 0 -2px 0 0 var(--axablue90);

        .af-form__indicator {
          border: 1px solid var(--brand-primary);
          color: var(--brand-primary);
          background: var(--white);
        }
      }

      &:focus + .af-form__label {
        color: common.$white;
        background-color: common.$color-axa;
        box-shadow: 0 0 5px common.$color-axa;
      }

      &:disabled + .af-form__label {
        background-color: var(--gray20);
        box-shadow: inset 0 -2px 0 0 var(--disabled-color);
        cursor: not-allowed;

        .af-form__description {
          color: var(--disabled-color);
        }

        .af-form__indicator {
          border: 1px solid var(--gray50);
          color: var(--gray50);
          background: var(--white);
        }
      }

      &[aria-invalid="true"] + .af-form__label {
        color: var(--error-color);
        background-color: var(--red10);
        box-shadow: inset 0 -2px 0 0 var(--error-color);

        .af-form__indicator {
          border-color: var(--error-color);

          .glyphicon-ok {
            color: var(--error-color);
          }
        }
      }

      &[aria-invalid="true"]:disabled + .af-form__label {
        background-color: var(--gray20);
        box-shadow: inset 0 -2px 0 0 var(--error-color);
        cursor: not-allowed;

        .af-form__description {
          color: var(--disabled-color);
        }

        .af-form__indicator {
          border-color: var(--disabled-color);

          .glyphicon-ok {
            color: var(--disabled-color);
          }
        }
      }
    }

    &:hover {
      .af-form__label {
        border-color: var(--brand-primary);
        color: var(--white);
        background-color: var(--brand-primary);
        box-shadow: inset 0 -2px 0 0 var(--axablue90);
      }
    }
  }

  /* Toggle */

  &__checkbox-toggle {
    .af-form__label {
      padding: 1rem 1.6rem;
      border: none;
      border-radius: 50px;
      box-shadow: none;
    }

    .af-form__indicator {
      position: absolute;
      top: 50%;
      left: 5px;
      padding: 0.7rem;
      border: 0;
      border-radius: 100%;
      transform: translate(0, -50%);
      transition: 0.4s;
    }

    .af-form__description {
      display: none;
    }

    .af-form__input-checkbox {
      &:checked + .af-form__label {
        border: none;
        color: common.$white;
        background-color: common.$color-green-4;
        box-shadow: none;

        .af-form__indicator {
          color: common.$color-mine-shaft;
          background: common.$white;
          transform: translate(17px, -50%);

          .glyphicon-ok {
            display: none;
            color: common.$color-azur;
          }
        }
      }

      &:focus + .af-form__label {
        border: none;
        color: common.$white;
        background-color: common.$color-axa;
        box-shadow: none;
      }
    }

    &:hover {
      .af-form__label {
        border: none;
        box-shadow: none;
      }
    }

    &--error {
      .af-form__label {
        background-color: var(--error-color);
      }
    }

    &--warning {
      .af-form__label {
        background-color: common.$color-orange-dark;
      }
    }

    &--disabled:hover {
      .af-form__label {
        background-color: common.$color-gray-3;
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
