@use "../core/FormCore";
@use "../../common/grid";

/* stylelint-disable no-descending-specificity */
.af-form {
  &__checkbox,
  &__checkbox-inline {
    .af-form__indicator {
      display: flex;
      width: 1rem;
      height: 1rem;
      border: 1px solid var(--input-border-color);
      background-color: var(--white);
      fill: none;

      .ok-icon {
        display: none;
        fill: var(--white);
      }
    }

    &--disabled {
      .af-form__label {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    &--error {
      .af-form__label {
        color: var(--error-color);
      }

      .af-form__indicator {
        border-color: var(--error-color);
      }

      .af-form__input-checkbox:checked + .af-form__label {
        .af-form__indicator {
          border-color: var(--error-color);
          background-color: var(--error-color);
        }

        .ok-icon {
          display: block;
        }
      }
    }

    &--warning {
      .af-form__label {
        color: var(--warning-color);
      }

      .af-form__indicator {
        border-color: var(--warning-color);
      }
    }
  }

  &__input-checkbox {
    position: absolute;
    opacity: 0;

    &:checked + .af-form__label {
      .af-form__indicator {
        border-color: var(--button-primary-default);
        color: var(--white);
        background-color: var(--button-primary-default);

        .ok-icon {
          display: block;
        }
      }
    }

    &:focus {
      & + .af-form__label {
        color: var(--brand-primary);

        .af-form__indicator {
          border-color: var(--brand-primary);
        }
      }
    }
  }

  /* Déclinaisons des checkbox ****************************************************/

  /* Classic */
  &__checkbox {
    position: relative;
    display: block;
    border-bottom: 1px solid var(--disabled-color);
    align-items: center;

    &:nth-last-child(1) {
      border-bottom: 0;
    }
  }

  /* Inline */
  &__checkbox-inline {
    position: relative;
    display: inline-flex;
    margin-right: 1rem;
    align-items: center;

    .af-form__label {
      padding: 0;
    }
  }

  /* Custom */
  &__checkbox-custom {
    position: relative;
    display: inline-flex;
    margin: 0 0.3rem 0.3rem 0;
    align-items: center;
    text-align: center;

    .af-form__label {
      margin: 0;
      padding: 0.5rem 2rem;
      font-weight: normal;
      background: var(--gray20);
      box-shadow: inset 0 -2px 0 0 var(--gray50);
      cursor: pointer;
    }

    .af-form__indicator {
      left: 1rem;
      display: flex;
      width: 1rem;
      height: 1rem;
      border: 1px solid var(--input-border-color);
      background-color: var(--white);

      .ok-icon {
        display: none;
      }
    }

    .af-form__description {
      padding-left: 0.5em;
    }

    .af-form__input-checkbox {
      position: absolute;
      opacity: 0;

      &:checked + .af-form__label {
        color: var(--white);
        background-color: var(--brand-primary);
        box-shadow: inset 0 -2px 0 0 var(--axablue90);

        .af-form__indicator {
          border-color: var(--brand-primary);
          background: var(--white);

          .ok-icon {
            fill: var(--brand-primary);
          }
        }
      }

      &:focus + .af-form__label {
        color: var(--white);
        background-color: var(--brand-primary);
        box-shadow: 0 0 5px var(--brand-primary);
      }

      &:disabled + .af-form__label {
        background-color: var(--gray20);
        box-shadow: inset 0 -2px 0 0 var(--disabled-color);
        cursor: not-allowed;

        .af-form__description {
          color: var(--disabled-color);
        }

        .af-form__indicator {
          border: 1px solid var(--gray50);
          background: var(--white);

          .ok-icon {
            fill: var(--gray50);
          }
        }
      }

      &[aria-invalid="true"] + .af-form__label {
        color: var(--error-color);
        background-color: var(--red10);
        box-shadow: inset 0 -2px 0 0 var(--error-color);

        .af-form__indicator {
          border-color: var(--error-color);

          .ok-icon {
            fill: var(--error-color);
          }
        }
      }

      &[aria-invalid="true"]:focus + .af-form__label {
        box-shadow: none;
        outline: 2px solid var(--button-primary-default);
        outline-offset: 0;
      }

      &[aria-invalid="true"]:disabled + .af-form__label {
        background-color: var(--gray20);
        box-shadow: inset 0 -2px 0 0 var(--error-color);
        cursor: not-allowed;

        .af-form__description {
          color: var(--disabled-color);
        }

        .af-form__indicator {
          border-color: var(--disabled-color);

          .ok-icon {
            color: var(--disabled-color);
          }
        }
      }
    }

    &:hover {
      .af-form__label {
        border-color: var(--brand-primary);
        color: var(--white);
        background-color: var(--brand-primary);
        box-shadow: inset 0 -2px 0 0 var(--axablue90);
      }
    }
  }

  /* Toggle */

  &__checkbox-toggle {
    position: relative;
    display: inline-flex;

    .af-form__label {
      width: 48px;
      height: 24px;
      padding: 0;
      border: none;
      border-radius: 50px;
      background-color: var(--input-border-color);
    }

    .af-form__indicator {
      width: 20px;
      height: 20px;
      margin: 0 2px;
      border: 0;
      border-radius: 100%;
      background-color: var(--white);
      transition: 0.4s;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      .ok-icon {
        display: none;
      }
    }

    .af-form__description {
      display: none;
    }

    .af-form__input-checkbox {
      &:checked + .af-form__label {
        color: var(--white);
        background-color: var(--button-primary-default);

        .af-form__indicator {
          color: var(--text-color);
          background: var(--white);
          transform: translateX(24px);

          .ok-icon {
            position: absolute;
            left: -22px;
            display: block;
            width: 18px;
            height: 100%;
            animation: show-ok-icon 0.4s linear;
            fill: var(--white);

            @media (prefers-reduced-motion: reduce) {
              animation: none;
            }
          }
        }
      }

      &:focus + .af-form__label {
        outline: 3px solid var(--button-primary-default);
        outline-offset: -1px;
      }

      &:disabled + .af-form__label {
        background-color: var(--disabled-color);
        cursor: not-allowed;

        .af-form__indicator {
          background-color: var(--inactive-button-border-color);

          .ok-icon {
            display: none;
          }
        }
      }
    }

    &:hover {
      .af-form__label {
        outline: 3px solid var(--button-primary-default);
        outline-offset: -1px;
      }

      .af-form__input-checkbox:disabled + .af-form__label {
        outline: none;
      }
    }

    &--error {
      .af-form__label {
        background-color: var(--error-color);
      }
    }
  }
}

@keyframes show-ok-icon {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* stylelint-enable no-descending-specificity */
