@use "./StepperCommon";

.af-stepper-client {
  &__header {
    flex-direction: column-reverse;
  }

  &__title {
    vertical-align: middle;
    font-family: var(--font-family-publico);
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 48px;
    color: var(--axa-blue-100);
  }

  &__subtitle {
    font-size: 1.125rem;
    color: var(--axa-blue-100);
  }

  &__helper {
    color: var(--neutral-80);
  }
}
