@use "./StepperCommon";

.af-stepper-client {
  &__title {
    font-family: var(--font-family-publico-bold);
    color: var(--color-gray-900);
  }

  &__subtitle {
    --font-family: var(--font-family-sans-serif);
    --subtitle-color: var(--color-gray-700);
  }

  &__progressbar {
    --border-radius: var(--default-border-radius);
    --progressbar-background-color: var(--color-gray-400);
  }

  &__progress {
    border-radius: var(--default-border-radius);
    background-color: var(--color-axa);
  }
}
