@use "../common/common.agent.scss" as common;

$active-sort-table-th: common.$color-table-sorting !default;

@mixin hasIcon($direction) {
  @if $direction == "left" {
    padding-left: 3rem;

    .glyphicon {
      left: 1rem;
    }
  } @else {
    padding-right: 3rem;

    .glyphicon {
      right: 1rem;
    }
  }
}

.af-btn {
  font-family: common.$font-family-base;
  background-color: common.$color-azur;
  color: common.$table-inverse-color;
  border: 0;
  border-radius: 0;
  min-width: 10rem;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  font-size: 1em;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  box-shadow: inset 0 -3px common.$color-axa;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    color: common.$white;
    background-color: common.$color-axa;
  }

  &:focus {
    box-shadow: 0 0 3px 3px common.$color-azur-focused;
  }
  @include common.generate-universes() using ($color) {
    background-color: $color;
    color: common.$white;
    border-radius: 0;
    min-width: 10rem;
    cursor: pointer;
    font-size: 1em;
    box-shadow: inset 0 -3px darken($color, 20%);
    transition: all 0.2s linear;

    &:hover {
      box-shadow: inset 0 -3px darken($color, 20%);
      background-color: darken($color, 20%);
    }
  }

  &--hasiconLeft,
  &--hasIconLeft {
    @include hasIcon("left");
  }

  &--hasiconRight,
  &--hasIconRight {
    @include hasIcon("right");
  }

  &--disabled {
    cursor: not-allowed;
    background-color: common.$color-mercury;
    box-shadow: inset 0 -3px common.$color-silver;
    color: common.$color-btn-disabled;

    &:hover,
    &:focus {
      background-color: common.$color-mercury;
      box-shadow: inset 0 -3px common.$color-silver;
      color: common.$color-btn-disabled;
      border-color: transparent;
    }
  }

  &--success {
    background-color: common.$color-btn-success;
    box-shadow: inset 0 -3px common.$color-btn-success-dark;

    &:hover {
      background-color: common.$color-btn-success;
      box-shadow: inset 0 -3px common.$color-btn-success;
    }

    &:focus {
      background-color: common.$color-btn-success;
      box-shadow: 0 0 3px 3px common.$color-btn-success-focused;
    }
  }

  &--danger {
    background-color: common.$color-btn-danger;
    box-shadow: inset 0 -3px common.$color-btn-danger-dark;

    &:hover {
      background-color: common.$color-btn-danger;
      box-shadow: inset 0 -3px common.$color-btn-danger;
    }

    &:focus {
      background-color: common.$color-btn-danger;
      box-shadow: 0 0 3px 3px common.$color-btn-danger-focused;
    }
  }

  &--reverse {
    color: common.$color-azur;
    background-color: common.$table-inverse-color;
    box-shadow: inset 0 -3px common.$color-azur;
    border: 2px solid common.$color-azur;
    border-bottom: none;
    padding: 0.625rem 0.3125rem 0.8125rem 0.3125rem;

    &:hover,
    &:focus {
      color: common.$white;
      background-color: common.$color-axa;
      box-shadow: inset 0 -3px common.$color-axa;
      border-color: common.$color-axa;
    }

    &:focus {
      box-shadow: 0 0 3px 3px common.$color-azur-focused;
    }
  }

  &--reverse.af-btn--disabled {
    cursor: not-allowed;
    background-color: common.$white;
    box-shadow: inset 0 -3px common.$color-silver;
    color: common.$color-btn-disabled;
    border-color: common.$color-silver;
    border-bottom: none;
  }

  &--reverse.af-btn--hasiconLeft,
  &--reverse.af-btn--hasIconLeft {
    @include hasIcon("left");

    padding-right: 1.2rem;
  }

  &--reverse.af-btn--hasiconRight,
  &--reverse.af-btn--hasIconRight {
    @include hasIcon("right");

    padding-left: 1.2rem;
  }

  &--small {
    padding: 0.625rem 0.3125rem;
    min-width: 3rem;
  }

  &--circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 1px solid common.$white;
    background: common.$color-azur;
    border-radius: 50%;
    text-align: center;
    color: common.$white;
    box-sizing: border-box;
    position: relative;

    &:hover {
      background-color: common.$white;
      color: common.$brand-primary;
      border-color: common.$brand-primary;
    }

    &:focus {
      color: common.$white;
      outline: none;

      &:hover {
        color: common.$brand-primary;
      }
    }

    .glyphicon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 17px;
    }
  }

  &--circle-small {
    @extend .af-btn--circle;

    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.625rem;
    cursor: pointer;
    .glyphicon {
      width: 10px;
    }
    .af-more-help {
      font-weight: 900;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  &--circle-reverse {
    background: common.$white;
    border-color: common.$brand-primary;
    color: common.$brand-primary;

    &:focus {
      color: common.$brand-primary;
      box-shadow: common.$btn-focus-box-shadow;
      outline: none;

      &:hover {
        color: common.$white;
      }
    }

    &:hover {
      background: common.$brand-primary;
      color: common.$white;
    }
  }

  &--circle-menu {
    @include common.media-breakpoint-down(sm) {
      height: common.$menu-button-size;
      width: common.$menu-button-size;
      line-height: common.$menu-button-size;
      color: common.$white;
      border-color: common.$white;
      background: transparent;

      &:hover {
        color: common.$brand-primary;
        background: common.$white;
      }
    }
  }

  &--table-sorting {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 200;
    text-align: inherit;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    padding: 0.881em 1rem 0.881em 1rem;
    box-shadow: inherit;

    &:focus,
    &:hover {
      box-shadow: none;
    }

    &:hover {
      background-color: common.$color-table-sorting;
    }

    &--active {
      background: $active-sort-table-th;

      &:focus {
        background-color: $active-sort-table-th;
      }
    }
  }

  .glyphicon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 17px;
  }

  .af-badge {
    margin-left: 2rem;
  }
}
