@use "../common/common" as common;

.af-icon-bg {
  display: grid;
  width: min-content;
  height: min-content;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--color-white);

  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-axa);
  }

  &--secondary {
    background-color: var(--color-axa);

    svg {
      fill: var(--color-white);
    }
  }

  &--disabled {
    background-color: var(--color-gray-200);

    svg {
      fill: var(--color-gray-500);
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-icon-bg {
    padding: 0.5rem;
  }
}
