.af-slider.rc-slider {
  width: 80% !important;
  margin-bottom: 1.2em;
  border-radius: 0;
}

.af-slider .rc-slider-rail {
  height: 6px;
  background: var(--gray30);
}

.af-slider .rc-slider-track {
  height: 6px;
  border-radius: 0;
  background: var(--color-azur);
}

.af-slider .rc-slider-handle {
  width: 20px;
  height: 20px;
  border-color: var(--color-azur);
  opacity: 1;
  color: var(--white);
  background: var(--color-azur);
}

.af-slider .rc-slider-handle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 6px;
  background: var(--gray40);
  transform: translate(-50%, -50%);
  content: "";
}

.af-slider .rc-slider-step {
  height: 6px;
}

.af-slider .rc-slider-dot {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 6px;
  border-color: var(--gray40);
  border-radius: 0;
  background: var(--gray40);
  transform: translate(0, -50%);
}

.af-slider .rc-slider-dot.active {
  border-color: var(--gray40);
  background: var(--gray40);
}

.af-slider .rc-slider-dot:nth-child(1) {
  height: 12px;
}

.af-slider .rc-slider-dot:nth-last-child(1) {
  height: 12px;
}
