.af-restitution {
  width: 100%;
  margin-bottom: 2rem;
  color: var(--text-color);
  background: var(--white);
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 19%);
}

.af-restitution__header {
  display: flex;
  min-height: 3rem;
  padding: 0.25rem 0 0.1875rem;
  border-radius: 0.25rem 0.25rem 0 0;
  align-items: center;
  justify-content: space-between;
  background: var(--brand-primary);
}

.af-restitution__header-left {
  margin-left: 2.25rem;
}

.af-restitution__header-right {
  margin-right: 2.25rem;
}

.af-restitution__content {
  display: flex;
  width: 100%;
  padding: 1.5rem 0.625rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.af-restitution__content-title {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--brand-primary);
}

.af-restitution__content-left--borderRight {
  border-right: solid 1px rgba(var(--gray50), 0.27);
}

.af-restitution__content-left--borderBottom {
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: solid 1px rgba(var(--gray50), 0.27);
}

.af-restitution__content-block {
  flex-basis: 50%;
}

.af-restitution__title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--white);
}

.af-restitution__title-main {
  margin-right: 0.875rem;
}

.af-restitution__title-subtitle {
  font-size: 1.125rem;
  opacity: 0.72;
}

.af-restitution__title .af-link {
  border: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--white);
  background: none;
}

.af-restitution__title .af-link__text {
  text-decoration: underline;
  cursor: pointer;
}

.af-restitution__title .af-link:hover .af-link__text {
  text-decoration: none;
}

.af-restitution__listdef {
  display: flex;
  margin: 0;
  flex-basis: 100%;
  flex-wrap: wrap;
  font-size: 1rem;
}

.af-restitution__listdef-item {
  padding-right: 0.5rem;
  flex-basis: 50%;
  font-weight: normal;
  color: var(--text-color);
}

.af-restitution__listdef-link {
  margin: 0;
  padding-left: 0.5rem;
  flex-basis: 50%;
  font-weight: 600;
  color: var(--brand-primary);
}

.af-restitution__listdef-value {
  margin: 0;
  padding-left: 0.5rem;
  flex-basis: 50%;
  font-weight: 600;
  color: var(--azur);
}

.af-restitution__listdef--marge {
  margin-top: 1.25rem;
}

.af-restitution__text {
  display: block;
  margin-bottom: 0.2rem;
  text-align: right;
}

.af-restitution__listul {
  padding-left: 1rem;
}
