@use "../common/common.scss" as common;

main.example-page {
  padding-block: 4rem;
  @media (width > #{common.$breakpoint-md}) {
    --row-gap: calc(64 / var(--font-size-base) * 1rem);
  }
}

.af-left-part {
  @media (width > #{common.$breakpoint-lg}) {
    --cols: 9;
    --row-gap: calc(16 / var(--font-size-base) * 1rem);
  }

  .af-list-part {
    @media (width > #{common.$breakpoint-md}) {
      --row-gap: calc(32 / var(--font-size-base) * 1rem);
    }
  }
}

.af-right-part {
  --row-gap: calc(16 / var(--font-size-base) * 1rem);

  @media (width > #{common.$breakpoint-lg}) {
    --cols: 3;
  }

  .af-contacts-part {
    @media (width > #{common.$breakpoint-md}) {
      --row-gap: calc(32 / var(--font-size-base) * 1rem);
    }

    > .af-card {
      @media (width > #{common.$breakpoint-sm}) {
        --cols: 4;
      }

      @media (width > #{common.$breakpoint-lg}) {
        --cols: 3;
      }
    }
  }
}
