@use "../../common/common.client.scss" as common;

.af-input-error {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &__icon {
    width: 1rem;
    color: common.$color-red-700;
    fill: common.$color-red-700;
  }

  &__message {
    font-family: common.$font-family-base;
    font-size: 1rem;
    color: common.$color-red-700;
  }
}
