@import "./HeadingCommon.css";

.af-heading {
  --heading-grid-column: 1;
  --heading-column-gap: calc(12 / var(--font-size-base) * 1rem);
  --heading-title-color: var(--neutral-100);
  --heading-subtitle-color: var(--neutral-100);
  --heading-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);

  &.af-heading__level2,
  &.af-heading__level3,
  &.af-heading__level4 {
    --heading-column-gap: calc(8 / var(--font-size-base) * 1rem);
  }

  h1 {
    --heading-title-color: var(--axa-blue-100);
    --heading-title-font-size: calc(32 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(40 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 700;
    --heading-title-font-family: var(--font-family-publico-headline);
  }

  h2 {
    --heading-title-color: var(--axa-blue-100);
    --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(30 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 300;
    --heading-title-font-family: var(--font-family-publico);
  }

  h3 {
    --heading-title-color: var(--axa-blue-100);
    --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(30 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 600;
    --heading-title-font-family: var(--font-family-base);
  }

  h4 {
    --heading-title-font-size: calc(20 / var(--font-size-base) * 1rem);
    --heading-title-line-height: calc(25 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 600;
    --heading-title-font-family: var(--font-family-base);
  }

  &:has(.af-heading__icon) {
    --heading-grid-column: 2;
  }

  @media (--desktop-small) {
    --heading-subtitle-font-size: calc(18 / var(--font-size-base) * 1rem);

    &.af-heading__level2,
    &.af-heading__level3 {
      --heading-column-gap: calc(12 / var(--font-size-base) * 1rem);
    }

    h1 {
      --heading-title-font-size: calc(48 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(60 / var(--font-size-base) * 1rem);
    }

    h2 {
      --heading-title-font-size: calc(40 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(50 / var(--font-size-base) * 1rem);
    }

    h3 {
      --heading-title-font-size: calc(32 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(40 / var(--font-size-base) * 1rem);
    }

    h4 {
      --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(30 / var(--font-size-base) * 1rem);
    }
  }
}
