.af-heading {
  --heading-column-gap: calc(8 / var(--font-size-base) * 1rem);

  display: grid;
  align-items: start;
  gap: calc(8 / var(--font-size-base) * 1rem) var(--heading-column-gap);

  &:has(h1) {
    --heading-column-gap: calc(12 / var(--font-size-base) * 1rem);
  }

  &:has(.af-heading__icon) {
    grid-template-columns: auto 1fr;
  }
}

.af-heading__title-container {
  display: grid;
  grid-column: var(--heading-grid-column);
  row-gap: calc(4 / var(--font-size-base) * 1rem);

  &:not(:has(.af-heading__subtitle)) {
    align-self: center;
  }
}

.af-heading__title {
  margin: 0;
  font-family: var(--heading-title-font-family);
  font-size: var(--heading-title-font-size);
  font-weight: var(--heading-title-font-weight);
  line-height: var(--heading-title-line-height);
  color: var(--heading-title-color);
}

.af-heading__subtitle {
  margin: 0;
  padding: 0;
  font-size: var(--heading-subtitle-font-size);
  font-weight: 400;
  line-height: 125%;
  color: var(--heading-subtitle-color);
}

.af-heading__icon {
  border-radius: 0.75rem;
  grid-column: 1;
  grid-row: 1/3;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(var(--color-axa), 0.15);
}

.af-heading__label {
  margin-block-end: calc(4 / var(--font-size-base) * 1rem);
  grid-column: span 3;
}

@media (--desktop-small) {
  .af-heading {
    &:has(h2) {
      --heading-column-gap: calc(12 / var(--font-size-base) * 1rem);
    }
  }
}
