@import "./HeadingCommon.css";

.af-heading {
  --heading-grid-column: 1;
  --heading-title-color: var(--gray-1000);
  --heading-subtitle-color: var(--gray-1000);
  --heading-subtitle-font-size: var(--rem-16);
  --heading-title-font-weight: 700;
  --heading-title-line-height: 125%;

  h1 {
    --heading-title-color: var(--blue-1000);
    --heading-title-font-size: var(--rem-24);
    --heading-title-font-family: var(--font-family-publico);
    --heading-title-line-height: var(--rem-30);
  }

  h2 {
    --heading-title-font-size: var(--rem-20);
    --heading-title-font-family: var(--font-family-publico);
    --heading-title-line-height: var(--rem-25);
  }

  h3,
  h4 {
    --heading-title-font-size: var(--rem-18);
    --heading-title-font-weight: 600;
    --heading-subtitle-font-size: var(--rem-14);
    --heading-title-font-family: var(--font-family-base);
    --heading-title-line-height: var(--rem-23);
  }

  &:has(.af-heading__icon) {
    --heading-grid-column: 2;
  }

  @media (--desktop-small) {
    --heading-subtitle-font-size: var(--rem-18);

    h1 {
      --heading-title-font-size: var(--rem-32);
      --heading-title-line-height: var(--rem-40);
    }

    h2 {
      --heading-title-font-size: var(--rem-24);
      --heading-title-line-height: var(--rem-30);
    }

    h3 {
      --heading-title-font-size: var(--rem-24);
      --heading-subtitle-font-size: var(--rem-16);
      --heading-title-line-height: var(--rem-30);
    }

    h4 {
      --heading-title-font-size: var(--rem-20);
      --heading-subtitle-font-size: var(--rem-16);
      --heading-title-line-height: var(--rem-25);
    }
  }
}
