@import "./HeadingCommon.css";

.af-heading {
  --heading-grid-column: 1;
  --heading-title-color: var(--gray80);
  --heading-subtitle-color: var(--color-gray-900);
  --heading-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
  --heading-title-font-weight: 700;
  --heading-title-line-height: 125%;

  h1 {
    --heading-title-color: var(--color-blue-800);
    --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
    --heading-title-font-family: var(--font-family-publico);
    --heading-title-line-height: calc(30 / var(--font-size-base) * 1rem);
  }

  h2 {
    --heading-title-font-size: calc(20 / var(--font-size-base) * 1rem);
    --heading-title-font-family: var(--font-family-publico);
    --heading-title-line-height: calc(25 / var(--font-size-base) * 1rem);
  }

  h3,
  h4 {
    --heading-title-font-size: calc(18 / var(--font-size-base) * 1rem);
    --heading-title-font-weight: 600;
    --heading-subtitle-font-size: calc(14 / var(--font-size-base) * 1rem);
    --heading-title-font-family: var(--font-family-base);
    --heading-title-line-height: calc(23 / var(--font-size-base) * 1rem);
  }

  &:has(.af-heading__icon) {
    --heading-grid-column: 2;
  }

  @media (--desktop-small) {
    --heading-subtitle-font-size: calc(18 / var(--font-size-base) * 1rem);

    h1 {
      --heading-title-font-size: calc(32 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(40 / var(--font-size-base) * 1rem);
    }

    h2 {
      --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(30 / var(--font-size-base) * 1rem);
    }

    h3 {
      --heading-title-font-size: calc(24 / var(--font-size-base) * 1rem);
      --heading-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(30 / var(--font-size-base) * 1rem);
    }

    h4 {
      --heading-title-font-size: calc(20 / var(--font-size-base) * 1rem);
      --heading-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
      --heading-title-line-height: calc(25 / var(--font-size-base) * 1rem);
    }
  }
}
