.af-form__select {
  position: relative;
}

.af-form__select-container {
  position: relative;
  display: inline-block;
  border: 1px solid var(--input-border-color);
  background: var(--white);
}

.af-form__select-container .glyphicon-menu-down {
  position: absolute;
  top: 50%;
  right: 1em;
  height: 0.7em;
  font-size: 0.7em;
  transform: translateY(-50%);
}

.af-form__select--success .af-form__select-container,
.af-form__select--valid .af-form__select-container {
  margin-right: 1rem;
}

.af-form__select--success::after,
.af-form__select--valid::after {
  font-family: var(--font-family-icon);
  color: var(--valid-element-color);
  content: "\EABA";
}

.af-form__select--success > .af-btn--circle,
.af-form__select--success > .af-form__message,
.af-form__select--valid > .af-btn--circle,
.af-form__select--valid > .af-form__message {
  display: none;
}

.af-form__select--valid::after {
  display: none;
}

.af-form__select--valid .glyphicon-ok {
  position: absolute;
  top: 50%;
  right: -25px;
  width: 17px;
  margin-left: 2px;
  transform: translate(0, -50%);
  fill: var(--color-btn-success);
}

.af-form__select--disabled .af-form__select-container {
  background: var(--color-mercury);
  cursor: not-allowed;
}

.af-form__select--error .af-form__input-text,
.af-form__select--error .af-form__select-container {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

.af-form__select--error select {
  color: var(--error-color);
}

.af-form__select--warning .af-form__input-text,
.af-form__select--warning .af-form__select-container {
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}

.af-form__input-select {
  position: relative;
  z-index: 1;
  padding: 0.5em 2.7em 0.5em 1em;
  border: 0;
  font-size: 1em;
  background: transparent;
  appearance: none;
}

.af-form__input-select::-ms-expand {
  display: none;
}
