.af-toggle {
  &__root {
    position: relative;
    display: flex;
    width: var(--toggle-width);
    height: var(--toggle-height);
    padding: var(--toggle-padding);
    border: var(--toggle-border-size) solid var(--toggle-border-color);
    border-radius: var(--toggle-border-radius);
    align-items: center;
    background-color: var(--toggle-bg-color);
  }

  &:has(:focus-within, :focus-visible, :focus, :active) &__root {
    outline: 2px solid var(--toggle-focus-outline-color);
    outline-offset: 2px;
  }

  &:has(:hover, :active) {
    cursor: pointer;
  }

  &__handle {
    width: var(--toggle-handle-size);
    height: var(--toggle-handle-size);
    border-radius: var(--radius-100);
    background-color: var(--toggle-handle-color);
    transform: translateX(var(--toggle-handle-position))
      scale(var(--toggle-handle-scale));
    transition: 200ms;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }
}
