@use "../../common/common" as common;

.af-header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--color-white);

  & > .af-header-container {
    width: auto;
    height: 80px;
    padding: 0 3.75rem;
    border-top: 2px solid var(--color-axa);

    @include common.media-breakpoint-down(md) {
      display: flex;
      width: 100%;
      height: 72px;
      padding: 0 1rem;
      border-top: 2px solid var(--color-axa);
      border-bottom: 1px solid var(--color-gray-300);
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-family: var(--font-family-sans-serif);
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-axa);
    }

    & > .af-logo {
      width: 56px;
      height: 56px;

      @include common.media-breakpoint-down(md) {
        width: 40px;
        height: 40px;
        align-self: center;
      }
    }

    & > .af-header-left-item {
      display: flex;
      height: 5rem;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      & > nav {
        display: block;
      }

      @include common.media-breakpoint-down(md) {
        & > nav {
          display: none;
        }
      }
    }

    & > .af-header-right-item {
      margin: 0;
      gap: var(--spacing-u2);

      @include common.media-breakpoint-down(md) {
        display: none;
      }
    }

    & > .af-btn-client {
      display: none;

      @include common.media-breakpoint-down(md) {
        display: block;
      }
    }
  }
}

.af-header-overlay {
  display: none;

  @include common.media-breakpoint-down(md) {
    &.open {
      position: fixed;
      inset: 0;
      display: block;
      opacity: 0.5;
      background: var(--color-gray-900);
    }
  }
}
