@use "../../common/common" as common;

.af-header {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: var(--color-white);

  & > .af-header-container {
    display: flex;
    width: auto;
    height: common.rem(80);
    padding: 0 3.75rem;
    border-top: 2px solid var(--color-axa);
    border-bottom: 1px solid var(--color-gray-300);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family-sans-serif);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-axa);

    @include common.media-breakpoint-down(md) {
      width: 100%;
      height: 72px;
      padding: 0 1rem;
    }

    & > .af-header-left-item {
      display: flex;
      height: 5rem;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;

      & > .af-logo {
        width: 56px;
        height: 56px;

        @include common.media-breakpoint-down(md) {
          width: 40px;
          height: 40px;
          align-self: center;
        }
      }

      & > nav {
        display: block;
      }

      @include common.media-breakpoint-down(md) {
        & > nav {
          display: none;
        }
      }
    }

    & > .af-header-right-item {
      display: flex;
      margin: 0;
      flex-direction: row;
      gap: var(--spacing-u2);

      @include common.media-breakpoint-down(md) {
        display: none;
      }
    }

    & > .af-btn-client {
      display: none;

      @include common.media-breakpoint-down(md) {
        display: block;
      }
    }
  }
}

.af-header + dialog {
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 0;
}
