@import "./InputDateCommon.css";

.af-form__input-helper {
  --input-date-helper-color: var(--neutral-80);
}

.af-form__input-date {
  --input-date-box-shadow-color: var(--blue-650);
  --input-date-border-radius: var(--radius-8);
  --input-date-color: var(--neutral-80);
  --input-date-bg-color: var(--white-1000);
  --input-date-indicator-bg-color: var(--white-1000);

  &[value]:not([value=""], [aria-invalid="true"]),
  &:is(:focus-visible, :hover, :active, :focus-within) {
    --input-date-box-shadow-color: var(--blue-1000);
  }

  &[value]:not([aria-invalid="true"], [value=""]) {
    --input-date-color: var(--blue-1000);
    --input-date-box-shadow-color: var(--blue-1000);
  }

  &[aria-invalid="true"] {
    --input-date-box-shadow-color: var(--red-alert-100);
    --input-date-color: var(--neutral-80);

    &:is(:focus-visible, :hover, :active, :focus-within):not(:disabled) {
      --input-date-box-shadow-width: 3px;
    }
  }

  &:disabled {
    --input-date-box-shadow-color: var(--neutral-50);
    --input-date-color: var(--neutral-50);
    --input-date-bg-color: var(--neutral-5);
  }
}
