.af-form__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: calc(8 / var(--font-size-base) * 1rem);
}

.af-form__input-date {
  --input-date-box-shadow-width: 1px;
  --input-date-indicator-url: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%2300008F' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='calendar_invitation'%3E%3Cpath id='Vector' d='M16 13H13C12.45 13 12 13.45 12 14V17C12 17.55 12.45 18 13 18H16C16.55 18 17 17.55 17 17V14C17 13.45 16.55 13 16 13ZM16 3V4H8V3C8 2.45 7.55 2 7 2C6.45 2 6 2.45 6 3V4H5C3.89 4 3.01 4.9 3.01 6L3 20C3 21.1 3.89 22 5 22H19C20.1 22 21 21.1 21 20V6C21 4.9 20.1 4 19 4H18V3C18 2.45 17.55 2 17 2C16.45 2 16 2.45 16 3ZM18 20H6C5.45 20 5 19.55 5 19V9H19V19C19 19.55 18.55 20 18 20Z' /%3E%3C/g%3E%3C/svg%3E%0A");

  all: inherit;
  position: relative;
  display: block;
  width: 100%;
  padding: calc(16 / var(--font-size-base) * 1rem);
  border-radius: var(--input-date-border-radius);
  font-size: calc(16 / var(--font-size-base) * 1rem);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--input-date-color);
  background-color: var(--input-date-bg-color);
  box-shadow: 0 0 0 var(--input-date-box-shadow-width)
    var(--input-date-box-shadow-color) inset;

  &:not([value]),
  &:invalid {
    font-weight: 400;
  }

  &:valid {
    font-weight: 600;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:is(
      :focus-visible,
      :hover,
      :active,
      :focus-within,
      &[aria-invalid="true"]
    ):not(:disabled) {
    --input-date-box-shadow-width: 2px;
  }

  &::-webkit-calendar-picker-indicator {
    border-radius: 0.25rem;
    background: var(--input-date-indicator-bg-color)
      var(--input-date-indicator-url) right -1px center no-repeat;
    outline-color: var(--input-date-box-shadow-color);
    outline-offset: 1px;
    outline-width: var(--input-date-box-shadow-width);
  }

  @media (--desktop-small) {
    font-size: calc(18 / var(--font-size-base) * 1rem);
    line-height: 1.25;
  }
}

.af-form__input-helper {
  color: var(--input-date-helper-color);
}
