@use "../../common/reboot";
@use "../../common/common" as common;

.af-click-item {
  display: flex;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: common.$default-border-radius;
  align-items: center;
  gap: 0.5rem;
  background: none;
  cursor: pointer;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    border: 2px solid common.$color-focus;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__icon svg,
  &__action svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: common.$color-axa;
  }

  &__label {
    text-align: left;
  }

  &__title,
  &__subtitle,
  &__secondary {
    margin: 0;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: common.$color-gray-900;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: common.$color-gray-700;
  }

  &__secondary {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.1rem;
    color: common.$color-gray-700;
  }

  &__action {
    margin-left: auto;
  }

  .af-card--large & {
    &__label {
      font-weight: 600;
    }

    &__title,
    &__subtitle,
    &__label {
      font-size: 1.125rem;
      line-height: 1.4rem;
    }
  }

  &.af-click-item--disabled {
    pointer-events: none;

    .af-click-item {
      &__action svg,
      &__icon svg {
        fill: common.$color-gray-500;
      }

      &__label,
      &__title,
      &__subtitle,
      &__secondary {
        color: common.$color-gray-500;
      }
    }
  }

  &:not(.af-click-item--disabled) {
    &:hover {
      box-shadow: 0 4px 8px 0 hsla(230deg, 60%, 16%, 8%);
    }

    &:active {
      box-shadow: 0 2px 8px 0 hsla(0deg, 0%, 0%, 15%) inset;
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-click-item {
    &:focus-visible {
      border: none;
      border: 1px solid common.$color-focus;
    }

    &__label,
    &__title,
    &__subtitle {
      font-size: 0.875rem;
    }

    &__label {
      line-height: 1.1rem;
    }

    &__title,
    &__subtitle {
      line-height: 1.25rem;
    }

    .af-card--large & {
      &__label,
      &__title,
      &__subtitle {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }

    &:not(.af-click-item--disabled) {
      box-shadow: none;

      &:hover {
        box-shadow: none;

        .af-click-item {
          &__label,
          &__title,
          &__subtitle,
          &__secondary {
            color: common.$color-axa;
          }
        }
      }

      &:active {
        box-shadow: none;

        .af-click-item {
          &__label,
          &__title,
          &__subtitle,
          &__secondary {
            color: common.$color-blue-1;
          }
        }
      }
    }
  }
}
