@import "./CardCheckboxOptionCommon.css";

.af-card-checkbox-option {
  --checkbox-option-border-color: var(--blue-650);
  --checkbox-option-color-title: var(--blue-1000);
  --checkbox-option-color-subtitle: var(--gray-800);
  --checkbox-option-gap: calc(8 / var(--font-size-base) * 1rem);
  --checkbox-option-border-radius: var(--radius-8);
  --checkbox-option-background-color: var(--white-1000);

  &:hover,
  &:focus-visible,
  &:focus-within {
    --checkbox-option-border-color: var(--blue-1000);
  }

  &:has(input:checked) {
    --checkbox-option-background-color: var(--blue-040);
    --checkbox-option-border-color: var(--blue-1000);
  }

  &:has(input[aria-invalid="true"]):not(:has(input:checked)) {
    --checkbox-option-border-color: var(--red-alert-1000);
    --checkbox-option-background-color: var(--red-040);
  }
}

.af-card-checkbox-option--horizontal {
  --checkbox-option-gap: calc(8 / var(--font-size-base) * 1rem);

  & .af-card-checkbox-option__content {
    --checkbox-option-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  & .af-checkbox {
    margin-right: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-card-checkbox-option:not(.af-card-checkbox-option--horizontal)
  .af-checkbox {
  margin-top: calc(8 / var(--font-size-base) * 1rem);
}
