@import "./CardCheckboxOptionCommon.css";

.af-card-checkbox-option {
  --checkbox-option-border-color: var(--color-gray-700);
  --checkbox-option-color-title: var(--color-gray-900);
  --checkbox-option-color-subtitle: var(--color-gray-700);
  --checkbox-option-gap: calc(8 / var(--font-size-base) * 1rem);
  --checkbox-option-border-radius: var(--radius-4);
  --checkbox-option-background-color: var(--color-white);

  &:hover,
  &:focus-visible,
  &:focus-within {
    --checkbox-option-border-color: var(--color-axa);
  }

  &:not(.af-card-checkbox-option--horizontal) .af-checkbox {
    position: absolute;
    top: calc(12 / var(--font-size-base) * 1rem);
    left: calc(12 / var(--font-size-base) * 1rem);

    @media (--desktop-small) {
      top: calc(16 / var(--font-size-base) * 1rem);
      left: calc(16 / var(--font-size-base) * 1rem);
    }
  }

  & .af-card-checkbox-option__content {
    --checkbox-option-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  &:has(input:checked) {
    --checkbox-option-background-color: var(--color-blue-2);
    --checkbox-option-border-color: var(--color-axa);
  }

  &:has(input[aria-invalid="true"]):not(:has(input:checked)) {
    --checkbox-option-border-color: var(--color-red-700);
  }
}

.af-card-checkbox-option--horizontal {
  column-gap: calc(12 / var(--font-size-base) * 1rem);
}
