@use "../../common/common.client.scss" as common;

.af-header {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: common.$color-white;
}

.af-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: common.$font-family-sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  height: 4.4rem;
  border-top: 2px solid common.$color-axa;
  border-bottom: 1px solid common.$color-gray-1;
  padding: 0 common.$spacing-u4;

  .af-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;

    .af-logo {
      width: 3.5rem;
      height: 3.5rem;
    }

    .af-header-menu {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      gap: common.$spacing-u1;
      height: inherit;

      &>.af-header-menu-link {
        height: inherit;
        padding: 1.5rem;
        font-weight: 400;
        font-size: 1rem;
        color: common.$color-gray-900;
        cursor: pointer;
        box-sizing: border-box;

        &--active {
          font-weight: 600;
          font-size: 1rem;
          color: common.$color-axa;
          border-bottom: 4px solid common.$color-btn-active;
        }

        &:hover {
          font-weight: 600;
          font-size: 1rem;
          color: common.$color-axa;
          border-bottom: 4px solid common.$color-axa;
        }
      }
    }
  }
}