@import "./ItemFileCommon.css";

.af-item-file {
  --item-file-border-radius: var(--radius-8);
  --item-file-border-color: var(--blue-1000);
  --item-file-file-name-color: var(--gray-1000);
  --item-file-file-size-color: var(--gray-800);
  --item-file-bg-color: var(--white-1000);
  --item-file-gap: var(--rem-8);
  --item-file-body-padding-vertical: var(--rem-16);
  --item-file-body-padding-horizontal: var(--rem-16);
  --item-file-action-buttons-gap: var(--rem-24);

  > .af-item-file__body > .af-icon {
    --icon-fill: var(--green-1000);
  }
}

.af-item-file--error {
  --item-file-border-color: var(--red-alert-1000);

  > .af-item-file__body > .af-icon {
    --icon-fill: var(--red-alert-1000);
  }
}
