@import "./ItemFileCommon.css";

.af-item-file {
  --item-file-border-radius: var(--radius-8);
  --item-file-border-color: var(--blue-1000);
  --item-file-file-name-color: var(--gray-1000);
  --item-file-file-size-color: var(--gray-800);
  --item-file-bg-color: var(--white-1000);
  --item-file-gap: calc(8 / var(--font-size-base) * 1rem);
  --item-file-body-padding-vertical: calc(16 / var(--font-size-base) * 1rem);
  --item-file-body-padding-horizontal: calc(16 / var(--font-size-base) * 1rem);
  --item-file-action-buttons-gap: calc(24 / var(--font-size-base) * 1rem);

  > .af-item-file__body > .af-icon {
    --icon-fill: var(--green-1000);
  }
}

.af-item-file--error {
  --item-file-border-color: var(--red-alert-1000);

  > .af-item-file__body > .af-icon {
    --icon-fill: var(--red-alert-1000);
  }
}
