@use "sass:list";
@use "../../common/common" as common;

.af-header {
  background-color: var(--white);

  &__content {
    display: flex;
    padding-bottom: 1.75rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@include common.media-breakpoint-up(sm) {
  .af-header {
    &__wrapper {
      width: 100%;
    }
  }
}

@include common.media-breakpoint-up(md) {
  .af-header {
    &__content {
      flex-wrap: initial;
    }

    &__wrapper {
      width: list.nth(list.nth(common.$container-max-widths, 4), 2);
      max-width: 100%;
    }
  }
}
