.af-header {
  background-color: var(--white);
}

.af-header__content {
  display: flex;
  padding-bottom: 1.75rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (--tablet-portrait) {
  .af-header__wrapper {
    width: 100%;
  }
}

@media (--tablet-landscape) {
  .af-header__content {
    flex-wrap: nowrap;
  }

  .af-header__wrapper {
    width: 1140px;
    max-width: 100%;
  }
}
