@use "../common/breakpoints.scss" as breakpoints;

.af-card-checkbox-option:has([name="debuggrid"]) {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: auto;
}

.debug-grid {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  mix-blend-mode: multiply;

  .grid {
    --name: "small: 0 to 667px";
    --color-bg-cols: hsl(280.71deg, 51.85%, 89.41%);

    position: relative;
    height: 100%;

    &::before {
      position: absolute;
      top: 50%;
      left: 0.5vw;
      width: 100%;
      height: 100%;
      font-size: clamp(0.5rem, 4vw, 3rem);
      text-align: center;
      text-orientation: mixed;
      writing-mode: vertical-rl;
      color: color-mix(in hsl, var(--color-bg-cols), rgb(0, 0, 0) 20%);
      transform: translate(0, -50%);
      transition: color 300ms linear 200ms;
      content: var(--name);
    }

    .cols {
      display: none;
      height: 100%;
      grid-column: span 1;
      background-color: var(--color-bg-cols);
      transition: background-color 300ms linear 200ms;

      &:nth-child(-n + 4) {
        display: block;
      }
    }

    @media (width > #{breakpoints.$breakpoint-sm}) {
      --name: "medium: 668px to 1023px";
      --color-bg-cols: hsl(233.57deg, 51.85%, 89.41%);

      .cols:nth-child(-n + 8) {
        display: block;
      }
    }

    @media (width > #{breakpoints.$breakpoint-md}) {
      --name: "large: 1024px to 1279px";
      --color-bg-cols: hsl(180deg, 53.09%, 84.12%);

      .cols:nth-child(-n + 12) {
        display: block;
      }
    }

    @media (width > #{breakpoints.$breakpoint-lg}) {
      --name: "extra large: 1280px to 1599px";
      --color-bg-cols: hsl(120deg, 52.5%, 84.31%);
    }

    @media (width > #{breakpoints.$breakpoint-xl}) {
      --name: "extra large: 1600px to infinity";
      --color-bg-cols: hsl(357.39deg, 100%, 90.98%);
    }
  }
}

body {
  &:has([name="debuggrid"]:checked) {
    .debug-grid {
      display: block;
    }
  }
}
