@import "./MessageCommon.css";

.af-message {
  --message-theme-color: var(--blue-1000);
  --message-bg-color: var(--white-1000);
  --message-border-color: var(--message-theme-color);
  --message-border-radius: var(--radius-12);
  --message-icon-color: var(--message-theme-color);
  --message-title-color: var(--message-theme-color);
  --message-title-font-size: 16;
  --message-content-color: var(--color-gray-900);
  --message-content-font-size: 16;
  --message-action-padding-top: 12;

  @media (--desktop-small) {
    --message-content-font-size: 18;
    --message-title-font-size: 18;
  }
}

.af-message--error {
  --message-theme-color: var(--red-alert-1200);
}

.af-message--neutral {
  --message-theme-color: var(--color-gray);
}

.af-message--warning {
  --message-theme-color: var(--orange-1000);
}

.af-message--validation {
  --message-theme-color: var(--color-green-600);
}
