@import "./MessageCommon.css";

.af-message {
  --message-theme-color: var(--blue-1000);
  --message-bg-color: var(--blue-040);
  --message-icon-color: var(--message-theme-color);
  --message-title-color: var(--message-theme-color);
  --message-content-color: var(--message-theme-color);
  --message-content-font-size: 14;
  --message-title-font-size: 16;
  --message-border-radius: var(--radius-8);
  --message-action-padding-top: 4;

  border: none;

  @media (--desktop-small) {
    --message-content-font-size: 16;
    --message-title-font-size: 18;
  }
}

.af-message--error {
  --message-theme-color: var(--red-alert-1000);
  --message-bg-color: var(--red-040);
}

.af-message--neutral {
  --message-theme-color: var(--gray-800);
  --message-bg-color: var(--gray-050);
}

.af-message--warning {
  --message-theme-color: var(--orange-1000);
  --message-bg-color: var(--red-040);
}

.af-message--validation {
  --message-theme-color: var(--green-1000);
  --message-bg-color: var(--green-040);
}
