@layer canopee {
  .af-item-menu {
    display: inline-flex;
    width: 100%;
    padding: var(--rem-16);
    align-items: center;
    font-size: var(--rem-16);
    font-weight: var(--item-menu-font-weight, 400);
    line-height: var(--rem-20);
    text-decoration: none;
    color: var(--item-menu-text-color, var(--blue-1000));
    box-shadow: inset var(--item-menu-border-width, 1px) 0 0 0
      var(--item-menu-border-color, var(--blue-200));

    &:hover {
      --item-menu-border-width: 4px;
    }

    &:focus-visible {
      outline: 2px solid var(--blue-650);
    }

    &.af-item-menu--active {
      --item-menu-font-weight: 700;
      --item-menu-border-width: 4px;
      --item-menu-border-color: var(--brand-red-1000);
      --item-menu-text-color: var(--blue-1000);
    }
  }

  @media (--desktop-small) {
    .af-item-menu {
      height: 100%;
      box-shadow: inset 0 var(--item-menu-border-width, -1px) 0 0
        var(--item-menu-border-color, var(--blue-200));

      &:hover,
      &.af-item-menu--active {
        --item-menu-border-width: -4px;
      }

      &:focus-visible {
        outline-offset: 3px;
      }
    }
  }
}
