@use "../../common/common" as common;
@use "../core/FormCore";
@use "../../common/grid";

.af-form {
  &__input-textarea {
    --text-color: var(--color-text);
    --border-color: var(--input-border-color);

    padding: 1rem;
    border: 1px solid var(--border-color);
    font-family: common.$font-family-base;
    font-size: 1em;
    color: var(--text-color);

    &--hasinfobulle {
      margin-right: 1rem;
    }

    &:disabled {
      cursor: not-allowed;

      --text-color: var(--color-text);
      --border-color: var(--input-border-color);
    }

    &[aria-invalid="true"] {
      --text-color: var(--error-color);
      --border-color: var(--error-color);
    }

    &:focus {
      --border-color: var(--brand-primary);
      --text-color: var(--color-text);
    }
  }

  &__textarea--warning {
    .af-form__input-textarea {
      border: 1px solid var(--warning-color);
      color: var(--warning-color);
    }
  }
}
