@use "CheckboxCommon";

.af-checkbox {
  --checkbox-border-radius: calc(4 / var(--font-size-base) * 1rem);
  --checkbox-border-color: var(--color-gray-500);
  --checkbox-outline-color: var(--checkbox-border-color);
  --checkbox-check-fill: var(--color-white);
  --checkbox-background-color: var(--color-white);
  --checkbox-outline-width: 1px;

  &:hover,
  &:focus-within,
  &:has(:checked) {
    --checkbox-border-color: var(--color-axa);
    --checkbox-outline-width: 2px;
  }

  &:has(:checked) {
    --checkbox-background-color: var(--color-axa);
  }

  &:not(:has(:checked)):has([aria-invalid="true"]) {
    --checkbox-border-color: var(--color-red-700);
  }
}
