.af-checkbox {
  position: relative;
  display: flex;
  width: calc(24 / var(--font-size-base) * 1rem);
  height: calc(24 / var(--font-size-base) * 1rem);
  border: var(--checkbox-border-width, 1px) solid var(--checkbox-border-color);
  border-radius: var(--checkbox-border-radius);
  align-items: center;
  background-color: var(--checkbox-background-color);

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    fill: var(--checkbox-check-fill);
  }

  &:hover,
  &:focus-within,
  &:has(:checked) {
    outline: 1px solid var(--checkbox-outline-color);
  }

  input[type="checkbox"] {
    position: absolute;
    width: calc(24 / var(--font-size-base) * 1rem);
    height: calc(24 / var(--font-size-base) * 1rem);
    margin: 0;
    opacity: 0;

    &:checked + svg {
      display: block;
    }
  }
}
