.af-checkbox {
  --checkbox-border-width: 1px;

  width: calc(24 / var(--font-size-base) * 1rem);
  height: calc(24 / var(--font-size-base) * 1rem);
  border-radius: var(--checkbox-border-radius);
  align-items: center;
  background-color: var(--checkbox-background-color);
  outline: var(--checkbox-border-width) solid var(--checkbox-border-color);
  outline-offset: calc(-1 * var(--checkbox-border-width));
  cursor: pointer;
  appearance: unset;

  &:checked {
    background-image: var(--checkbox-background-image);
  }
}
