.af-card-checkbox-option {
  --checkbox-option-border-width: 1px;
  --checkbox-option-background-color: var(--white);

  position: relative;
  display: flex;
  padding: 1rem;
  border-radius: var(--checkbox-option-border-radius);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--checkbox-option-gap);
  text-align: center;
  background-color: var(--checkbox-option-background-color);
  outline: var(--checkbox-option-border-width) solid
    var(--checkbox-option-border-color);
  outline-offset: calc(-1 * var(--checkbox-option-border-width));
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:focus-within {
    --checkbox-option-border-width: 2px;
  }

  &:has(input:checked) {
    --checkbox-option-border-width: 1px;

    &:hover,
    &:focus-visible,
    &:focus-within {
      --checkbox-option-border-width: 2px;
    }
  }

  & .af-icon {
    --icon-size: var(--icon-size-medium);

    @media (--desktop-small) {
      --icon-size: var(--icon-size-large);
    }
  }
}

.af-card-checkbox-option__label {
  margin: 0;
  font-size: calc(16 / var(--font-size-base) * 1rem);
  font-weight: 400;
  color: var(--checkbox-option-color-title);

  @media (--desktop-small) {
    font-size: calc(18 / var(--font-size-base) * 1rem);
  }
}

.af-card-checkbox-option:has(input:checked) .af-card-checkbox-option__label {
  font-weight: 600;
}

.af-card-checkbox-option:has(input[aria-invalid="true"]):not(
    :has(input:checked)
  ) {
  --checkbox-option-border-width: 2px;

  &:hover,
  &:focus-visible,
  &:focus-within {
    --checkbox-option-border-width: 3px;
  }
}

.af-card-checkbox-option__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--checkbox-option-gap);
  text-align: center;
}

.af-card-checkbox-option__description,
.af-card-checkbox-option__subtitle {
  margin: 0;
  font-size: calc(14 / var(--font-size-base) * 1rem);
  font-weight: 400;
  color: var(--checkbox-option-color-subtitle);

  @media (--desktop-small) {
    font-size: 1rem;
  }
}

.af-card-checkbox-option--horizontal {
  flex-direction: row;

  & .af-card-checkbox-option__content {
    align-items: flex-start;
    text-align: left;
  }

  & .af-checkbox {
    order: -1;
  }
}
