@import "./CardCheckboxOptionCommon.css";

.af-card-checkbox-option {
  --checkbox-option-border-color: var(--axa-blue-65);
  --checkbox-option-color-title: var(--axa-blue-100);
  --checkbox-option-color-subtitle: var(--neutral-80);
  --checkbox-option-gap: calc(8 / var(--font-size-base) * 1rem);
  --checkbox-option-border-radius: var(--radius-8);
  --checkbox-option-background-color: var(--white);

  &:hover,
  &:focus-visible,
  &:focus-within {
    --checkbox-option-border-color: var(--axa-blue-100);
  }

  &:has(input:checked) {
    --checkbox-option-background-color: var(--axa-blue-4);
    --checkbox-option-border-color: var(--axa-blue-100);
  }

  &:has(input[aria-invalid="true"]):not(:has(input:checked)) {
    --checkbox-option-border-color: var(--red-alert-100);
    --checkbox-option-background-color: var(--axa-red-4);
  }
}

.af-card-checkbox-option--horizontal {
  --checkbox-option-gap: calc(8 / var(--font-size-base) * 1rem);

  & .af-card-checkbox-option__content {
    --checkbox-option-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  & .af-checkbox {
    margin-right: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-card-checkbox-option:not(.af-card-checkbox-option--horizontal)
  .af-checkbox {
  margin-top: calc(8 / var(--font-size-base) * 1rem);
}
