@use "../../common/common" as common;

.af-form {
  padding: 1rem;
  background: common.$color-wild-sand;

  &__group {
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    align-items: center;

    &--label-top {
      align-items: flex-start;
    }
  }

  &__group-label {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;

    &--required::after {
      color: var(--error-color);
      content: " *";
    }
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__message {
    position: absolute;
    display: flex;
    min-height: 1.6em;
    margin: 0.2rem 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .glyphicon {
      width: 17px;
      margin-right: 0.4rem;
    }

    &--error {
      color: var(--error-color);
    }

    &--warning {
      color: var(--warning-color);
    }
  }

  &__help {
    position: absolute;
    bottom: -20px;
    display: block;
    font-size: 0.8125em;
    color: var(--help-color);
  }

  &__input-cmplt {
    display: inline-flex;
    margin-left: 1rem;
  }

  &__fields-inline {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .af-form__text {
      padding: 0;
    }
  }

  &__input-inline {
    margin-right: 1rem;
  }

  /* Commons styles ****************************************************************/
  &__label {
    display: flex;
    margin: 0;
    padding: 1rem 0;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
  }

  &__description {
    padding-left: 1.8rem;
  }
}
