.af-form {
  padding: 1rem;
  background: var(--color-wild-sand);
}

.af-form__group {
  display: flex;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  align-items: center;
}

.af-form__group--label-top {
  align-items: flex-start;
}

.af-form__group-label {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.af-form__group-label--required::after {
  color: var(--error-color);
  content: " *";
}

.af-form__text {
  display: flex;
  align-items: center;
}

.af-form__message {
  position: absolute;
  display: flex;
  min-height: 1.6em;
  margin: 0.2rem 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.af-form__message .glyphicon {
  width: 17px;
  margin-right: 0.4rem;
}

.af-form__message--error {
  color: var(--error-color);
}

.af-form__message--warning {
  color: var(--warning-color);
}

.af-form__help {
  position: absolute;
  bottom: -20px;
  display: block;
  font-size: 0.8125em;
  color: var(--help-color);
}

.af-form__input-cmplt {
  display: inline-flex;
  margin-left: 1rem;
}

.af-form__fields-inline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.af-form__fields-inline .af-form__text {
  padding: 0;
}

.af-form__input-inline {
  margin-right: 1rem;
}

.af-form__label {
  display: flex;
  margin: 0;
  padding: 1rem 0;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
}

.af-form__description {
  padding-left: 1.8rem;
}
