@use "../../../common/common" as common;

.af-header-previous-link-container {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  gap: 0.25rem;
}

.af-header-previous-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  &__icon {
    width: 1rem;
    height: 1rem;
    fill: var(--color-gray-700);
  }

  &__text {
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25rem;
    text-align: center;
    color: var(--color-gray-700);
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--color-gray-700);
  }
}

@media only screen and (width >= #{common.$breakpoint-md}) {
  .af-header-previous-link-container {
    padding: 1.5rem 0 0 7.5rem;
  }
}
