@use "./FooterCommon";

.af-footer {
  --footer-bg-color: var(--color-ocean-blue);
  --footer-color: var(--color-white);

  &__linkItem:hover,
  &__menuIconLinks:hover {
    --footer-color: var(--color-blue-1);
  }
}
