@use "../../common/breakpoints" as breakpoints;

.af-footer {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--footer-color);
  background-color: var(--footer-bg-color);

  &__menuLinks {
    li {
      all: unset;
    }

    all: unset;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    transition:
      background-color 0ms,
      padding 0ms;

    &--display {
      height: auto;
      padding: 0 2rem;
      transition:
        background-color 250ms,
        padding 125ms;
    }
  }

  &__iconTrigger {
    align-self: center;
    justify-content: center;
    transform: rotate3d(var(--rotate-x, 0), 0, 0, 180deg);
    transition: transform 250ms ease-in-out;

    &--display {
      --rotate-x: 1;
    }
  }

  &__linkItem {
    display: block;
    padding: calc(20 / var(--font-size-base) * 1rem)
      calc(38 / var(--font-size-base) * 1rem);
    text-decoration: none;
    color: var(--footer-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &__footerMenuIcons {
    display: flex;

    ul,
    li {
      all: unset;
    }

    ul {
      display: flex;
      width: 100%;
      padding: calc(26 / var(--font-size-base) * 1rem)
        calc(13 / var(--font-size-base) * 1rem);
      border: 1px solid rgba(255, 255, 255, 20%);
      border-width: 1px 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: calc(38 / var(--font-size-base) * 1rem);
    }
  }

  &__menuIconLinks {
    align-self: center;
    color: var(--footer-color);
    fill: currentcolor;
  }

  &__menuAboutTrigger {
    all: unset;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: calc(26 / var(--font-size-base) * 1rem)
      calc(52 / var(--font-size-base) * 1rem);
    justify-content: space-between;
  }

  &__menuAboutTriggerText {
    font-weight: bold;
    color: var(--footer-color);
  }

  &__footerBottom {
    padding: calc(13 / var(--font-size-base) * 1rem);
  }

  &__textCopyright {
    font-size: 0.875rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    align-self: center;
    fill: var(--footer-color);
  }
}

@media (width > #{breakpoints.$breakpoint-md}) {
  .af-footer {
    &__menuLinks {
      display: flex;
      height: auto;
      padding: 1.2rem 0;
      flex-direction: row;
      justify-content: space-between;
      background: transparent;

      li:first-child {
        a {
          border-left: unset;
        }
      }
    }

    &__linkItem {
      padding: 0 calc(26 / var(--font-size-base) * 1rem);
      border-left: 1px solid rgba(255, 255, 255, 20%);
      align-self: center;
    }

    &__footerMenuIcons {
      ul {
        padding: calc(26 / var(--font-size-base) * 1rem)
          calc(52 / var(--font-size-base) * 1rem)
          calc(26 / var(--font-size-base) * 1rem)
          calc(13 / var(--font-size-base) * 1rem);
        border: none;
        gap: calc(26 / var(--font-size-base) * 1rem);
      }
    }

    &__footerTop {
      display: flex;
      width: 100%;
      max-width: 128rem;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }

    &__menuTop {
      display: flex;
      padding: calc(13 / var(--font-size-base) * 1rem);
      flex-direction: row;
      justify-content: space-between;
      text-decoration: none;
    }

    &__menuAboutTrigger {
      display: none;
      padding: calc(26 / var(--font-size-base) * 1rem)
        calc(26 / var(--font-size-base) * 1rem)
        calc(26 / var(--font-size-base) * 1rem)
        calc(52 / var(--font-size-base) * 1rem);
    }

    &__footerBottom {
      padding: 0;
      border-top: 1px solid rgba(255, 255, 255, 20%);
      text-align: right;
    }

    &__footerBottomWidth {
      width: 100%;
      max-width: 128rem;
      margin: 0 auto;
    }

    &__textCopyright {
      display: flex;
      padding: calc(13 / var(--font-size-base) * 1rem)
        calc(52 / var(--font-size-base) * 1rem)
        calc(13 / var(--font-size-base) * 1rem) 0;
      justify-content: flex-end;
    }
  }
}
