@use "../../common/common.client.scss" as common;

.af-content-item-mono {
  display: flex;
  gap: 0.75rem;

  &__stick {
    width: 0.25rem;
    border-radius: 0.125rem;
    background-color: common.$color-axa;
  }

  &__left-container {
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: common.$color-axa;
    }

    &--center {
      display: flex;
      align-items: center;
    }
  }

  &--disabled {
    .af-content-item-mono__stick {
      background-color: common.$color-gray-900;
    }

    .af-content-item-mono__left-container svg {
      fill: common.$color-gray-900;
    }
  }

  &__text-container {
    display: grid;
    gap: 0.125rem;

    p {
      margin: 0;
    }

    .af-content-item-mono__main-text {
      color: common.$color-gray-900;
    }

    .af-content-item-mono__secondary-text {
      font-family: common.$font-family-base;
      font-weight: 400;
    }
  }

  &--xl .af-content-item-mono__text-container {
    .af-content-item-mono__main-text {
      font-family: common.$font-family-publico;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.875rem;
    }

    .af-content-item-mono__secondary-text {
      font-size: 1.125rem;
      line-height: 1.4rem;
      color: common.$color-gray-700;
    }
  }

  &--m {
    .af-content-item-mono__text-container {
      .af-content-item-mono__main-text {
        font-family: common.$font-family-base;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.4rem;
      }

      .af-content-item-mono__secondary-text {
        font-size: 1.125rem;
        line-height: 1.4rem;
      }

      .af-content-item-mono__tertiary-text {
        font-family: common.$font-family-base;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: common.$color-gray-700;
      }

      &:not(:has(.af-content-item-mono__tertiary-text)) {
        .af-content-item-mono__secondary-text {
          font-size: 1rem;
          line-height: 1.25rem;
          color: common.$color-gray-700;
        }
      }
    }

    &:has(.af-content-item-mono__stick) {
      .af-content-item-mono__text-container .af-content-item-mono__main-text {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }

    &:not(
        :has(
            .af-content-item-mono__text-container
              .af-content-item-mono__secondary-text
          )
      ):has(
        .af-content-item-mono__text-container
          .af-content-item-mono__tertiary-text
      ) {
      .af-content-item-mono__text-container .af-content-item-mono__main-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-content-item-mono {
    &--xl .af-content-item-mono__text-container {
      .af-content-item-mono__main-text {
        font-size: 1.25rem;
        line-height: 1.56rem;
      }

      .af-content-item-mono__secondary-text {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }

    &--m {
      .af-content-item-mono__text-container {
        .af-content-item-mono__main-text {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        .af-content-item-mono__secondary-text {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        .af-content-item-mono__tertiary-text {
          font-size: 0.875rem;
          line-height: 1.1rem;
        }

        &:not(:has(.af-content-item-mono__tertiary-text)) {
          .af-content-item-mono__secondary-text {
            font-size: 0.875rem;
            line-height: 1.1rem;
          }
        }
      }

      &:has(.af-content-item-mono__stick) {
        .af-content-item-mono__text-container .af-content-item-mono__main-text {
          font-size: 0.875rem;
          line-height: 1.1rem;
        }
      }

      &:not(
          :has(
              .af-content-item-mono__text-container
                .af-content-item-mono__secondary-text
            )
        ):has(
          .af-content-item-mono__text-container
            .af-content-item-mono__tertiary-text
        ) {
        .af-content-item-mono__text-container .af-content-item-mono__main-text {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.1rem;
        }
      }
    }
  }
}
