@import "./CheckboxCommon.css";

.af-checkbox {
  --checkbox-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' viewBox='0 -960 960 960'%3E%3Cpath d='m378-332 363-363q9.27-9 21.64-9 12.36 0 21.36 9.05 9 9.06 9 21.5 0 12.45-9 21.45L399-267q-9 9-21 9t-21-9L175-449q-9-9.07-8.5-21.53.5-12.47 9.55-21.47 9.06-9 21.5-9 12.45 0 21.45 9l159 160Z'/%3E%3C/svg%3E");
  --checkbox-border-radius: var(--rem-4);
  --checkbox-background-color: var(--white-1000);
  --checkbox-border-color: var(--gray-500);

  &:hover,
  &:focus-within,
  &:checked {
    --checkbox-border-color: var(--blue-1000);
    --checkbox-border-width: 3px;
  }

  &:checked {
    --checkbox-background-color: var(--blue-1000);
  }

  &[aria-invalid="true"]:not(:checked) {
    --checkbox-border-color: var(--red-alert-1200);
    --checkbox-border-width: 2px;

    &:hover,
    &:focus-within {
      --checkbox-border-width: 3px;
    }
  }
}
