@use "RadioCardCommon";
@use "../../../common/breakpoints" as breakpoints;

.af-radio-card {
  &__label-container {
    --font-size-base: calc(16 / var(--font-size-base) * 1rem);
  }

  &__label {
    --radio-card-color: var(--color-gray-900);
  }

  &__description {
    --radio-card-color: var(--color-gray-700);
  }

  &__content {
    & > svg {
      --radio-card-color: var(--color-axa);
      --radio-card-fill: var(--color-axa);
    }

    &-description {
      & > span:first-child {
        --radio-card-color: var(--color-gray-900);
      }

      & > span:not(:first-child) {
        --radio-card-color: var(--color-gray-700);
      }
    }
  }

  & ~ &__error {
    --error-box-color: var(--color-red-700);

    & > svg {
      --error-box-color: var(--color-red-700);
    }
  }

  &-group--vertical {
    --radio-card-flex-direction: column;

    .af-radio-card-label {
      --radio-card-flex-direction: row;

      .af-radio-card-content {
        --radio-card-flex-direction: row;
        --radio-card-margin-left: calc(12 / var(--font-size-base) * 1rem);

        .af-radio-card-content-description {
          --radio-card-flex-direction: column;
          --radio-card-align-item: flex-start;
        }
      }
    }
  }

  &-group--horizontal {
    --radio-card-flex-direction: row;

    .af-radio-card-label {
      --radio-card-flex-direction: column-reverse;

      .af-radio-card-content {
        --radio-card-flex-direction: column;
        --radio-card-margin-left: calc(2 / var(--font-size-base) * 1rem);

        .af-radio-card-content-description {
          --radio-card-flex-direction: column;
          --radio-card-align-item: center;
        }
      }
    }
  }

  &-group--vertical,
  &-group--horizontal {
    .af-radio-card-label {
      --radio-card-border: 1px var(--axa-blue-65);
      --radio-card-border-radius: calc(8 / var(--font-size-base) * 1rem);
      --radio-card-align-items: center;

      &[aria-invalid="true"] {
        --radio-card-background-color: var(--axa-red-4);
        --radio-card-border: 1px var(--red-alert-100);
        --radio-card-shadow-color: var(--red-alert-100);
      }

      &:hover {
        --radio-card-border: 1px var(--axa-blue-100);
        --radio-card-shadow-color: var(--axa-blue-100);
        --radio-card-background-color: var(--white);

        & > span:first-child {
          --radio-border: 1px var(--axa-blue-100);
          --radio-box-shadow: var(--axa-blue-100);
        }
      }

      .af-radio-card-content {
        .af-radio-card-content-description {
          & > span:first-child {
            --radio-card-label-text-color: var(--axa-blue-100);
          }
        }
      }

      &:has(input:checked) {
        --radio-card-border: 1px var(--axa-blue-100);
        --radio-card-shadow-color: var(--axa-blue-100);
        --radio-card-background-color: var(--axa-blue-4);
      }
    }
  }
}
