@import "./CardRadioOptionCommon.css";

.af-card-radio-option {
  --radio-option-border-color: var(--gray-800);
  --radio-option-color-title: var(--gray-1000);
  --radio-option-color-subtitle: var(--gray-800);
  --radio-option-gap: var(--rem-8);
  --radio-option-border-radius: var(--radius-4);
  --radio-option-background-color: var(--white-1000);

  &:hover,
  &:focus-visible,
  &:focus-within {
    --radio-option-border-color: var(--blue-1000);
  }

  &:not(.af-card-radio-option--horizontal) .af-radio {
    position: absolute;
    top: var(--rem-12);
    left: var(--rem-12);

    @media (--desktop-small) {
      top: var(--rem-16);
      left: var(--rem-16);
    }
  }

  & .af-card-radio-option__content {
    --radio-option-gap: var(--rem-4);
  }

  &:has(input:checked) {
    --radio-option-background-color: var(--blue-040);
    --radio-option-border-color: var(--blue-1000);
  }
}

.af-card-radio-option--horizontal {
  column-gap: var(--rem-12);
}

.af-card-radio-option--invalid:not(:has(input:checked)) {
  --radio-option-border-color: var(--red-alert-1200);
}
