@import "./CardRadioOptionCommon.css";

.af-card-radio-option {
  --radio-option-border-color: var(--blue-650);
  --radio-option-color-title: var(--blue-1000);
  --radio-option-color-subtitle: var(--gray-800);
  --radio-option-gap: calc(8 / var(--font-size-base) * 1rem);
  --radio-option-border-radius: var(--radius-8);
  --radio-option-background-color: var(--white-1000);

  &:hover,
  &:focus-visible,
  &:focus-within {
    --radio-option-border-color: var(--blue-1000);
  }

  &:has(input:checked) {
    --radio-option-background-color: var(--blue-040);
    --radio-option-border-color: var(--blue-1000);
  }
}

.af-card-radio-option--horizontal {
  --radio-option-gap: calc(8 / var(--font-size-base) * 1rem);

  & .af-card-radio-option__content {
    --radio-option-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  & .af-radio {
    margin-right: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-card-radio-option:not(.af-card-radio-option--horizontal) .af-radio {
  margin-top: calc(8 / var(--font-size-base) * 1rem);
}

.af-card-radio-option--invalid:not(:has(input:checked)) {
  --radio-option-border-color: var(--red-alert-1000);
  --radio-option-background-color: var(--red-040);
}
