@use "../common/common.client.scss" as common;

.af-footer {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  color: common.$color-white;
  background-color: common.$color-oceanBlue;

  &__menuLinks {
    height: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    transition:
      background 0ms,
      padding 0ms;

    &--display {
      height: auto;
      padding: 0 2rem;
      transition:
        background 250ms,
        padding 125ms;
    }
  }

  &__iconTrigger {
    align-self: center;
    justify-content: center;
    transform: rotate3d(var(--rotate-x, 0), 0, 0, 180deg) !important;
    transition: transform 250ms ease-in-out !important;

    &--display {
      --rotate-x: 1;
    }
  }

  &__linkItem {
    display: block;
    padding: 1.2rem common.$spacing-u3;
    text-decoration: none;
    color: common.$color-white;

    &:hover {
      color: common.$color-blue-1;
    }
  }

  &__footerMenuIcons {
    display: flex;
    padding: common.$spacing-u2 common.$spacing-u1;
    border: 1px solid rgba(255, 255, 255, 20%);
    border-width: 1px 0;
    flex-direction: row;
    justify-content: center;
    gap: common.$spacing-u3;
  }

  &__menuIconLinks {
    align-self: center;
    color: common.$color-white;
    fill: common.$color-white;

    &:hover {
      color: common.$color-blue-1;
      fill: common.$color-blue-1;
    }
  }

  &__menuAboutTrigger {
    all: unset;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: common.$spacing-u2 common.$spacing-u4;
    justify-content: space-between;
  }

  &__menuAboutTriggerText {
    font-weight: bold;
    color: common.$color-white;
  }

  &__footerBottom {
    padding: common.$spacing-u1;
  }

  &__textCopyright {
    font-size: 0.875rem;
  }

  &__icon {
    width: 16px;
    height: 16px;
    align-self: center;
    fill: common.$color-white;
  }
}

@media only screen and (width >= #{common.$screen-size-m}) {
  .af-footer {
    &__menuLinks {
      display: flex;
      height: auto;
      padding: 1.2rem 0;
      flex-direction: row;
      justify-content: space-between;
      background: transparent;

      & :first-child {
        border-left: unset;
      }
    }

    &__linkItem {
      padding: 0 common.$spacing-u2;
      border-left: 1px solid rgba(255, 255, 255, 20%);
      align-self: center;
      color: common.$color-white;
    }

    &__footerMenuIcons {
      padding: common.$spacing-u2 common.$spacing-u4 common.$spacing-u2
        common.$spacing-u1;
      border: none;
      gap: common.$spacing-u2;
    }

    &__footerTop {
      display: flex;
      width: 100%;
      max-width: 128rem;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }

    &__menuTop {
      display: flex;
      padding: common.$spacing-u1;
      flex-direction: row;
      justify-content: space-between;
      text-decoration: none;
    }

    &__menuAboutTrigger {
      display: none;
      padding: common.$spacing-u2 common.$spacing-u2 common.$spacing-u2
        common.$spacing-u4;
    }

    &__footerBottom {
      padding: 0;
      border-top: 1px solid rgba(255, 255, 255, 20%);
      text-align: right;
    }

    &__footerBottomWidth {
      width: 100%;
      max-width: 128rem;
      margin: 0 auto;
    }

    &__textCopyright {
      display: flex;
      padding: common.$spacing-u1 common.$spacing-u4 common.$spacing-u1 0;
      justify-content: flex-end;
    }
  }
}
