.af-btn {
  --button-color-background: var(--axablue80);
  --button-color-border: var(--axablue100);
  --button-padding-horizontal: calc(16rem / 16);
  --button-padding-vertical: calc(14rem / 16);
  --button-color-label: var(--white);

  display: inline-flex;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  border: 0 solid var(--button-color-border);
  border-radius: 0;
  align-items: center;
  justify-content: center;
  gap: calc(16rem / 16);
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: calc(16rem / 16);
  font-weight: 700;
  line-height: calc(20rem / 16);
  text-align: center;
  color: var(--button-color-label);
  background-color: var(--button-color-background);
  box-shadow: inset 0 -2px var(--button-color-border);
  transition: all 0.2s linear;
  cursor: pointer;

  & > svg {
    height: calc(20rem / 16);
    fill: currentcolor;
  }

  &:hover {
    --button-color-background: var(--axablue100);

    border-color: var(--button-color-border);
  }

  &:focus {
    outline: unset;
  }

  &:focus-visible {
    outline: calc(2rem / 16) solid var(--axablue80);
    outline-offset: calc(2rem / 16);
  }

  &.af-btn--secondary {
    --button-color-background: var(--white);
    --button-color-label: var(--axablue80);
    --button-color-border: var(--axablue80);

    border-width: calc(1rem / 16);
    border-bottom-width: 0;

    &:hover {
      --button-color-background: var(--axablue100);
      --button-color-border: var(--axablue100);
      --button-color-label: var(--white);
    }

    &:disabled {
      --button-color-border: var(--gray40);
      --button-color-label: var(--gray40);
    }
  }

  &.af-btn--validated {
    --button-color-background: var(--green30);
    --button-color-border: var(--green40);

    &:hover {
      --button-color-background: var(--green40);
    }
  }

  &.af-btn--danger {
    --button-color-background: var(--red30);
    --button-color-border: var(--red40);

    &:hover {
      --button-color-background: var(--red40);
    }
  }

  &:disabled {
    --button-color-background: var(--white);
    --button-color-label: var(--gray40);
    --button-color-border: var(--gray40);

    cursor: not-allowed;

    &:hover {
      --button-color-background: var(--white);
    }
  }

  &.af-btn--small {
    --button-padding-vertical: calc(10rem / 16);
  }

  &.af-btn--ghost {
    --button-color-label: var(--axablue90);
  }

  &.af-btn--ghost-reverse {
    --button-color-label: var(--white);
  }

  &.af-btn--ghost,
  &.af-btn--ghost-reverse {
    --button-padding-vertical: calc(4rem / 16);
    --button-padding-horizontal: calc(8rem / 16);
    --button-color-background: transparent;

    border: unset;
    gap: calc(8rem / 16);
    font-weight: 400;
    text-decoration: underline;
    box-shadow: unset;

    &:hover {
      --button-color-background: transparent;

      text-decoration: none;
    }

    &:disabled {
      --button-color-background: transparent;
      --button-color-label: var(--gray40);

      text-decoration: underline;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .af-btn {
    transition-duration: 0.01ms !important;
  }
}
