@forward "../common/color";
@use "../common/typography" as typography;

.af-btn {
  --button-padding-h: calc(16rem / 16);
  --button-padding-v: calc(12rem / 16);
  --button-color-label: var(--color-white);

  @include typography.label;

  display: inline-block;
  padding: var(--button-padding-v) var(--button-padding-h);
  border-width: 0;
  border-style: solid;
  border-color: var(--button-color-border);
  border-bottom-width: calc(2rem / 16);
  border-radius: 0;
  text-align: center;
  color: var(--button-color-label);
  background-color: var(--button-color-background-default);
  transition: all 0.2s linear;
  cursor: pointer;

  &:has(svg) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(16rem / 16);

    & > svg {
      height: calc(20rem / 16);
      fill: currentcolor;
    }
  }

  &:has(.glyphicon) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(16rem / 16);
  }

  &:hover {
    border-color: var(--button-color-border);
    background-color: var(--button-color-background-hover);
  }

  &:disabled {
    --button-color-background-default: var(--color-white);
    --button-color-background-hover: var(--color-white);
    --button-color-label: var(--color-gray-1);
    --button-color-border: var(--color-gray-1);

    cursor: not-allowed;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: calc(2rem / 16) solid var(--color-azur);
    outline-offset: calc(2rem / 16);
  }

  &:not(&:has(svg)),
  &:not(&:has(.glyphicon)) {
    align-content: center;
    vertical-align: middle;
  }

  &--primary {
    --button-color-background-default: var(--color-azur);
    --button-color-background-hover: var(--color-axa);
    --button-color-border: var(--color-axa);
  }

  &--secondary {
    --button-padding-v: calc(11.5rem / 16);
    --button-color-background-default: var(--color-white);
    --button-color-label: var(--color-azur);
    --button-color-border: var(--color-azur);

    border-width: calc(1rem / 16);
    border-bottom-width: calc(2rem / 16);

    &:hover {
      --button-color-label: var(--color-white);
    }

    &:disabled {
      --button-color-label: var(--color-gray-1);
    }
  }

  &--validated {
    --button-color-background-default: var(--color-green-1);
    --button-color-background-hover: var(--color-green-2);
    --button-color-border: var(--color-green-2);
  }

  &--danger {
    --button-color-background-default: var(--color-red-1);
    --button-color-background-hover: var(--color-red-2);
    --button-color-border: var(--color-red-2);
  }

  &--small {
    --button-padding-v: calc(8.5rem / 16);

    &.af-btn--secondary {
      --button-padding-v: calc(8rem / 16);
    }
  }
}
