.af-form__input-phone-fields {
  display: flex;
  width: 100%;
  gap: var(--rem-8);
}

.af-form__input-phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--rem-8);
}

.af-form__input-phone-helper {
  font-size: var(--rem-14);
  font-weight: 400;
  line-height: 1.25em;
  color: var(--input-helper-color);

  @media (--desktop-small) {
    font-size: var(--rem-16);
  }
}

.af-form__country-code-wrapper .country-code-select__control {
  display: block;
  width: 7.4rem;
  padding: var(--rem-11) 0;
  border: 1px solid var(--select-border-color);
  border-radius: var(--select-border-radius);
  font-size: var(--rem-16);
  font-weight: 400;
  line-height: 1.25em;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--select-color);
  background: var(--select-control-background);
  background-color: white;
  background-position-x: calc(100% - 0.2rem);
  box-shadow: var(--select-box-shadow);
  appearance: none;

  @media (--desktop-small) {
    font-size: var(--rem-18);
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--select-border-color) inset;
    outline: 2px solid var(--select-outline-color);
    outline-offset: 3px;
  }

  &:disabled {
    border: 1px solid var(--select-border-color);
    color: var(--select-color);
    cursor: not-allowed;
  }

  &:not(:disabled):is(:hover, :active, :focus-within) {
    border: 1px solid var(--select-border-color);
    box-shadow: 0 0 0 1px var(--select-border-color) inset;
  }
}

.country-code-select__option {
  border: 1px solid var(--select-border-color);
  color: var(--select-color);

  img {
    width: var(--rem-20);
    height: var(--rem-20);
    margin-right: var(--rem-8);
  }

  span {
    font-size: var(--rem-18);
  }
}

.country-code-select__placeholder {
  color: var(--select-color);
}

.country-code-select-format-label {
  display: flex;
  align-items: center;
}

.country-code-select__single-value .country-code-select-format-label .af-icon {
  margin-right: var(--rem-3);
}

.country-code-select__menu .country-code-select-format-label .af-icon {
  margin-right: var(--rem-3);
}

.custom-select__value-container {
  padding: 0;
}
