@use "sass:color";
@use "../common/common" as common;

$padding-popover: 0.5rem 1rem;

.af-popover {
  &__wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    background: inherit;

    &--click {
      cursor: pointer;
    }
  }

  &__container {
    display: inline-block;

    &-pop {
      position: relative;
      z-index: 100;
      width: calc(260 / 16 * 1rem);
      padding: $padding-popover;
      border-radius: 3px;
      line-height: 1.125rem;
      color: common.$color-azur;
      background: common.$white;
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 18%);

      .af-subtitle {
        font-size: 2em;
        color: common.$white;

        &::after {
          display: none;
        }
      }
    }

    &--small {
      .af-btn {
        &--circle {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
