@use "./ContentItemDuoCommon";

.af-content-item-duo {
  &__label {
    --content-duo-label-color: var(--color-gray-700);
  }

  &__value {
    --content-duo-label-color: var(--color-gray-900);
  }
}
