@use "../../common/breakpoints" as breakpoints;

.af-form__dropdown-input {
  display: block;
  width: 100%;
  height: 56px;
  margin: calc(8 / var(--font-size-base) * 1rem) 0;
  padding: calc(
      var(--dropdown-padding-top-bottom) / var(--font-size-base) * 1rem
    )
    calc(var(--dropdown-padding-left-right) / var(--font-size-base) * 1rem);
  border: 1px solid var(--dropdown-border-color);
  border-radius: var(--dropdown-border-radius);
  font-size: var(--font-family-sans-serif);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--dropdown-color);
  background: var(--dropdown-background);
  background-color: white;
  background-position-x: calc(100% - 1rem);
  box-shadow: var(--dropdown-box-shadow);
  appearance: none;

  option {
    color: var(--dropdown-option-color);

    &:disabled {
      color: var(--dropdown-option-disabled-color);
    }
  }

  &:open {
    background-image: var(--dropdown-background-open);
  }

  &:focus-visible {
    font-weight: 600;
    box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;
    outline: 1px;
    outline-offset: 1px;
  }

  &:disabled {
    background-color: var(--dropdown-bg-color-disabled);
    cursor: not-allowed;
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;
  }
}

.af-form__dropdown-input--error {
  border: 2px solid var(--dropdown-border-color);
  box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;
  }
}

.af-form__dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: calc(8 / var(--font-size-base) * 1rem);
}

.af-form__dropdown-container--input-helper {
  font-size: calc(14 / var(--font-size-base) * 1rem);
  font-weight: 400;
  line-height: 1.25em;
  color: var(--input-helper-color);

  @media (width > #{breakpoints.$breakpoint-md}) {
    font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}
