@use "./DropdownCommon";

.af-form__dropdown-input {
  --dropdown-placeholder-color: var(--neutral-80);
  --dropdown-border-radius: var(--radius-4);
  --dropdown-border-color: var(--axa-blue-65);
  --dropdown-background: url("@material-symbols/svg-400/outlined/arrow_drop_down.svg")
    no-repeat right 1rem center / 1.5rem 1.5rem;

  &:open {
    --dropdown-background: url("@material-symbols/svg-400/outlined/arrow_drop_up.svg")
      no-repeat right 1rem center / 1.5rem 1.5rem;
  }

  option {
    --dropdown-option-color: var(--neutral-100);

    &:disabled {
      --dropdown-option-disabled-color: var(--neutral-50);
    }
  }

  &:focus-visible {
    --dropdown-border-color: var(--axa-blue-100);
    --dropdown-box-shadow: var(--axa-blue-100);
  }

  &:disabled {
    --dropdown-bg-color-disabled: var(--neutral-50);
    --dropdown-border-color: var(--neutral-50);
  }

  &-placeholder {
    --dropdown-placeholder-color: var(--neutral-80);
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    --dropdown-border-color: var(--axa-blue-100);
    --dropdown-box-shadow: var(--axa-blue-100);
  }
}

.af-form__dropdown-input--error {
  --dropdown-border-color: var(--red-alert-100);

  &:focus-visible {
    --dropdown-border-color: var(--red-alert-100);
    --dropdown-box-shadow: var(--red-alert-100);

    outline: none;
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    --dropdown-border-color: var(--red-alert-100);
    --dropdown-box-shadow: 0 0 0 1px var(--red-alert-100) inset;
  }
}
