.af-form__dropdown-label {
  display: inline-block;
  margin-bottom: calc(8 / var(--font-size-base) * 1rem);
  font-size: var(--dropdown-font-size);
  font-weight: 600;
  color: var(--dropdown-placeholder-color);
}

.af-form__dropdown-input {
  display: block;
  width: 100%;
  height: 56px;
  margin: calc(10 / var(--font-size-base) * 1rem) 0;
  padding: calc(16 / var(--font-size-base) * 1rem);
  border: 1px solid var(--dropdown-border-color);
  border-radius: var(--dropdown-border-radius);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--dropdown-color);
  background: var(--dropdown-background);
  background-color: white;
  background-position-x: calc(100% - 1rem);
  box-shadow: var(--dropdown-box-shadow);
  appearance: none;

  option {
    color: var(--dropdown-option-color);
  }

  &:open {
    background-image: var(--dropdown-background-open);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--dropdown-box-shadow) inset;
    outline: 2px;
    outline-offset: 2px;
  }

  &:disabled {
    background-color: var(--dropdown-bg-color-disabled);
    cursor: not-allowed;
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;
  }

  &-placeholder {
    color: var(--dropdown-placeholder-color);
  }
}

.af-form__dropdown-input--error {
  border: 2px solid var(--dropdown-border-color);
  box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    box-shadow: 0 0 0 1px var(--dropdown-box-shadow) inset;
  }
}
