@use "../common/common.client.scss" as common;

.af-card {
  &--list {
    padding: 0 1rem;
    box-shadow: none;
  }

  &--large {
    width: 100%;
  }
}

.af-list {
  padding: 0;
  flex-direction: column;
  list-style-type: none;

  &__item {
    padding: 1rem 0;
  }

  &__separator {
    margin: 0;
    border: 1px solid common.$color-gray-300;
  }
}
