.af-card {
  --card-border-width: 1px;

  padding: var(--rem-16);
  border: inherit;
  border-radius: var(--card-border-radius);
  text-align: inherit;
  background-color: var(--card-background-color);
  outline: var(--card-border-width) solid var(--card-border-color);
  outline-offset: calc(-1 * var(--card-border-width));

  &:is(button) {
    cursor: pointer;

    &:hover,
    &:focus-visible,
    &:focus-within {
      --card-border-width: 2px;
    }
  }
}
