@use "../../common/breakpoints" as breakpoints;

@use "./DateInputCommon";

.af-form {
  &__input-helper {
    --input-helper-color: var(--color-gray-700);
  }

  &__input-date {
    --input-border-color: var(--color-gray-700);
    --input-border-radius: var(--default-border-radius);
    --input-bg-color: var(--color-white);
    --input-date-color: var(--color-gray-900);
    --input-date-placeholder-color: var(--color-gray-700);
    --input-date-placeholder-color-filled: var(--color-axa);

    &:is(:hover, :focus, :active) {
      --input-border-color: var(--color-axa);
      --input-date-placeholder-color: var(--color-gray-900);
    }

    &[class*="--error"] {
      --input-border-color: var(--color-red-700);
    }

    &:disabled,
    &:disabled:is(:hover, :focus, :active) {
      --input-border-color: var(--color-gray-400);
      --input-date-color: var(--color-gray-500);
      --input-bg-color: var(--color-gray-200);

      + .af-form__input-helper {
        --input-helper-color: var(--color-gray-500);
      }
    }
  }
}
