@use "../../common/breakpoints" as breakpoints;

.af-form {
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: calc(8 / var(--font-size-base) * 1rem);
  }

  &__input-date {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: calc(16 / var(--font-size-base) * 1rem);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    font: var(--font-family-base);
    font-size: calc(16 / var(--font-size-base) * 1rem);
    font-weight: 600;
    line-height: 1.25em;
    text-transform: uppercase;
    color: var(--input-date-color);
    background-color: var(--input-bg-color);

    &::placeholder {
      font-weight: 400;
      color: var(--input-date-placeholder-color);
    }

    @media (width > #{breakpoints.$breakpoint-md}) {
      font-size: calc(18 / var(--font-size-base) * 1rem);
    }

    &:is(:hover, :focus, :active) {
      box-shadow: 0 0 0 1px var(--input-border-color) inset;
    }

    &:disabled,
    &:disabled:is(:hover, :focus, :active) {
      box-shadow: unset;
      cursor: not-allowed;
    }

    &:valid:not([class*="--error"]) {
      color: var(--input-date-placeholder-color-filled);
    }
  }

  &__input-helper {
    font-size: calc(14 / var(--font-size-base) * 1rem);
    font-weight: 400;
    line-height: 1.25em;
    color: var(--input-helper-color);

    @media (width > #{breakpoints.$breakpoint-md}) {
      font-size: calc(16 / var(--font-size-base) * 1rem);
    }
  }
}
