@use "../../common/breakpoints" as breakpoints;

.af-form {
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: calc(8 / var(--font-size-base) * 1rem);
  }

  &__input-variant {
    display: grid;
    width: 100%;
    padding: calc(16 / var(--font-size-base) * 1rem);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    grid-template-columns: auto min-content;
    align-items: center;
    color: var(--input-text-color);
    background-color: var(--input-bg-color);

    &:has(> input ~ *) {
      column-gap: calc(8 / var(--font-size-base) * 1rem);
    }

    > input {
      all: unset;
      font-size: calc(16 / var(--font-size-base) * 1rem);
      font-weight: 600;
      line-height: 1.25em;
      color: var(--input-text-color);

      &::placeholder {
        font-weight: 400;
        color: var(--input-text-placeholder-color);
      }

      & ~ * {
        color: var(--input-text-icon-color);
        fill: var(--input-text-icon-color);
      }

      @media (width > #{breakpoints.$breakpoint-md}) {
        font-size: calc(18 / var(--font-size-base) * 1rem);
      }
    }

    &:has(> input:is(:hover, :focus, :active)) {
      box-shadow: 0 0 0 1px var(--input-border-color) inset;
    }

    &:has(> input:disabled),
    &:has(> input:disabled):is(:hover, :focus, :active) {
      box-shadow: unset;
      cursor: not-allowed;

      & > input ~ * {
        cursor: not-allowed;
      }
    }
  }

  &__input-helper {
    font-size: calc(14 / var(--font-size-base) * 1rem);
    font-weight: 400;
    line-height: 1.25em;
    color: var(--input-helper-color);

    @media (width > #{breakpoints.$breakpoint-md}) {
      font-size: calc(16 / var(--font-size-base) * 1rem);
    }
  }
}
