@use "../../common/breakpoints" as breakpoints;

@use "./InputDateCommon";

.af-form {
  &__input-helper {
    --input-date-helper-color: var(--color-gray-700);
  }

  &__input-date {
    --input-date-box-shadow-color: var(--color-gray-700);
    --input-date-border-radius: var(--default-border-radius);
    --input-date-color: var(--color-gray-900);
    --input-date-bg-color: var(--color-white);
    --input-date-indicator-bg-color: var(--color-white);

    &[value]:not([value=""], [aria-invalid="true"]),
    &:is(:focus-visible, :hover, :active, :focus-within) {
      --input-date-box-shadow-color: var(--color-axa);
    }

    &[value]:not([aria-invalid="true"], [value=""]) {
      --input-date-color: var(--color-axa);
    }

    &[aria-invalid="true"] {
      --input-date-box-shadow-color: var(--color-red-700);
      --input-date-color: var(--color-gray-900);

      &:is(:focus-visible, :hover, :active, :focus-within):not(:disabled) {
        --input-date-box-shadow-width: 3px;
      }
    }

    &:disabled {
      --input-date-box-shadow-color: var(--color-gray-400);
      --input-date-color: var(--color-gray-500);
      --input-date-bg-color: var(--color-gray-200);
    }
  }
}
