@use "../../common/breakpoints" as breakpoints;

@use "./InputDateCommon";

.af-form {
  &__input-helper {
    --input-date-helper-color: var(--neutral-80);
  }

  &__input-date {
    --input-date-border-color: var(--axa-blue-65);
    --input-date-border-radius: var(--radius-8);
    --input-date-bg-color: var(--white);
    --input-date-color: var(--neutral-80);
    --input-date-placeholder-color-filled: var(--axa-blue-100);

    &:is(:hover, :focus, :active) {
      --input-date-border-color: var(--axa-blue-100);
    }

    &[class*="--error"] {
      --input-date-border-color: var(--red-alert-100);
    }

    &:disabled,
    &:disabled:is(:hover, :focus, :active) {
      --input-date-border-color: var(--neutral-50);
      --input-date-color: var(--neutral-50);
      --input-date-bg-color: var(--neutral-5);

      + .af-form__input-helper {
        --input-date-helper-color: var(--neutral-50);
      }
    }
  }
}
