.af-tabs__control {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.af-tabs__link {
  display: block;
  height: 100%;
  padding: 0 2.875rem;
  border: none;
  overflow: hidden;
  font-weight: lighter;
  line-height: 2.688rem;
  color: var(--gray60);
  background: none;
}

.af-tabs__link:focus {
  outline: 0;
}

.af-tabs__item {
  position: relative;
  box-sizing: border-box;
  height: 2.5rem;
  margin-top: 0.4375rem;
  margin-right: 0.375rem;
  margin-left: 0;
  border: 1px solid transparent;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  vertical-align: bottom;
  background-color: var(--gray40);
  cursor: pointer;
}

.af-tabs__item--active {
  height: 46px;
  margin-top: 1px;
  border-color: var(--azur);
  background-color: var(--azur);
}

.af-tabs__item--active .af-tabs__link {
  color: var(--white);
}

.af-tabs__item:hover {
  border-color: var(--azur);
  background-color: var(--azur);
}

.af-tabs__item:hover .af-tabs__link {
  border: none;
  color: var(--white);
}

.af-tabs__item:last-child {
  margin-right: 0;
}

.af-tabs__item--disabled {
  background-color: var(--gray40);
  cursor: not-allowed;
}

.af-tabs__item--disabled button {
  color: var(--gray80);
  cursor: not-allowed;
  pointer-events: none;
}

.af-tabs__item--disabled:hover {
  border-color: transparent;
  background-color: var(--gray40);
}

.af-tabs__item--disabled:hover button {
  color: var(--gray80);
}

.af-tabs__item--has-icon-left {
  padding-left: 1rem;
}

.af-tabs__item--has-icon-left .glyphicon {
  left: 1.5rem;
}

.af-tabs__item--has-icon-right {
  padding-right: 1rem;
}

.af-tabs__item--has-icon-right .glyphicon {
  right: 1.5rem;
}

.af-tabs__item .glyphicon {
  position: absolute;
  top: 50%;
  width: 17px;
  transform: translate(0, -50%);
}

.af-tabs__item .af-badge {
  position: absolute;
  z-index: 1;
  top: -14px;
  right: -14px;
}

.af-tabs__content {
  border: solid 1px var(--gray30);
  border-top: 2px solid var(--azur);
  background-color: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 11%);
}

.af-tabs__pane {
  padding: 1.25rem;
}
