@import "./TagCommon.css";

.af-tag {
  --tag-border-radius: var(--radius-4);
}

.af-tag__label {
  --tag-font-size: calc(14 / var(--font-size-base) * 1rem);
  --tag-line-height: calc(var(--tag-font-size) * 1.25);

  @media (--desktop-small) {
    --tag-font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}

.af-tag--info {
  --tag-bg-color: var(--white-1000);
  --tag-text-color: var(--blue-1000);
  --tag-border-color: var(--blue-1000);
}

.af-tag--success {
  --tag-bg-color: var(--white-1000);
  --tag-text-color: var(--color-green-600);
  --tag-border-color: var(--color-green-600);
}

.af-tag--error {
  --tag-bg-color: var(--white-1000);
  --tag-text-color: var(--red-alert-1200);
  --tag-border-color: var(--red-alert-1200);
}

.af-tag--neutral {
  --tag-bg-color: var(--white-1000);
  --tag-text-color: var(--color-gray-700);
  --tag-border-color: var(--color-gray-700);
}

.af-tag--warning {
  --tag-bg-color: var(--white-1000);
  --tag-text-color: var(--orange-1000);
  --tag-border-color: var(--orange-1000);
}
