@use "../common/common" as common;
@use "../common/reboot";

.af-title {
  gap: 0.25rem;
  color: var(--color-gray-900);

  &__title {
    margin: 0;
    font-family: var(--font-family-publico);
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    font-family: var(--font-family-base);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4rem;
  }

  &__icon {
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(var(--color-axa), 0.15);
  }

  &__text-container {
    display: grid;
    gap: 0.25rem;
  }

  &--xl &__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &--l &__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  &:has(&__icon) {
    display: flex;
    gap: 0.75rem;

    .af-title__title {
      color: var(--color-axa);
    }
  }
}

@media (width <= #{common.$breakpoint-md}) {
  .af-title {
    &--xl &__title {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }

    &--l &__title {
      font-size: 1.25rem;
      line-height: 1.56rem;
    }

    &__subtitle {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}
