.af-tabbar {
  display: flex;
  flex-direction: column;

  & > [role="tablist"] {
    display: flex;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 var(--tabbar-box-shadow-color);
  }

  & > [role="tabpanel"][aria-hidden="true"] {
    display: none;
  }
}

.af-tabbar.af-tabbar--center {
  & > [role="tablist"] {
    justify-content: center;

    & > [role="tab"] {
      flex-grow: 1;
    }
  }
}
