@use "../common/breakpoints" as breakpoints;

.af-link {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 0.25rem;
  font-size: calc(var(--link-font-size) / var(--font-size-base) * 1rem);
  font-weight: var(--link-font-weight);
  text-decoration: underline;
  text-underline-offset: var(--underline-offset);
  color: var(--link-text-color-default);
  fill: var(--link-text-color-default);

  svg {
    width: 1.25rem;
    height: 1.25rem;
    aspect-ratio: 1;
    fill: currentcolor;
  }

  &--openInNewTab {
    font-weight: 600;
  }

  &--default {
    line-height: var(--link-line-height);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--link-text-color-1);
    }

    &:active,
    &:focus {
      text-decoration: underline;
      color: var(--link-color-outline);
    }
  }

  &--underline {
    line-height: var(--link-line-height);

    &:hover {
      color: var(--link-text-color-1);
    }

    &:active,
    &:focus {
      color: var(--link-color-outline);
    }
  }

  &--inverse {
    line-height: var(--link-line-height);
    text-decoration: none;
    color: var(--link-text-color-inverse);

    &:hover,
    &:active,
    &:focus {
      line-height: var(--link-line-height);
      text-decoration: underline;
    }
  }

  &:hover,
  &:active,
  &:focus {
    fill: var(--link-text-color-1);
  }

  &:focus-visible {
    outline: 2px solid var(--link-color-outline);
    outline-offset: 3px;
  }
}
