@use "../common/breakpoints" as breakpoints;

@use "./LinkCommon";

.af-link {
  --link-font-weight: 400;
  --link-text-color-default: var(--color-axa);
  --underline-offset: 0%;
  --link-font-size: 14;

  @media (width > #{breakpoints.$breakpoint-md}) {
    --link-font-size: 18;
  }

  &--default {
    --link-line-height: 125%;

    &:hover {
      --link-text-color: var(--color-blue-1);
    }

    &:active,
    &:focus {
      --link-color-outline: var(--color-btn-light);
    }
  }

  &--underline {
    --link-line-height: 125%;

    &:hover {
      --link-text-color: var(--color-blue-1);
    }

    &:active,
    &:focus {
      --link-color-outline: var(--color-btn-light);
    }
  }

  &--inverse {
    --link-text-color-inverse: var(--color-white);
    --link-line-height: 125%;

    &:hover,
    &:active,
    &:focus {
      --link-line-height: 125%;
    }
  }
}
