@use "./CardMessageCommon";
@use "../common/breakpoints" as breakpoints;

.af-card-message {
  --card-message-padding: calc(12 / var(--font-size-base) * 1rem);
  --card-message-border-width: var(--default-border-radius);

  &--info {
    --card-message-background-color: var(--color-blue-200);
    --card-message-text-color: var(--color-axa);
    --card-message-border-color: var(--color-axa);
  }

  &--warning {
    --card-message-background-color: var(--color-orange-100);
    --card-message-text-color: var(--color-btn-business-dark);
    --card-message-border-color: var(--color-btn-business-dark);
  }

  &--error {
    --card-message-background-color: var(--color-btn-error-bg);
    --card-message-text-color: var(--color-btn-error-text);
    --card-message-border-color: var(--color-btn-error-text);
  }

  &--neutral {
    --card-message-background-color: var(--color-gray-200);
    --card-message-text-color: var(--color-gray-900);
    --card-message-border-color: var(--color-gray-900);
  }
}
