@use "./CardMessageCommon";

.af-card-message {
  --card-message-padding: var(--spacing-8) var(--spacing-16);
  --card-message-border-radius: var(--radius-8);

  &--info {
    --card-message-background-color: var(--axa-blue-4);
    --card-message-border-color: var(--axa-blue-4);
    --card-message-text-color: var(--axa-blue-100);
  }

  &--warning {
    --card-message-background-color: var(--axa-red-4);
    --card-message-border-color: var(--axa-red-4);
    --card-message-text-color: var(--warning-100);
  }

  &--error {
    --card-message-background-color: var(--axa-red-4);
    --card-message-border-color: var(--axa-red-4);
    --card-message-text-color: var(--red-alert-100);
  }

  &--neutral {
    --card-message-background-color: var(--neutral-5);
    --card-message-border-color: var(--neutral-5);
    --card-message-text-color: var(--neutral-80);
  }
}
