/* stylelint-disable color-function-notation */
:root {
  /* *************************************************************************/

  /* FONTS                                                                   */

  /* *************************************************************************/
  --font-family-sans-serif: "Source Sans Pro", arial, sans-serif;
  --font-family-serif: georgia, times, "Times New Roman", serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-publico-bold: "Publico Headline Bold";
  --font-family-publico: "Publico Headline";
  --font-size-base: 16;

  /* *************************************************************************/

  /* COLORS                                                                  */

  /* *************************************************************************/

  /* PRIMITIVES **************************************************************/

  --black: hsl(0deg, 0%, 0%); // #000000
  --black-20: hsl(from var(--black) h s l / 20%);
  --white: hsl(0deg, 0%, 100%); // #FFFFFF
  --white-20: hsl(from var(--white) h s l / 20%);

  /* blue */

  --axa-blue-100: hsl(240deg, 100%, 28%); // #00008f;
  --axa-blue-100-20: hsl(from var(--axa-blue-100) h s l / 20%);
  --axa-blue-100-40: hsl(from var(--axa-blue-100) h s l / 40%);
  --axa-blue-20: hsl(240deg, 40%, 86%); // #cccce9
  --axa-blue-4: hsl(240deg, 43%, 97%); // #f5f5fb
  --axa-blue-65: hsl(240deg, 33%, 53%); // #6060af
  --axa-blue-8: hsl(240deg, 33%, 91%); // #e0e0f0
  --axa-blue-80: hsl(240deg, 53%, 42%); // #3333A5
  --axa-blue-120: hsl(240deg, 100%, 22%); // #000072

  /* red */

  --axa-red-100: hsl(357deg, 100%, 55%); // #ff1721
  --axa-red-4: hsl(0deg, 100%, 98%); // #fff6f6
  --axa-red-digital-100: hsl(357deg, 100%, 63%); // #ff424c
  --red-alert-100: hsl(0deg, 100%, 45%); // #e30000
  --red-alert-80: hsl(0deg, 100%, 56%); // #ff1f1f

  /* orange */
  --warning-100: hsl(19deg, 82%, 43%); // #C94E14
  --warning-120: hsl(19deg, 82%, 35%); // #a13e10
  --warning-4: hsl(20deg, 80%, 98%); // #fef9f6
  --warning-80: hsl(19deg, 63%, 55%); // #D47143

  /* gray */
  --dark: hsl(from var(--black) h s 7%);
  --neutral-100: hsl(from var(--black) h s 20%);
  --neutral-80: hsl(from var(--black) h s 36%); // #5C5C5C
  --neutral-50: hsl(from var(--black) h s 60%); // #999999
  --neutral-50-20: hsl(from var(--neutral-50) h s l / 20%);
  --neutral-25: hsl(from var(--black) h s 80%);
  --neutral-14: hsl(from var(--black) h s 90%);
  --neutral-5: hsl(from var(--black) h s 96%); // #F5F5F5

  /* green */
  --green-100: hsl(138deg, 68%, 30%); // #188138
  --aqua-green-12: hsl(146deg, 41%, 97%); // #F3FAF6

  /* *************************************************************************/

  /* SIZING                                                                  */

  /* *************************************************************************/

  /* *************************************************************************/

  /* SPACING                                                                 */

  /* *************************************************************************/

  /* *************************************************************************/

  /* BREAKPOINTS                                                             */

  /* *************************************************************************/

  /* *************************************************************************/

  /* BORDERS                                                                 */

  /* *************************************************************************/

  --radius-8: 8px;
  --radius-32: 32px;
  --radius-100: 100vmax;

  /* *************************************************************************/

  /* ANIMATIONS                                                                 */

  /* *************************************************************************/
}
