/* stylelint-disable color-function-notation */
:root {
  /* *************************************************************************/

  /* FONTS                                                                   */

  /* *************************************************************************/
  --font-family-sans-serif: "Source Sans Pro", arial, sans-serif;
  --font-family-serif: georgia, times, "Times New Roman", serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-publico-bold: "Publico Headline Bold";
  --font-family-publico-headline: "Publico Headline";
  --font-family-publico: "Publico";
  --font-size-base: 16;

  /* *************************************************************************/

  /* COLORS                                                                  */

  /* *************************************************************************/

  /* PRIMITIVES **************************************************************/

  --black: hsl(0deg, 0%, 0%);
  --black-20: hsl(from var(--black) h s l / 20%);
  --white: hsl(0deg, 0%, 100%);
  --white-20: hsl(from var(--white) h s l / 20%);

  /* blue */

  --axa-blue-100: hsl(240deg, 100%, 28%);
  --axa-blue-100-20: hsl(from var(--axa-blue-100) h s l / 20%);
  --axa-blue-100-40: hsl(from var(--axa-blue-100) h s l / 40%);
  --axa-blue-20: hsl(240deg, 40%, 86%);
  --axa-blue-4: hsl(240deg, 43%, 97%);
  --axa-blue-65: hsl(240deg, 33%, 53%);
  --axa-blue-8: hsl(240deg, 38%, 94%);
  --axa-blue-80: hsl(240deg, 53%, 42%);
  --axa-blue-120: hsl(240deg, 100%, 22%);

  /* red */
  --axa-red-100: hsl(357deg, 100%, 55%);
  --axa-red-4: hsl(0deg, 100%, 98%);
  --axa-red-digital-100: hsl(357deg, 100%, 64%);
  --red-alert-100: hsl(0deg, 100%, 45%);
  --red-alert-80: hsl(0deg, 100%, 56%);

  /* orange */

  --warning-100: hsl(19deg, 82%, 43%);
  --warning-120: hsl(19deg, 82%, 35%);
  --warning-4: hsl(20deg, 80%, 98%);
  --warning-80: hsl(19deg, 63%, 55%);

  /* gray */

  --dark: hsl(from var(--black) h s 7%);
  --neutral-100: hsl(from var(--black) h s 20%);
  --neutral-80: hsl(from var(--black) h s 36%);
  --neutral-50: hsl(from var(--black) h s 60%);
  --neutral-50-20: hsl(from var(--neutral-50) h s l / 20%);
  --neutral-25: hsl(from var(--black) h s 80%);
  --neutral-14: hsl(from var(--black) h s 90%);
  --neutral-5: hsl(from var(--black) h s 96%);

  /* green */
  --green-100: hsl(138deg, 68%, 30%);
  --aqua-green-12: hsl(146deg, 41%, 97%);

  /* *************************************************************************/

  /* SIZING                                                                  */

  /* *************************************************************************/

  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;

  /* *************************************************************************/

  /* SPACING                                                                 */

  /* *************************************************************************/

  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;

  /* *************************************************************************/

  /* BREAKPOINTS                                                             */

  /* *************************************************************************/

  /* *************************************************************************/

  /* BORDERS                                                                 */

  /* *************************************************************************/
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-32: 32px;
  --radius-100: 100vmax;

  /* *************************************************************************/

  /* ANIMATIONS                                                                 */

  /* *************************************************************************/
}
