.af-click-icon {
  display: grid;
  width: fit-content;
  padding: calc(8 / var(--font-size-base) * 1rem);
  border: 0;
  border-radius: 100vmax;
  background-color: var(--click-icon-background-color);
  cursor: pointer;

  .af-icon svg {
    fill: var(--click-icon-svg-fill, var(--icon-fill));
  }

  &:disabled {
    pointer-events: none;
  }

  &:focus-visible {
    outline: 2px solid var(--click-icon-outline-color, transparent);
    outline-offset: 2px;
  }
}

/* Should be deleted, prefer use :disabled */
.af-click-icon--disabled {
  pointer-events: none;
}
