@import "./ClickIconCommon.css";

.af-click-icon {
  --click-icon-background-color: var(--color-btn-tertiary-bg);

  &:hover {
    --click-icon-background-color: var(--color-btn-tertiary-bg-darker);
  }

  &:active {
    --click-icon-background-color: var(--color-btn-tertiary-bg-lighter);
  }

  &:disabled {
    --click-icon-background-color: var(--color-gray-200);
    --click-icon-svg-fill: var(--color-gray-500);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --click-icon-outline-color: var(--color-blue-3);

    outline: 2px solid var(--click-icon-outline-color);
    outline-offset: 2px;
  }
}

/* Should be deleted, prefer use :disabled */
.af-click-icon--disabled {
  --click-icon-background-color: var(--neutral-5);
  --click-icon-svg-fill: var(--neutral-50);
}
