@import "./ClickIconCommon.css";

.af-click-icon {
  --click-icon-background-color: var(--axa-blue-8);

  &:hover {
    --click-icon-background-color: var(--axa-blue-120);
    --click-icon-svg-fill: var(--white);
  }

  &:active {
    --click-icon-background-color: var(--axa-blue-80);
    --click-icon-svg-fill: var(--white);
  }

  &:disabled {
    --click-icon-background-color: var(--neutral-5);
    --click-icon-svg-fill: var(--neutral-50);
  }

  &:focus-visible {
    --click-icon-outline-color: var(--axa-blue-100);
  }
}

/* Should be deleted, prefer use :disabled */
.af-click-icon--disabled {
  --click-icon-background-color: var(--neutral-5);
  --click-icon-svg-fill: var(--neutral-50);
}

.af-click-icon--info {
  --click-icon-background-color: transparent;

  &:hover,
  &:active {
    --click-icon-background-color: transparent;
    --click-icon-svg-fill: var(--axa-blue-100);
  }
}

.af-click-icon--warning {
  --click-icon-background-color: transparent;

  &:hover,
  &:active {
    --click-icon-background-color: transparent;
    --click-icon-svg-fill: var(--red-alert-100);
  }
}

.af-click-icon--inverse {
  --click-icon-background-color: transparent;
  --click-icon-svg-fill: var(--white);

  &:hover,
  &:active {
    --click-icon-background-color: transparent;
    --click-icon-svg-fill: var(--white);
  }
}
