@use "sass:color";
@use "../common/common.scss" as common;

$minHeight: 3rem;

.af-accordion {
  font-family: common.$font-family-sans-serif;

  &__item-header {
    display: flex;
    min-height: $minHeight;
    padding: 0 1.25rem;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--axablue80);
    cursor: pointer;
    list-style-type: none;
  }

  &__details {
    margin-bottom: 1px;
  }

  svg {
    width: 2rem;
    height: 2rem;
    order: 2;
    transition: transform 0.5s;
    fill: currentcolor;
  }

  &__item-title {
    margin: 0;
    order: 1;
    font-size: calc(20rem / 16);
  }

  &__content {
    padding: 1rem;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 18%);
  }

  &__details[open] {
    svg {
      transform: rotate(180deg);
    }
  }

  &__header-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

.af-accordion--light {
  & .af-accordion__content {
    box-shadow: none;
  }

  .af-accordion__details {
    position: relative;
  }

  $minHeightLight: 30px;

  .af-accordion__item-header {
    display: flex;
    width: fit-content;
    min-height: $minHeightLight;
    padding: 0 3rem 0 1rem;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    color: common.$color-mine-shaft;
    background-color: var(--gray10);

    &::before {
      position: absolute;
      z-index: -1;
      top: calc($minHeightLight / 2);
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ccc;
      content: "";
    }

    svg {
      order: 0;
    }
  }
}

.af-accordion--white {
  background: var(--white);

  .af-accordion__item-header {
    min-height: 5rem;
    border-bottom: 1px solid var(--axablue80);
    color: var(--axablue80);
    background: var(--white);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 18%);
  }

  .af-accordion__content {
    padding: 1.5rem;
    border-bottom: 1px solid var(--axablue80);
    background: var(--gray10);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 18%);
  }
}
