@use "../../../common/common" as common;

.af-info-user {
  margin-bottom: 1rem;
  order: 2;
  font-weight: 600;
  text-align: left;
  text-decoration: underline;
  color: common.$color-axa;

  &__name {
    display: inline;
  }

  &__profile {
    display: inline;
    margin-left: 0.3em;
  }
}

@include common.media-breakpoint-up(sm) {
  .af-info-user {
    text-align: right;

    &__name,
    &__profile {
      display: block;
    }
  }
}

@include common.media-breakpoint-up(md) {
  .af-info-user {
    margin: 0;
    flex-basis: initial;
    order: 3;
    align-self: initial;

    &__name,
    &__profile {
      display: inline;
    }
  }
}
