.af-info-user {
  margin-bottom: 1rem;
  order: 2;
  font-weight: 600;
  text-align: right;
}

.af-info-user__profile {
  margin-left: 0.5ch;
}

.af-info-user__name,
.af-info-user__profile {
  display: block;
}

.af-info-user__link {
  text-decoration: underline;
}

@media (width >= 768px) {
  .af-info-user {
    margin: 0;
    flex-basis: initial;
    order: 3;
    align-self: initial;
    text-align: left;
  }

  .af-info-user__name {
    display: inline;
  }

  .af-info-user__profile {
    display: inline;
  }
}
