@use "./SpinnerCommon";

.af-spinner__container {
  --spinner-border-color: color-mix(in srgb, var(--color-axa), transparent 80%);
  --spinner-border-top-color: var(--color-axa);

  &--24 {
    --spinner-border-size: 2;
  }

  &--40 {
    --spinner-border-size: 4;
  }

  &--gray {
    --spinner-border-color: color-mix(
      in srgb,
      var(--color-gray),
      transparent 80%
    );
    --spinner-border-top-color: var(--color-gray);
  }

  &--white {
    --spinner-border-color: color-mix(
      in srgb,
      var(--color-white),
      transparent 80%
    );
    --spinner-border-top-color: var(--color-white);
  }
}
