@use "./SelectCommon";

.af-form__select {
  &-input {
    --select-color: var(--color-gray-900);
    --select-outline-color: var(--color-axa);
    --select-placeholder-color: var(--color-gray-700);
    --select-border-radius: var(--default-border-radius);
    --select-border-color: var(--color-gray-700);
    --select-background: url("@material-symbols/svg-400/outlined/arrow_drop_down.svg")
      no-repeat right 1rem center / 1.5rem 1.5rem;

    &:open {
      --select-background-open: url("@material-symbols/svg-400/outlined/arrow_drop_up.svg");
    }

    &:focus-visible {
      --select-outline-color: var(--color-blue-3);
      --select-border-color: var(--color-axa);
    }

    &:disabled {
      --select-bg-color-disabled: var(--color-gray-500);
      --select-border-color: var(--color-gray-400);
    }

    &:not(:disabled):hover,
    &:not(:disabled):active {
      --select-border-color: var(--color-axa);
      --select-box-shadow: var(--color-axa);
    }

    &:has(option[value=""]:checked) {
      --select-color: var(--color-gray-700);
    }

    &:has(option[value=""]:not(:checked)) {
      --select-border-color: var(--color-axa);
    }

    option {
      --select-color: var(--color-gray-900);

      &:disabled {
        --select-color: var(--color-gray-500);
      }
    }

    &-placeholder {
      --select-placeholder-color: var(--color-gray-700);
    }

    &--error {
      --select-border-color: var(--color-red-700);

      &:focus-visible {
        --select-border-color: var(--color-red-700);
      }

      &:not(:disabled):hover,
      &:not(:disabled):active {
        --select-border-color: var(--color-red-700);
        --select-box-shadow: 0 0 0 1px var(--color-red-700) inset;
      }

      &:has(option[value=""]:not(:checked)) {
        --select-border-color: var(--color-red-700);
      }
    }
  }
}
