@use "./SelectCommon";

.af-form__select {
  &-label {
    --select-placeholder-color-default: var(--neutral-80);
  }

  &-input {
    --select-border-color-default: var(--axa-blue-65);
    --select-border-radius: var(--radius-4);
    --select-background: url("@material-symbols/svg-400/outlined/keyboard_arrow_down.svg")
      no-repeat right 1rem center / 1.5rem 1.5rem;

    &:open {
      background-image: url("@material-symbols/svg-400/outlined/keyboard_arrow_up.svg");
    }

    option {
      --select-option-color: var(--neutral-100);

      &:disabled {
        --select-option-disabled-color: var(--neutral-50);
      }
    }

    &:focus-visible {
      --select-focus-border-color: var(--axa-blue-100);
    }

    &:disabled {
      --select-bg-color-disabled: var(--neutral-50);
      --select-border-color-disabled: var(--neutral-50);
    }

    &-placeholder {
      --select-placeholder-color-default: var(--neutral-80);
    }

    &:not(:disabled):hover,
    &:not(:disabled):active {
      --select-hover-border-radius: 2px;
      --select-hover-border-color: var(--axa-blue-100);
      --select-hover-box-shadow: var(--axa-blue-100);
    }

    &--error {
      --select-border-color-error: var(--red-alert-100);

      &:focus-visible {
        --select-box-shadow-color-error: var(--red-alert-100);
      }

      &:not(:disabled):hover,
      &:not(:disabled):active {
        --select-border-color-error: var(--red-alert-100);
        --select-box-shadow-color-error: var(--red-alert-100);
      }
    }
  }
}
