@layer canopee {
  .af-menu-burger:not(:only-child) {
    margin-top: var(--rem-24);
    padding-top: var(--rem-24);
    border-top: 1px solid var(--blue-200);
  }

  .af-menu-burger__button {
    display: none;
  }

  .af-menu-burger__button-icon--suffix {
    transition: transform var(--transition-duration) ease-in-out;
  }

  .af-menu-burger__panel {
    display: grid;
    padding-inline: var(--rem-16);
    gap: var(--rem-16);
    background: var(--white-1000);
  }

  .af-menu-burger__content {
    display: grid;
    gap: var(--rem-12);
  }

  @media (--desktop-small) {
    .af-menu-burger {
      display: inline-block;
      inline-size: auto;

      &:not(:only-child) {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }

    .af-menu-burger__button {
      display: inline-flex;
    }

    .af-menu-burger__panel {
      top: var(--rem-24);
      inline-size: 300px;
      max-inline-size: 300px;
      padding: var(--rem-16);
      border: 1px solid var(--blue-200);
      border-radius: var(--radius-8);
      opacity: 0;
      transform-origin: center;
      transition:
        display var(--transition-duration) allow-discrete,
        overlay var(--transition-duration) allow-discrete,
        opacity var(--transition-duration),
        transform var(--transition-duration);
      transition-timing-function: ease-in-out;
      position-area: bottom span-left;
      position-try-fallbacks: flip-block, flip-inline;

      &:popover-open {
        opacity: 1;
      }
    }

    @starting-style {
      .af-menu-burger__panel:popover-open {
        opacity: 0;
      }
    }

    .af-menu-burger:has(.af-menu-burger__panel:popover-open)
      .af-menu-burger__button-icon--suffix {
      transform: rotate(180deg);
    }
  }
}
