@import "./ContentItemMonoCommon.css";

.af-content-item-mono {
  .af-content-item-mono__stick {
    --stick-background-color: var(--axa-blue-100);
  }

  .af-content-item-mono__text-content {
    .af-content-item-mono__title {
      --title-font-family: var(--font-family-sans-serif);
      --title-font-size: calc(16 / var(--font-size-base) * 1rem);
      --title-font-weight: 600;
      --title-color: var(--neutral-100);
      --title-line-height: calc(20 / var(--font-size-base) * 1rem);
    }

    .af-content-item-mono__subtitle-primary {
      --subtitle-primary-font-family: var(--font-family-sans-serif);
      --subtitle-primary-font-size: calc(16 / var(--font-size-base) * 1rem);
      --subtitle-primary-color: var(--neutral-100);
      --subtitle-primary-line-height: calc(20 / var(--font-size-base) * 1rem);
    }

    .af-content-item-mono__subtitle {
      --subtitle-font-family: var(--font-family-sans-serif);
      --subtitle-font-size: calc(14 / var(--font-size-base) * 1rem);
      --subtitle-color: var(--neutral-80);
      --subtitle-line-height: calc(18 / var(--font-size-base) * 1rem);
    }
  }

  .af-content-item-mono__stick
    + .af-content-item-mono__text-content
    .af-content-item-mono__title {
    --title-font-size: calc(14 / var(--font-size-base) * 1rem);
    --title-line-height: calc(18 / var(--font-size-base) * 1rem);
  }

  &.af-content-item-mono--large
    .af-content-item-mono__text-content
    .af-content-item-mono__title {
    --title-font-family: var(--font-family-publico-headline);
    --title-font-weight: 300;
    --title-font-size: calc(22 / var(--font-size-base) * 1rem);
    --title-line-height: calc(28 / var(--font-size-base) * 1rem);
  }

  @media (--desktop-small) {
    .af-content-item-mono__text-content {
      .af-content-item-mono__title {
        --title-font-size: calc(18 / var(--font-size-base) * 1rem);
        --title-line-height: calc(23 / var(--font-size-base) * 1rem);
      }

      .af-content-item-mono__subtitle-primary {
        --subtitle-primary-font-size: calc(18 / var(--font-size-base) * 1rem);
        --subtitle-primary-line-height: calc(23 / var(--font-size-base) * 1rem);
      }

      .af-content-item-mono__subtitle {
        --subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
        --subtitle-line-height: calc(20 / var(--font-size-base) * 1rem);
      }
    }

    .af-content-item-mono__stick
      + .af-content-item-mono__text-content
      .af-content-item-mono__title {
      --title-font-size: calc(16 / var(--font-size-base) * 1rem);
      --title-line-height: calc(20 / var(--font-size-base) * 1rem);
    }

    &.af-content-item-mono--large
      .af-content-item-mono__text-content
      .af-content-item-mono__title {
      --title-font-size: calc(28 / var(--font-size-base) * 1rem);
      --title-line-height: calc(35 / var(--font-size-base) * 1rem);
    }
  }
}
