.af-content-item-mono {
  display: flex;
  align-items: center;
  gap: calc(12 / var(--font-size-base) * 1rem);

  .stick {
    width: calc(4 / var(--font-size-base) * 1rem);
    border-radius: 2px;
    align-self: stretch;
    background-color: var(--stick-background-color);
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: calc(2 / var(--font-size-base) * 1rem);

    .title {
      font-family: var(--title-font-family);
      font-size: var(--title-font-size);
      font-weight: var(--title-font-weight);
      line-height: var(--title-line-height);
      color: var(--title-color);
    }

    .subtitle-primary {
      font-family: var(--subtitle-primary-font-family);
      font-size: var(--subtitle-primary-font-size);
      font-weight: 400;
      line-height: var(--subtitle-primary-line-height);
      color: var(--subtitle-primary-color);
    }

    .subtitle {
      font-family: var(--subtitle-font-family);
      font-size: var(--subtitle-font-size);
      font-weight: 400;
      line-height: var(--subtitle-line-height);
      color: var(--subtitle-color);
    }
  }
}
