.af-apollo-click-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(12 / var(--font-size-base) * 1rem);
  cursor: pointer;
  user-select: none;

  p {
    margin: 0;
    padding: 0;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: calc(2 / var(--font-size-base) * 1rem);
  }

  &__title {
    font-size: var(--click-item-title-font-size);
    font-weight: 600;
    color: var(--click-item-title-color);
  }

  &__subtitle {
    font-size: var(--click-item-subtitle-font-size);
    font-weight: 400;
    color: var(--click-item-subtitle-color);
  }

  &__secondary {
    font-size: var(--click-item-secondary-color);
    font-weight: 400;
    color: var(--click-item-secondary-color);
  }

  &__tertiary {
    font-size: var(--click-item-tertiary-font-size);
    font-weight: 400;
    color: var(--click-item-tertiary-color);
  }

  &__tag-container {
    padding-top: calc(6 / var(--font-size-base) * 1rem);
  }

  &--small {
    .af-apollo-click-item {
      &__title span:hover {
        border-bottom: 1px var(--click-item-title-border-color) solid;
      }

      &__subtitle,
      &__secondary,
      &__tertiary,
      &__tag-container {
        display: none;
      }
    }
  }

  &--medium {
    .af-apollo-click-item {
      &__secondary,
      &__tertiary,
      &__trailing {
        display: none;
      }
    }
  }

  &--agent {
    .af-apollo-click-item {
      &__secondary,
      &__tertiary,
      &__tag-container {
        display: none;
      }
    }
  }

  &--large.af-apollo-click-item--disabled,
  &--medium.af-apollo-click-item--disabled {
    .af-apollo-click-item {
      &__title,
      &__subtitle,
      &__secondary,
      &__tertiary {
        color: var(--neutral-80);
      }
    }
  }
}
