@use "./AccordionCommon";

.af-accordion {
  --accordion-info1-text-color: var(--neutral-80);
  --accordion-info2-text-color: var(--green-100);
  --accordion-title-text-color: var(--axa-blue-100);
  --accordion-subtitle-text-color: var(--neutral-80);
  --accordion-font-size: calc(16 / var(--font-size-base) * 1rem);
  --accordion-subtitle-font-size: calc(14 / var(--font-size-base) * 1rem);
  --accordion-line-height: 1.25;
}
