@use "../common/breakpoints" as breakpoints;

.af-accordion {
  --summary-areas: "title-container tag-date-container value arrow";
  --summary-columns: auto 1fr repeat(2, auto);
  --title-container-areas: "title" "subtitle";
  --title-container-columns: min-content 1fr;

  &__summary {
    grid-template-areas: var(--summary-areas);
    grid-template-columns: var(--summary-columns);

    .af-accordion {
      &__title-container {
        display: grid;
        grid-area: title-container;
        grid-template: var(--title-container-areas);
        grid-template-columns: var(--title-container-columns);
        gap: 0.125rem 1rem;

        .af-accordion {
          &__title {
            grid-area: title;
          }

          &__subtitle {
            grid-area: subtitle;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25rem;
            color: var(--color-gray-700);
          }
        }
      }
    }
  }
}
