.helper {
  position: relative;
  width: 21.625rem;
  padding: 1.25rem;
}

.helper::before {
  position: absolute;
  inset: 0;
  border-radius: 5px;
  background:
    repeating-linear-gradient(
        to right,
        #9747ff 0 0.625rem,
        transparent 0.625rem 1rem
      )
      top,
    repeating-linear-gradient(
        to right,
        #9747ff 0 0.625rem,
        transparent 0.625rem 1rem
      )
      bottom,
    repeating-linear-gradient(
        to bottom,
        #9747ff 0 0.625rem,
        transparent 0.625rem 1rem
      )
      left,
    repeating-linear-gradient(
        to bottom,
        #9747ff 0 0.625rem,
        transparent 0.625rem 1rem
      )
      right;
  background-repeat: no-repeat;
  background-size:
    100% 0.1rem,
    100% 0.1rem,
    0.1rem 100%,
    0.1rem 100%;
  pointer-events: none;
  content: "";
}
