.af-pager__pagination {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.af-pager__item {
  font-size: 0.9375rem;
}

.af-pager__item-link[aria-current="page"] {
  min-width: 1.9rem;
  height: 1.9rem;
  border-radius: 1.5625rem;
  justify-content: center;
  text-align: center;
  color: var(--white);
  background: var(--axablue80);
}

.af-pager__item-link,
.af-pager__item-nolink {
  display: inline-flex;
  padding: 0.3em 0.5rem;
  color: var(--gray80);
}

.af-pager__item-link[aria-current="page"]:hover {
  background: var(--azur);
}

.af-pager__item-link .af-pager__item-link {
  color: var(--white);
}

.af-pager__item-text {
  text-decoration: underline;
}

.af-pager__item-icon {
  margin: 0 0.5rem;
}

.af-pager__item-icon:hover {
  text-decoration: none;
}
@media (width <= 576px) {
  .af-paging__pager {
    margin-top: 2rem;
  }
}
