@use "../common/common.agent.scss" as common;

/* stylelint-disable no-descending-specificity */

.af-table {
  width: 100%;
  margin-bottom: 2rem;
  border-spacing: 0;
  border-collapse: collapse;
  background: common.$white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);

  &-th {
    font-weight: common.$table-head-font-weight;
  }

  &__th {
    position: relative;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: common.$table-head-font-weight;
    text-align: left;
    color: common.$white;
    background: common.$color-azur;
    box-shadow: 0 0 1px 1px common.$white;

    &--sortable {
      padding: 0;
    }

    .af-link {
      color: common.$white;

      &:hover {
        color: common.$white;
      }
    }

    .glyphicon {
      position: relative;
      inset: 0;
      font-size: 0.7rem;
      transform: none;
    }
  }

  &__tr {
    height: 100%;

    &:nth-child(2n + 1) {
      .af-table {
        &__cell {
          background-color: common.$color-wild-sand;
        }
      }
    }
  }

  &__cell {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-right-color: common.$color-silver;
    font-size: 0.9375rem;
    text-align: left;

    &:nth-last-child(1) {
      border-right: 0;
    }
  }
}
/* stylelint-enable no-descending-specificity */
