@use "./ItemTabBarCommon";
@use "../common/breakpoints" as breakpoints;

.af-item-tab-bar {
  --item-tab-bar-font-color: var(--color-gray-900);
  --item-tab-bar-font-size: calc(18 / var(--font-size-base) * 1rem);
  --item-tab-bar-border-color: var(--color-blue-400);

  &--tabBar[aria-selected="true"] {
    --item-tab-bar-font-color: var(--color-axa);
    --item-tab-bar-border-color: var(--color-axa);
  }

  &--header[aria-selected="true"] {
    --item-tab-bar-font-color: var(--color-axa);
    --item-tab-bar-border-color: var(--color-red);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --item-tab-bar-outline-color: var(--color-focus);

    outline: 2px solid var(--item-tab-bar-outline-color);
    outline-offset: 2px;
  }

  @media (width > #{breakpoints.$breakpoint-md}) {
    --item-tab-bar-font-size: calc(20 / var(--font-size-base) * 1rem);
  }
}
