@use "../common/breakpoints.scss" as common;

.af-content-item-duo-action {
  display: flex;
  flex-direction: row;

  .af-content-item-mono {
    flex-grow: 1;
  }

  .af-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: calc(16 / var(--font-size-base) * 1rem);
    margin-left: calc(12 / var(--font-size-base) * 1rem);

    @media (width > #{common.$breakpoint-sm}) {
      flex-direction: row;
      column-gap: calc(24 / var(--font-size-base) * 1rem);
        margin-left: calc(8 / var(--font-size-base) * 1rem);
    }
  }
}
