@import "./IconCommon.css";

.af-icon {
  --icon-border-radius: var(--radius-12);
}

.af-icon--small {
  &.af-icon--has-background {
    --icon-padding: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-icon--primary {
  --icon-fill: var(--color-axa);

  &.af-icon--has-background {
    --icon-fill: var(--color-white);
    --icon-background-color: var(--color-axa);
  }
}

.af-icon--secondary {
  --icon-fill: var(--color-white);

  &.af-icon--has-background {
    --icon-fill: var(--color-axa);
    --icon-background-color: var(--color-white);
    --icon-outline-color: var(--color-gray-300);
  }
}

.af-icon--disabled {
  --icon-fill: var(--color-gray-500);

  &.af-icon--has-background {
    --icon-background-color: var(--color-gray-200);
  }
}

.af-icon--info {
  --icon-fill: var(--color-axa);
}

.af-icon--warning {
  --icon-fill: var(--color-red-700);
}

.af-icon--inverse {
  --icon-fill: var(--color-white);
}
