.af-icon {
  --icon-size-large: var(--rem-40);
  --icon-size-medium: var(--rem-32);
  --icon-size-small: var(--rem-24);
  --icon-size-extra-small: var(--rem-16);
  --icon-size: var(--icon-size-small);

  display: grid;
  width: fit-content;
  padding: var(--icon-padding);
  border-radius: var(--icon-border-radius);
  background-color: var(--icon-background-color, transparent);
  outline-color: var(--icon-outline-color);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--icon-fill);
  }
}

.af-icon--large {
  --icon-size: var(--icon-size-large);

  &.af-icon--has-background {
    --icon-padding: var(--rem-12);
  }
}

.af-icon--medium {
  --icon-size: var(--icon-size-medium);

  &.af-icon--has-background {
    --icon-padding: var(--rem-12);
  }
}

.af-icon--small {
  --icon-size: var(--icon-size-small);
}

.af-icon--extra-small {
  --icon-size: var(--icon-size-extra-small);

  &.af-icon--has-background {
    --icon-padding: var(--rem-8);
  }
}

.af-icon--secondary {
  &.af-icon--has-background {
    outline-style: solid;
    outline-width: 1px;
  }
}
