@import "./IconCommon.css";

.af-icon {
  --icon-border-radius: var(--radius-12);
}

.af-icon--small {
  &.af-icon--has-background {
    --icon-padding: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-icon--primary {
  --icon-fill: var(--blue-1000);

  &.af-icon--has-background {
    --icon-fill: var(--white-1000);
    --icon-background-color: var(--blue-1000);
  }
}

.af-icon--secondary {
  --icon-fill: var(--white-1000);

  &.af-icon--has-background {
    --icon-fill: var(--blue-1000);
    --icon-background-color: var(--white-1000);
    --icon-outline-color: var(--color-gray-300);
  }
}

.af-icon--disabled {
  --icon-fill: var(--color-gray-500);

  &.af-icon--has-background {
    --icon-background-color: var(--color-gray-200);
  }
}

.af-icon--success {
  --icon-fill: var(--color-green-600);
}

.af-icon--error {
  --icon-fill: var(--red-alert-1200);
}

.af-icon--warning {
  --icon-fill: var(--color-orange-700);
}
