@use "../../../common/breakpoints" as breakpoints;

.af-card-radio {
  display: flex;
  flex-direction: column;
  gap: calc(8 / var(--font-size-base) * 1rem);

  &__legend {
    display: contents;

    & > p {
      margin: 0;
    }
  }

  &__label {
    display: inline-flex;
    gap: calc(4 / var(--font-size-base) * 1rem);
    font-size: calc(18 / var(--font-size-base) * 1rem);
    font-weight: 600;
    color: var(--card-radio-color);
  }

  &__description {
    font-size: calc(16 / var(--font-size-base) * 1rem);
    font-weight: 400;
    line-height: calc(16 / var(--font-size-base) * 1rem);
    color: var(--card-radio-color);

    @media (width > #{breakpoints.$breakpoint-sm}) {
      font-size: calc(18 / var(--font-size-base) * 1rem);
      line-height: calc(18 / var(--font-size-base) * 1rem);
    }
  }

  &__options {
    display: flex;
    gap: 1rem;

    > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &__options--vertical {
    flex-direction: row;
  }

  &__options--horizontal {
    flex-direction: column;
  }
}
