.af-content-item-duo-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .af-action-container {
    display: flex;
    margin-left: calc(12 / var(--font-size-base) * 1rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: calc(16 / var(--font-size-base) * 1rem);

    @media (--desktop-small) {
      margin-left: calc(8 / var(--font-size-base) * 1rem);
      flex-direction: row;
      column-gap: calc(24 / var(--font-size-base) * 1rem);
    }
  }
}
