@layer canopee {
  .af-basecard {
    --card-border-color: transparent;
    --card-background-color: var(--white);
    --card-text-color: var(--text-color);
    --card-icon-color: var(--brand-primary);
    --card-font-weight: normal;
    --card-padding: 24px 16px;

    display: inline-flex;
    width: var(--card-width, 180px);
    min-height: var(--card-min-height, 128px);
    margin: 0;
    padding: var(--card-padding);
    border: 2px solid var(--card-border-color);
    border-radius: 4px;
    flex-direction: var(--card-flex-direction, column);
    align-items: center;
    gap: var(--card-gap, 24px);
    font-weight: var(--card-font-weight);
    color: var(--card-text-color);
    background-color: var(--card-background-color);
    box-shadow: 0 0 9px 0 #0000002e;
    cursor: pointer;

    svg {
      fill: var(--card-icon-color);
    }
  }
}
