/* stylelint-disable no-descending-specificity */

.af-form__checkbox-container {
  display: flex;
  flex-flow: row wrap;
}

.af-form__checkbox-container:has(.af-form__checkbox) {
  flex-direction: column;
}

.af-form__checkbox .af-form__indicator,
.af-form__checkbox-inline .af-form__indicator,
.af-form__checkbox-custom .af-form__indicator,
.af-form__checkbox-toggle .af-form__indicator {
  display: flex;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--input-border-color);
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  fill: none;
}

.af-form__checkbox .af-form__indicator .ok-icon,
.af-form__checkbox-inline .af-form__indicator .ok-icon,
.af-form__checkbox-custom .af-form__indicator .ok-icon,
.af-form__checkbox-toggle .af-form__indicator .ok-icon {
  display: none;
  width: 0.8rem;
  height: 0.8rem;
  fill: var(--white);
}

.af-form__checkbox--disabled .af-form__label,
.af-form__checkbox-inline--disabled .af-form__label,
.af-form__checkbox-custom--disabled .af-form__label,
.af-form__checkbox-toggle--disabled .af-form__label {
  opacity: 0.4;
  cursor: not-allowed;
}

.af-form__checkbox--error .af-form__label,
.af-form__checkbox-inline--error .af-form__label,
.af-form__checkbox-custom--error .af-form__label {
  color: var(--error-color);
}

.af-form__checkbox--error .af-form__indicator,
.af-form__checkbox-inline--error .af-form__indicator,
.af-form__checkbox-custom--error .af-form__indicator {
  border-color: var(--error-color);
}

.af-form__checkbox--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator,
.af-form__checkbox-inline--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator,
.af-form__checkbox-custom--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator {
  border-color: var(--error-color);
  background-color: var(--error-color);
}

.af-form__checkbox--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator
  .ok-icon,
.af-form__checkbox-inline--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator
  .ok-icon,
.af-form__checkbox-custom--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator
  .ok-icon {
  display: block;
}

.af-form__checkbox--warning .af-form__label,
.af-form__checkbox-inline--warning .af-form__label,
.af-form__checkbox-custom--warning .af-form__label {
  color: var(--warning-color);
}

.af-form__checkbox--warning .af-form__indicator,
.af-form__checkbox-inline--warning .af-form__indicator,
.af-form__checkbox-custom--warning .af-form__indicator {
  border-color: var(--warning-color);
}

.af-form__input-checkbox {
  position: absolute;
  opacity: 0;
}

.af-form__input-checkbox:checked + .af-form__label .af-form__indicator {
  border-color: var(--button-primary-default);
  background-color: var(--button-primary-default);
}

.af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator
  .ok-icon {
  display: block;
}

.af-form__input-checkbox:focus + .af-form__label {
  outline: 2px solid var(--button-primary-default);
  outline-offset: 2px;
}

/* Classic */
.af-form__checkbox {
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--disabled-color);
  align-items: center;
}

.af-form__checkbox:last-child {
  border-bottom: none;
}

/* Inline */
.af-form__checkbox-inline {
  position: relative;
  display: inline-flex;
  margin-right: 1rem;
  align-items: center;
}

.af-form__checkbox-inline .af-form__label {
  padding: 0;
}

.af-form__checkbox-inline .af-form__description {
  padding-left: calc(8rem / 16);
}

/* Custom */
.af-form__checkbox-custom {
  position: relative;
  display: inline-flex;
  margin: 0 0.3rem 0.3rem 0;
  align-items: center;
  text-align: center;
}

.af-form__checkbox-custom .af-form__label {
  margin: 0;
  padding: 0.5rem 2rem;
  font-weight: normal;
  background: var(--gray20);
  box-shadow: inset 0 -2px 0 0 var(--gray50);
  cursor: pointer;
}

.af-form__checkbox-custom .af-form__indicator {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
  border: 1px solid var(--input-border-color);
  background-color: var(--white);
  fill: var(--button-primary-default);
}

.af-form__checkbox-custom .af-form__description {
  padding-left: 0.5rem;
}

.af-form__checkbox-custom .af-form__input-checkbox:checked + .af-form__label {
  color: var(--white);
  background-color: var(--button-primary-default);
  box-shadow: inset 0 -2px 0 0 var(--axablue90);
}

.af-form__checkbox-custom
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator {
  border-color: var(--button-primary-default);
  background: var(--white);
}

.af-form__checkbox-custom
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator
  .ok-icon {
  display: block;
  width: 29px;
  height: 29px;
  fill: var(--button-primary-default);
  stroke-width: 10px;
}

.af-form__checkbox-custom .af-form__input-checkbox:focus + .af-form__label {
  outline: 2px solid var(--button-primary-default);
  outline-offset: 2px;
}

.af-form__checkbox-custom .af-form__input-checkbox:disabled + .af-form__label {
  background-color: var(--gray20);
  box-shadow: inset 0 -2px 0 0 var(--disabled-color);
  cursor: not-allowed;
}

.af-form__checkbox-custom
  .af-form__input-checkbox:disabled
  + .af-form__label
  .af-form__description {
  color: var(--disabled-color);
}

.af-form__checkbox-custom
  .af-form__input-checkbox:disabled
  + .af-form__label
  .af-form__indicator {
  border: 1px solid var(--gray50);
  background: var(--white);
}

.af-form__checkbox-custom
  .af-form__input-checkbox:disabled
  + .af-form__label
  .af-form__indicator
  .ok-icon {
  fill: var(--gray50);
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]
  + .af-form__label {
  outline: 2px solid var(--button-primary-default);
  outline-offset: 2px;
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]
  + .af-form__label
  .af-form__indicator {
  border-color: var(--error-color);
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]
  + .af-form__label
  .af-form__indicator
  .ok-icon {
  fill: var(--error-color);
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]:focus
  + .af-form__label {
  box-shadow: none;
  outline: 2px solid var(--button-primary-default);
  outline-offset: 0;
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]:disabled
  + .af-form__label {
  background-color: var(--gray20);
  box-shadow: inset 0 -2px 0 0 var(--error-color);
  cursor: not-allowed;
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]:disabled
  + .af-form__label
  .af-form__description {
  color: var(--disabled-color);
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]:disabled
  + .af-form__label
  .af-form__indicator {
  border-color: var(--disabled-color);
}

.af-form__checkbox-custom
  .af-form__input-checkbox[aria-invalid="true"]:disabled
  + .af-form__label
  .af-form__indicator
  .ok-icon {
  fill: var(--disabled-color);
}

.af-form__checkbox-custom:hover .af-form__label {
  border-color: var(--button-primary-default);
  color: var(--white);
  background-color: var(--button-primary-default);
  box-shadow: inset 0 -2px 0 0 var(--axablue90);
}

/* Toggle */
.af-form__checkbox-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.af-form__checkbox-toggle .af-form__label {
  width: 48px;
  height: 24px;
  margin: 0 0.2rem;
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: var(--input-border-color);
  cursor: pointer;
}

.af-form__checkbox-toggle .af-form__label .ok-icon {
  width: 2rem;
  height: 2rem;
  transform: translateX(-22px);
}

.af-form__checkbox-toggle .af-form__indicator {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  transition: transform 0.4s ease;
}
@media (prefers-reduced-motion: reduce) {
  .af-form__checkbox-toggle .af-form__indicator {
    transition: none;
  }
}

.af-form__checkbox-toggle .af-form__indicator .ok-icon {
  display: none;
}

.af-form__checkbox-toggle .af-form__description {
  display: none;
}

.af-form__checkbox-toggle .af-form__input-checkbox:checked + .af-form__label {
  background-color: var(--button-primary-default);
}

.af-form__checkbox-toggle
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator {
  background-color: var(--white);
  transform: translateX(24px);
}

.af-form__checkbox-toggle .af-form__input-checkbox:focus + .af-form__label {
  outline: 3px solid var(--button-primary-default);
  outline-offset: 2px;
}

.af-form__checkbox-toggle .af-form__input-checkbox:disabled + .af-form__label {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.af-form__checkbox-toggle
  .af-form__input-checkbox:disabled
  + .af-form__label
  .af-form__indicator {
  background-color: var(--inactive-button-border-color);
}

.af-form__checkbox-toggle
  .af-form__input-checkbox:disabled
  + .af-form__label
  .ok-icon {
  display: none;
}

.af-form__checkbox-toggle--error .af-form__label {
  background-color: var(--error-color);
}

.af-form__checkbox-toggle:hover
  .af-form__input-checkbox:disabled
  + .af-form__label {
  outline: none;
}
/* stylelint-enable no-descending-specificity */
/* stylelint-disable no-descending-specificity */

.af-form__checkbox .af-form__indicator,
.af-form__checkbox-inline .af-form__indicator {
  display: flex;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--input-border-color);
  background-color: var(--white);
  fill: none;
}

.af-form__checkbox .af-form__indicator .ok-icon,
.af-form__checkbox-inline .af-form__indicator .ok-icon {
  display: none;
  fill: var(--white);
}

.af-form__checkbox--disabled .af-form__label,
.af-form__checkbox-inline--disabled .af-form__label {
  opacity: 0.4;
  cursor: not-allowed;
}

.af-form__checkbox--error .af-form__label,
.af-form__checkbox-inline--error .af-form__label {
  color: var(--error-color);
}

.af-form__checkbox--error .af-form__indicator,
.af-form__checkbox-inline--error .af-form__indicator {
  border-color: var(--error-color);
}

.af-form__checkbox--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator,
.af-form__checkbox-inline--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .af-form__indicator {
  border-color: var(--error-color);
  background-color: var(--error-color);
}

.af-form__checkbox--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .ok-icon,
.af-form__checkbox-inline--error
  .af-form__input-checkbox:checked
  + .af-form__label
  .ok-icon {
  display: block;
}

.af-form__checkbox--warning .af-form__label,
.af-form__checkbox-inline--warning .af-form__label {
  color: var(--warning-color);
}

.af-form__checkbox--warning .af-form__indicator,
.af-form__checkbox-inline--warning .af-form__indicator {
  border-color: var(--warning-color);
}
