@use "../common/common" as common;
@use "../../../../look-and-feel/css/src/common/grid";
@use "../../../../look-and-feel/css/src/common/reboot";

.af-modal {
  padding: 0;
  border: 1px solid #333;
  animation: appeardialog 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

  &::backdrop {
    background: rgba(common.$color-azur, 0.62);
    animation: fademodal 0.1s linear;
  }

  &--lg {
    max-width: common.px-to-rem(800);
  }

  &--sm {
    max-width: common.px-to-rem(300);
  }

  &__content {
    background-clip: padding-box;
    background-color: common.$white;
  }

  &__header {
    display: flex;
    padding: common.px-to-rem(15);
    border-bottom: 1px solid common.$gray-lighter;
    align-items: center;
    justify-content: space-between;

    &-title {
      margin-bottom: 0;
      font-weight: inherit;
    }

    &-close-btn {
      padding: 0.5rem;
      border: none;
      font-size: 1rem;
      line-height: 1rem;
      background: none;
      box-shadow: none;

      &:hover {
        background-color: common.$gray-lighter;
      }

      .glyphicon-close {
        width: common.px-to-rem(17);
      }
    }
  }

  &__body {
    position: relative;
    padding: common.px-to-rem(15);
    flex: 1 1 auto;
    -webkit-box-flex: 1;
  }

  &__footer {
    display: flex;
    padding: common.px-to-rem(15);
    border-top: 1px solid common.$gray-lighter;
    align-items: center;
    justify-content: flex-end;

    & > .af-btn:not(:last-child) {
      margin-right: 0.25rem;
    }

    & > .af-btn:not(:first-child) {
      margin-left: 0.25rem;
    }
  }
}

@include common.media-breakpoint-up(sm) {
  .af-modal {
    max-width: common.px-to-rem(500);
    margin: common.px-to-rem(30) auto;

    &--sm {
      max-width: common.px-to-rem(300);
    }
  }
}

@include common.media-breakpoint-up(lg) {
  .af-modal {
    &--lg {
      max-width: common.px-to-rem(800);
      margin: common.px-to-rem(30) auto;
    }
  }
}

@keyframes appeardialog {
  0% {
    top: -100%;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fademodal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
