@use "../common/common.client.scss" as common;

.af-modal {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background-color: common.$color-white;

  &::backdrop {
    opacity: 0.4;
    background: common.$color-gray-900;
  }

  &__top {
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 1.5rem 1.5rem;
    border-bottom: 1px solid common.$color-btn-disabled-border;
    align-items: center;
    gap: 1rem;
    background-color: common.$color-white;

    &-title {
      display: flex;
      width: 100%;
      margin: 0;
      align-items: start;
      justify-content: space-between;
      color: common.$color-gray-900;

      &-text {
        font-family: common.$font-family-publico;
        font-size: 1.5rem;
        line-height: 1.875rem;
      }

      &-subtitle {
        font-family: common.$font-family-sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.406rem;
        color: common.$color-gray-700;
      }

      &-close-btn {
        all: unset;
        display: flex;
        width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: common.$color-axa;
      }

      :hover {
        background: none;
      }

      :focus {
        border: none;
        background: none;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: 2.5rem;
    padding: 0 1.5rem;
    flex-direction: column;
    gap: 2.5rem;
    font-family: common.$font-family-base;
    font-size: 1.125rem;
    font-weight: 400;
  }

  &__actions {
    display: flex;
    padding-top: 0;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;

    // force fullwidth in mobile
    & * {
      width: 100%;
      flex-grow: 1;
    }

    &--fullWidth {
      & * {
        width: 100%;
        flex-grow: 1;
      }
    }
  }
}

@media only screen and (width >= #{common.$screen-size-m}) {
  .af-modal {
    min-width: 48rem;
    max-width: 48rem;
    margin: auto;

    &__actions {
      flex-direction: row-reverse;
      justify-content: flex-start;

      & * {
        width: auto;
        flex-grow: unset;
      }

      &--fullWidth {
        & * {
          width: 100%;
          flex-grow: 1;
        }
      }
    }
  }
}
