@use "../common/common.client.scss" as common;

.af-stepper-client {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: transparent;

  &__title {
    margin-bottom: 0.5rem;
    font-family: common.$font-family-publico-bold, common.$font-family-base;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
    color: common.$color-gray-900;
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    font-family: common.$font-family-sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.406rem;
    text-align: left;
    color: common.$color-gray-700;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  &__progressbar {
    width: 100%;
    height: 0.375rem;
    border-radius: 4px;
    background-color: common.$color-btn-disabled-border;
  }

  &__progress {
    width: 50%;
    height: 100%;
    height: 0.375rem;
    border-radius: 4px;
    text-align: left;
    background-color: common.$color-axa;
    transition:
      0.75s ease-out,
      background-color 0.75s;
  }
}
