@layer canopee {
  .af-header__tab-menu {
    width: 100%;
    padding-bottom: var(--rem-24);
    padding-inline: var(--rem-16);
  }

  .af-tab-menu:focus-visible {
    outline: 2px solid var(--blue-650);
    outline-offset: 3px;
  }

  .af-tab-menu__list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-self: stretch;
    list-style: none;
  }

  @media (--desktop-small) {
    .af-tab-menu {
      height: 100%;
      padding: 0;
    }

    .af-tab-menu__list {
      flex-direction: row;
    }
  }
}
