@layer canopee {
  .af-spinner-loader {
    --af-spinner-loader-size: 32px;
    --af-spinner-loader-backdrop: transparent;
    --af-spinner-loader-color: var(--gray50);

    position: relative;
    display: flex;
    min-height: 120px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: calc(16rem / 16);
    background: var(--af-spinner-loader-backdrop);
  }

  .af-spinner-loader--fullscreen {
    --af-spinner-loader-backdrop: color-mix(
      in srgb,
      var(--black) 80%,
      transparent
    );
    --af-spinner-loader-size: 72px;

    position: fixed;
    z-index: 1000;
    inset: 0;
    flex-direction: column-reverse;
  }

  .af-spinner-loader--content {
    --af-spinner-loader-size: 48px;

    flex-direction: column-reverse;
  }

  .af-spinner-loader__icon {
    width: var(--af-spinner-loader-size);
    height: var(--af-spinner-loader-size);
    order: 1;
  }

  .af-spinner-loader__text {
    margin: 0;
    font-size: calc(20rem / 16);
    text-align: center;
    color: var(--af-spinner-loader-color);
  }

  .af-spinner-loader--fullscreen .af-spinner-loader__text {
    --af-spinner-loader-color: var(--white);
  }

  @media (prefers-reduced-motion: reduce) {
    .af-spinner-loader__icon animateTransform {
      display: none;
    }
  }
}
