@use "../../common/breakpoints" as breakpoints;

.af-item-message {
  --item-message-font-size: calc(14 / var(--font-size-base) * 1rem);

  display: flex;
  align-items: center;
  gap: calc(8 / var(--font-size-base) * 1rem);

  &__icon {
    width: var(--item-message-icon-size);
    color: var(--item-message-color);
    fill: currentcolor;
  }

  &__message {
    font-family: var(--font-family-base);
    font-size: var(--item-message-font-size);
    line-height: 1.25em;
    color: var(--item-message-color);
  }

  @media (width > #{breakpoints.$breakpoint-md}) {
    --item-message-font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}
