@use "../../common/breakpoints" as breakpoints;

@use "./ItemMessageCommon";

.af-item-message {
  --item-message-color: var(--color-red-700);
  --item-message-icon-size: calc(16 / var(--font-size-base) * 1rem);

  &--success {
    --item-message-color: var(--color-green-600);
  }

  &--warning {
    --item-message-color: var(--color-orange-700);
  }
}
