@import "./TextAreaCommon.css";

.af-form__textarea {
  --textarea-border-radius: var(--radius-4);
  --textarea-placeholder-color: var(--color-gray-700);
  --textarea-background-color: var(--color-white);
  --textarea-color: var(--color-gray-900);
  --textarea-box-shadow-color: var(--color-gray-700);

  &:is(:focus-visible, :hover, :active, :focus, :not(:placeholder-shown)) {
    --textarea-box-shadow-color: var(--color-axa);
  }

  &:disabled {
    --textarea-background-color: var(--color-gray-200);
    --textarea-box-shadow-color: var(--color-gray-400);
    --textarea-placeholder-color: var(--color-gray-500);
    --textarea-color: var(--color-gray-700);
  }

  &[aria-invalid="true"] {
    --textarea-box-shadow-color: var(--color-red-700);

    &:is(:focus-visible, :hover, :active, :focus) {
      --textarea-box-shadow-width: 3px;
    }
  }
}
