@import "./TextAreaCommon.css";

.af-form__textarea {
  --textarea-border-radius: var(--radius-8);
  --textarea-placeholder-color: var(--neutral-80);
  --textarea-background-color: var(--white-1000);
  --textarea-color: var(--blue-1000);
  --textarea-box-shadow-color: var(--blue-650);

  &:is(:focus-visible, :hover, :active, :focus, :not(:placeholder-shown)) {
    --textarea-box-shadow-color: var(--blue-1000);
  }

  &:disabled {
    --textarea-background-color: var(--neutral-5);
    --textarea-box-shadow-color: var(--neutral-50);
    --textarea-placeholder-color: var(--neutral-50);
    --textarea-color: var(--neutral-80);
  }

  &[aria-invalid="true"] {
    --textarea-box-shadow-color: var(--red-alert-100);

    &:is(:focus-visible, :hover, :active, :focus) {
      --textarea-box-shadow-width: 3px;
    }
  }
}
