@import "./FooterCommon.css";

.af-footer {
  --footer-bg-color: var(--color-ocean-blue);
  --footer-color: var(--white-1000);
}

.af-footer__linkItem:hover,
.af-footer__menuIconLinks:hover {
  --footer-color: var(--color-blue-1);
}
