@import "./ContentItemDuoCommon.css";

.af-content-item-duo {
  --content-item-duo-font-family: var(--font-family-sans-serif);
  --content-item-duo-label-color: var(--neutral-80);
  --content-item-duo-value-color: var(--neutral-100);
}
