@import "./ContentItemDuoCommon.css";

.af-content-item-duo {
  --content-item-duo-font-family: var(--font-family-sans-serif);
  --content-item-duo-label-color: var(--color-gray-700);
  --content-item-duo-value-color: var(--color-gray-900);
}
