@use "CardCheckboxCommon";
@use "../../../common/breakpoints" as breakpoints;

.af-card-checkbox {
  &__label-container {
    --font-size-base: calc(16 / var(--font-size-base) * 1rem);
  }

  &__legend {
    --card-checkbox-color: var(--neutral-100);

    [aria-hidden] {
      display: none;
    }
  }

  &__description {
    --card-checkbox-color: var(--neutral-80);
  }

  &-group {
    &--horizontal {
      --card-checkbox-flex-direction: column;

      .af-card-checkbox-label {
        --card-checkbox-flex-direction: row;

        .af-card-checkbox-content {
          --card-checkbox-flex-direction: row;
          --card-checkbox-margin-left: calc(12 / var(--font-size-base) * 1rem);

          .af-card-checkbox-content-description {
            --card-checkbox-flex-direction: column;
            --card-checkbox-align-item: flex-start;

            & > span:first-child {
              --card-checkbox-label-text-color: var(--axa-blue-100);
            }
          }
        }
      }
    }

    &--vertical {
      --card-checkbox-flex-direction: row;

      .af-card-checkbox-label {
        --card-checkbox-flex-direction: column-reverse;

        .af-card-checkbox-content {
          --card-checkbox-flex-direction: column;
          --card-checkbox-margin-left: calc(2 / var(--font-size-base) * 1rem);

          .af-card-checkbox-content-description {
            --card-checkbox-flex-direction: column;
            --card-checkbox-align-item: center;
          }
        }
      }
    }

    .af-card-checkbox-label {
      --card-checkbox-border-color: var(--axa-blue-65);
      --card-checkbox-border-radius: calc(8 / var(--font-size-base) * 1rem);
      --card-checkbox-align-items: center;
      --card-checkbox-outline-color: var(--card-checkbox-border-color);
      --card-checkbox-background-color: var(--white);

      .af-card-checkbox-content .af-card-checkbox-content-description > span {
        &:first-child {
          --card-checkbox-label-text-color: var(--axa-blue-100);
        }

        &:not(:first-child) {
          --card-checkbox-label-text-color: var(--neutral-80);
        }
      }

      &:hover {
        --card-checkbox-border-color: var(--axa-blue-100);
        --card-checkbox-background-color: var(--white);

        .af-card-checkbox-content-description > span:first-child {
          --card-checkbox-label-text-color: var(--axa-blue-100);
        }
      }

      &:has(input:checked) {
        --card-checkbox-border-color: var(--axa-blue-100);
        --card-checkbox-background-color: var(--axa-blue-4);

        .af-card-checkbox-content-description > span:first-child {
          --card-checkbox-label-text-color: var(--axa-blue-100);
        }
      }

      &[aria-invalid="true"]:not(:has(input:checked)) {
        --card-checkbox-background-color: var(--axa-red-4);
        --card-checkbox-border-color: var(--red-alert-100);

        .af-card-checkbox-content-description > span:first-child {
          --card-checkbox-label-text-color: var(--neutral-80);
        }
      }
    }
  }
}
