@use "../../../common/breakpoints" as breakpoints;

.af-card-checkbox {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__legend {
    display: grid;
    margin-block-end: calc(4 / var(--font-size-base) * 1rem);
    row-gap: calc(4 / var(--font-size-base) * 1rem);
    font-size: calc(18 / var(--font-size-base) * 1rem);
    font-weight: 600;
    color: var(--card-checkbox-color);

    & > p {
      margin: 0;
    }
  }

  &__description {
    font-size: calc(16 / var(--font-size-base) * 1rem);
    font-weight: 400;
    line-height: calc(16 / var(--font-size-base) * 1rem);
    color: var(--card-checkbox-color);

    @media (width > #{breakpoints.$breakpoint-sm}) {
      font-size: calc(18 / var(--font-size-base) * 1rem);
      line-height: calc(18 / var(--font-size-base) * 1rem);
    }
  }

  &__choices {
    display: flex;
    flex-direction: column;
    row-gap: calc(8 / var(--font-size-base) * 1rem);
  }

  &-group {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: stretch;
    gap: 1rem;
    font-family: var(--card-checkbox-font-family);
    font-style: normal;
    font-weight: 400;
    line-height: calc(20 / var(--font-size-base) * 1rem);
    list-style: none;

    &--horizontal {
      flex-direction: var(--card-checkbox-flex-direction);

      .af-card-checkbox-label {
        flex-direction: var(--card-checkbox-flex-direction);
        align-items: var(--card-checkbox-align-items);
        gap: calc(16 / var(--font-size-base) * 1rem);

        .af-card-checkbox-content {
          flex-direction: var(--card-checkbox-flex-direction);

          .af-card-checkbox-content-description {
            flex-direction: var(--card-checkbox-flex-direction);
            align-items: var(--card-checkbox-align-item);
            gap: calc(4 / var(--font-size-base) * 1rem);
            text-align: left;
          }
        }
      }
    }

    &--vertical {
      flex-direction: var(--card-checkbox-flex-direction);

      > * {
        flex-basis: 0;
        flex-grow: 1;
      }

      .af-card-checkbox-label {
        height: 100%;
        flex-direction: var(--card-checkbox-flex-direction);
        align-items: var(--card-checkbox-align-items);
        justify-content: var(--card-checkbox-justify-content);
        gap: calc(12 / var(--font-size-base) * 1rem);
        background-color: var(--card-checkbox-background-color);

        .af-card-checkbox-content {
          width: 100%;
          flex: 1;
          flex-direction: var(--card-checkbox-flex-direction);

          .af-card-checkbox-content-description {
            flex-direction: var(--card-checkbox-flex-direction);
            align-items: var(--card-checkbox-align-item);
            gap: calc(
              var(--card-checkbox-description-gap, 8) / var(--font-size-base) *
                1rem
            );
            text-align: center;
          }
        }
      }
    }

    .af-card-checkbox-label {
      display: flex;
      padding: 1rem;
      border: 1px solid var(--card-checkbox-border-color);
      border-radius: var(--card-checkbox-border-radius);
      flex: 1;
      align-self: stretch;
      cursor: pointer;

      .af-card-checkbox-content {
        display: flex;
        align-items: center;
        gap: calc(8 / var(--font-size-base) * 1rem);

        .af-card-checkbox-content-description {
          display: flex;
          justify-content: center;
          font-size: 1rem;
          line-height: calc(20 / var(--font-size-base) * 1rem);

          & > span:first-child {
            font-size: calc(18 / var(--font-size-base) * 1rem);
            font-weight: 400;
            color: var(--card-checkbox-label-text-color);

            @media (width < #{breakpoints.$breakpoint-sm}) {
              font-size: calc(16 / var(--font-size-base) * 1rem);
              font-weight: 400;
            }
          }

          & > span:not(:first-child) {
            font-size: calc(16 / var(--font-size-base) * 1rem);
            font-weight: 400;
            color: var(--card-checkbox-label-text-color);

            @media (width < #{breakpoints.$breakpoint-sm}) {
              font-size: calc(14 / var(--font-size-base) * 1rem);
              font-weight: 400;
            }
          }
        }
      }

      &:hover,
      &:focus-visible,
      &:focus-within,
      &:has(input:checked),
      [aria-invalid="true"] {
        outline: 2px solid var(--card-checkbox-outline-color);
      }

      &:has(input:checked) {
        .af-card-checkbox-content-description > span:first-child {
          font-weight: 600;
        }
      }
    }
  }
}
