@use "../common/breakpoints" as breakpoints;
@use "./TagCommon";

.af-tag {
  --tag-border-radius: var(--default-border-radius);

  &__label {
    --tag-font-size: calc(14 / var(--font-size-base) * 1rem);
    --tag-line-height: calc(var(--tag-font-size) * 1.25);
  }

  &--info {
    --tag-bg-color: var(--color-white);
    --tag-text-color: var(--color-blue-800);
    --tag-border-color: var(--color-blue-800);
  }

  &--success {
    --tag-bg-color: var(--color-white);
    --tag-text-color: var(--color-green-600);
    --tag-border-color: var(--color-green-600);
  }

  &--error {
    --tag-bg-color: var(--color-white);
    --tag-text-color: var(--color-red-600);
    --tag-border-color: var(--color-red-600);
  }

  &--neutral {
    --tag-bg-color: var(--color-white);
    --tag-text-color: var(--color-gray-700);
    --tag-border-color: var(--color-gray-700);
  }

  &--warning {
    --tag-bg-color: var(--color-white);
    --tag-text-color: var(--color-orange-700);
    --tag-border-color: var(--color-orange-700);
  }

  @media (width >  #{breakpoints.$breakpoint-md}) {
    &__label {
      --tag-font-size: calc(16 / var(--font-size-base) * 1rem);
    }
  }
}
