.af-input__container {
  --label-margin-bottom: 0;

  display: grid;
  width: fit-content;
  margin-bottom: 3rem;
  grid-template-areas:
    "label input unit"
    ". helper-message helper-message"
    ". error-message error-message";
  grid-template-columns: 17rem auto auto;
  align-items: center;
  column-gap: 0.5rem;

  .af-label {
    grid-area: label;
  }

  .af-input__input {
    grid-area: input;
  }

  .af-input__unit {
    grid-area: unit;
  }

  .af-item-message {
    grid-area: helper-message;
  }

  .af-item-message--error {
    grid-area: error-message;
  }
}

.af-input__container--vertical {
  --label-margin-bottom: 8px;

  grid-template-areas:
    "label label"
    "input unit"
    "helper-message helper-message"
    "error-message error-message";
  grid-template-columns: 1fr auto;
}
