@use "../../common/common" as common;
@use "../../../../../slash/css/src/common/grid";

$logo-size: 22px;

.af-footer {
  padding: 0.5rem 0;
  font-size: 0.6875rem;

  .container {
    display: flex;
    align-items: center;

    .af-logo__brand {
      width: $logo-size;
      height: $logo-size;
      margin-right: 0.5rem;
    }
  }

  &-content {
    font-weight: 600;
    color: common.$color-axa;
  }
}
