@use "../../common/common" as common;
@use "../../common/typography" as typography;

.af-footer {
  --footer-padding-h: #{common.px-to-rem(0)};
  --footer-padding-v: #{common.px-to-rem(6)};
  --footer-gap: #{common.px-to-rem(16)};
  --footer-color-typography: var(--color-axa);
  --footer-color-background: var(--color-transparent);
  --footer-logo-size: #{common.px-to-rem(36)};

  display: grid;
  padding: var(--footer-padding-v) var(--footer-padding-h);
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--footer-gap);
  background-color: var(--footer-color-background);

  &__logo {
    width: var(--footer-logo-size);
    height: var(--footer-logo-size);
  }

  &__copyright,
  &__version {
    @include typography.copyright;

    color: var(--footer-color-typography);
  }
}
