.af-divider {
  margin: 0;
  border: 0;
}

.af-divider--vertical {
  height: inherit;
  border-left: 1px solid var(--gray40);
}

.af-divider--horizontal {
  width: 100%;
  border-top: 1px solid var(--gray40);
}
