.skeleton-demo {
  display: grid;
  row-gap: 3rem;
  form {
    display: grid;
    grid-template-columns: repeat(2, auto 1fr);
    gap: 1rem;
  }
}

.skeleton-wrapper {
  &-demo {
    width: 300px;
    p {
      margin: 0;
    }
  }
}
