// BRAND
$color-axa-blue: #00008f;
$color-axa-red: #ff1721;
$color-white: #fff;

// GRIS
$color-gray-900: #333;
$color-gray-700: #5f5f5f;
$color-gray-500: #999;
$color-gray-400: #e5e5e5;
$color-gray-300: #e9ecf2;
$color-gray-200: #f3f3f3;
$color-gray-100: #fafafa;

// BLEU
$color-blue-900: #000072;
$color-blue-800: #00008f;
$color-blue-700: #3333a5;
$color-blue-500: #4976ba;
$color-blue-300: #e4e4ff;
$color-blue-200: #eef;
$color-blue-100: #f8f8ff;

// COULEURS ERREURS
$color-red-800: #a11028;
$color-red-700: #c91432;
$color-red-600: #d4435b;
$color-red-100: #fff3f5;

// COULEURS BUSINESS
$color-orange-800: #a8391c;
$color-orange-700: #c94e14;
$color-orange-600: #df7e65;

// COULEURS SUCCES
$color-green-600: #118635;

// COULEURS FOCUS
$color-focus-600: #36f;

// COULEURS SECONDAIRES
$color-yellow-100: #faeeb0;
$color-green-100: #d4f4ba;
$color-emerald-100: #baf4dc;
$color-cyan-100: #bae6f4;
$color-purple-100: #d0c4f1;
$color-pink-100: #f1c4e7;
$color-indigo-100: #bac0dd;
$color-sky-100: #bad2f4;

// COULEURS TERTIAIRES
$color-pacific-400: #33bdd1;
