@import "./StepperCommon.css";

.af-stepper {
  --stepper-gap: var(--rem-12);
}

.af-stepper__header {
  --stepper-header-flex-direction: column;
}

.af-stepper__title {
  --title-font-family: var(--font-family-publico);
  --title-font-size: var(--rem-24);
  --title-font-weight: 700;
  --title-line-height: var(--rem-30);
  --title-color: var(--blue-1000);
}

.af-stepper__subtitle {
  --subtitle-font-family: var(--font-family-sans-serif);
  --subtitle-font-size: var(--rem-16);
  --subtitle-color: var(--gray-800);
}

.af-stepper__helper {
  --helper-font-family: var(--font-family-sans-serif);
  --helper-font-size: var(--rem-14);
  --helper-color: var(--gray-800);
}

@media (--desktop-small) {
  .af-stepper {
    --stepper-gap: var(--rem-16);
  }

  .af-stepper__title {
    --title-font-size: var(--rem-32);
    --title-line-height: var(--rem-40);
  }

  .af-stepper__subtitle {
    --subtitle-font-size: var(--rem-18);
    --subtitle-line-height: var(--rem-20);
  }

  .af-stepper__helper {
    --helper-font-family: var(--font-family-sans-serif);
    --helper-font-size: var(--rem-16);
    --helper-color: var(--gray-800);
  }
}
