@import "./StepperCommon.css";

.af-stepper {
  --stepper-gap: var(--rem-12);
}

.af-stepper__header {
  --stepper-header-flex-direction: column;
}

.af-stepper__helper {
  --helper-font-family: var(--font-family-sans-serif);
  --helper-font-size: var(--rem-14);
  --helper-color: var(--gray-800);
}

@media (--desktop-small) {
  .af-stepper {
    --stepper-gap: var(--rem-16);
  }

  .af-stepper__helper {
    --helper-font-family: var(--font-family-sans-serif);
    --helper-font-size: var(--rem-16);
    --helper-color: var(--gray-800);
  }
}
