@import "./MessageCommon.css";

.af-message {
  --message-theme-color: var(--axa-blue-100);
  --message-bg-color: var(--axa-blue-4);
  --message-icon-color: var(--message-theme-color);
  --message-title-color: var(--message-theme-color);
  --message-content-color: var(--message-theme-color);
  --message-content-font-size: 14;
  --message-title-font-size: 16;
  --message-border-radius: var(--radius-8);
  --message-action-padding-top: 4;

  border: none;

  @media (--desktop-small) {
    --message-content-font-size: 16;
    --message-title-font-size: 18;
  }
}

.af-message--error {
  --message-theme-color: var(--red-alert-100);
  --message-bg-color: var(--axa-red-4);
}

.af-message--neutral {
  --message-theme-color: var(--neutral-80);
  --message-bg-color: var(--neutral-5);
}

.af-message--warning {
  --message-theme-color: var(--warning-100);
  --message-bg-color: var(--axa-red-4);
}

.af-message--validation {
  --message-theme-color: var(--green-100);
  --message-bg-color: var(--aqua-green-12);
}
