@use "./MessageCommon";

.af-message {
  --message-theme-color: var(--axa-blue-100);
  --message-bg-color: var(--axa-blue-4);
  --message-icon-color: var(--message-theme-color);
  --message-title-color: var(--message-theme-color);
  --message-content-color: var(--message-theme-color);
  --message-content-font-size: calc(16 / var(--font-size-base) * 1rem);
  --message-border-radius: var(--radius-8);

  border: none;

  &--error {
    --message-theme-color: var(--red-alert-100);
    --message-bg-color: var(--axa-red-4);
  }

  &--neutral {
    --message-theme-color: var(--neutral-80);
    --message-bg-color: var(--neutral-5);
  }

  &--warning {
    --message-theme-color: var(--warning-100);
    --message-bg-color: var(--axa-red-4);
  }

  &--validation {
    --message-theme-color: var(--green-100);
    --message-bg-color: var(--aqua-green-12);
  }
}
