@import "./ClickItemCommon.css";

.af-apollo-click-item {
  --click-item-title-color: var(--blue-1000);
  --click-item-title-border-color: var(--blue-1000);
  --click-item-subtitle-color: var(--color-gray);
  --click-item-text-secondary-color: var(--color-gray);
  --click-item-text-tertiary-color: var(--color-gray);
  --click-item-text-disabled-color: var(--color-gray-500);
  --click-item-title-font-weight: 600;
}

.af-apollo-click-item--large {
  --click-item-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  --click-item-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
  --click-item-text-secondary-font-size: calc(
    14 / var(--font-size-base) * 1rem
  );
  --click-item-text-tertiary-font-size: calc(14 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --click-item-title-font-size: calc(18 / var(--font-size-base) * 1rem);
    --click-item-subtitle-font-size: calc(18 / var(--font-size-base) * 1rem);
    --click-item-text-secondary-font-size: calc(
      16 / var(--font-size-base) * 1rem
    );
    --click-item-text-tertiary-font-size: calc(
      16 / var(--font-size-base) * 1rem
    );
  }
}

.af-apollo-click-item--medium {
  --click-item-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  --click-item-subtitle-font-size: calc(14 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --click-item-title-font-size: calc(18 / var(--font-size-base) * 1rem);
    --click-item-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}

.af-apollo-click-item--small {
  --click-item-title-font-size: calc(14 / var(--font-size-base) * 1rem);
  --click-item-title-color: var(--color-gray-900);
  --click-item-title-font-weight: 400;

  &:hover {
    --click-item-title-color: var(--blue-1000);
  }

  @media (--desktop-small) {
    --click-item-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}

.af-apollo-click-item--agent {
  --click-item-title-font-size: calc(16 / var(--font-size-base) * 1rem);
  --click-item-subtitle-font-size: calc(14 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --click-item-title-font-size: calc(18 / var(--font-size-base) * 1rem);
    --click-item-subtitle-font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}
