@import "./ClickItemCommon.css";

.af-apollo-click-item {
  --click-item-title-color: var(--blue-1000);
  --click-item-title-border-color: var(--blue-1000);
  --click-item-subtitle-color: var(--gray-800);
  --click-item-text-secondary-color: var(--gray-800);
  --click-item-text-tertiary-color: var(--gray-800);
  --click-item-text-disabled-color: var(--gray-800);
  --click-item-title-font-weight: 600;
}

.af-apollo-click-item--large {
  --click-item-title-font-size: var(--rem-16);
  --click-item-subtitle-font-size: var(--rem-16);
  --click-item-text-secondary-font-size: var(--rem-14);
  --click-item-text-tertiary-font-size: var(--rem-14);

  @media (--desktop-small) {
    --click-item-title-font-size: var(--rem-18);
    --click-item-subtitle-font-size: var(--rem-18);
    --click-item-text-secondary-font-size: var(--rem-16);
  }
}

.af-apollo-click-item--medium {
  --click-item-title-font-size: var(--rem-16);
  --click-item-subtitle-font-size: var(--rem-14);

  @media (--desktop-small) {
    --click-item-title-font-size: var(--rem-18);
    --click-item-subtitle-font-size: var(--rem-16);
  }
}

.af-apollo-click-item--small {
  --click-item-title-font-size: var(--rem-14);

  @media (--desktop-small) {
    --click-item-title-font-size: var(--rem-16);
  }
}

.af-apollo-click-item--agent {
  --click-item-title-font-size: var(--rem-18);
  --click-item-subtitle-font-size: var(--rem-14);

  @media (--desktop-small) {
    --click-item-subtitle-font-size: var(--rem-16);
  }
}
