.af-apollo-click-item {
  display: flex;
  width: 100%;
  padding: 0;
  border: none;
  flex-direction: row;
  align-items: center;
  gap: calc(12 / var(--font-size-base) * 1rem);
  font-family: var(--font-family-base);
  background: none;
  cursor: pointer;
  user-select: none;

  p {
    margin: 0;
    padding: 0;
  }
}

.af-apollo-click-item__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: calc(2 / var(--font-size-base) * 1rem);
}

.af-apollo-click-item__title {
  font-size: var(--click-item-title-font-size);
  font-weight: var(--click-item-title-font-weight);
  line-height: 125%;
  color: var(--click-item-title-color);
}

.af-apollo-click-item__subtitle {
  font-size: var(--click-item-subtitle-font-size);
  font-weight: 400;
  line-height: 125%;
  color: var(--click-item-subtitle-color);
}

.af-apollo-click-item__secondary {
  font-size: var(--click-item-text-secondary-font-size);
  font-weight: 400;
  line-height: 125%;
  color: var(--click-item-text-secondary-color);
}

.af-apollo-click-item__tertiary {
  font-size: var(--click-item-text-tertiary-font-size);
  font-weight: 400;
  line-height: 125%;
  color: var(--click-item-text-tertiary-color);
}

.af-apollo-click-item__tag-container {
  padding-top: calc(6 / var(--font-size-base) * 1rem);
}

.af-apollo-click-item--small {
  .af-apollo-click-item__subtitle,
  .af-apollo-click-item__secondary,
  .af-apollo-click-item__tertiary,
  .af-apollo-click-item__tag-container {
    display: none;
  }

  &:hover,
  &:focus {
    .af-apollo-click-item__title {
      text-decoration: underline solid var(--click-item-title-border-color) 1px;
      text-underline-offset: 25%;
    }
  }
}

.af-apollo-click-item--agent {
  .af-apollo-click-item__secondary,
  .af-apollo-click-item__tertiary,
  .af-apollo-click-item__tag-container {
    display: none;
  }
}

.af-apollo-click-item--medium {
  align-items: flex-start;

  .af-apollo-click-item {
    .af-apollo-click-item__secondary,
    .af-apollo-click-item__tertiary,
    .af-apollo-click-item__trailing {
      display: none;
    }
  }
}

.af-apollo-click-item--large.af-apollo-click-item--disabled,
.af-apollo-click-item--medium.af-apollo-click-item--disabled {
  cursor: default;

  .af-apollo-click-item__title,
  .af-apollo-click-item__subtitle,
  .af-apollo-click-item__secondary,
  .af-apollo-click-item__tertiary {
    color: var(--gray-800);
  }
}
