@use "../../../common/common.client.scss" as common;

.af-form {
  &__input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input-label {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: common.$color-gray-900;
  }

  &__input-description {
    margin: -0.25rem 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: common.$color-gray-700;
  }

  &__input-text {
    padding: 1rem;
    padding-right: 2.5rem;
    border: 1px solid common.$color-gray;
    border-radius: 4px;
    font-size: 1.125rem;

    &--error {
      border: 2px solid common.$color-btn-error;
    }

    &:not(:disabled) {
      &:focus,
      &:active {
        border: 1px solid common.$color-axa;
        outline: none;
      }
    }

    &:not(:disabled, :focus, :active, &--error):hover {
      border: 2px solid common.$color-axa;
      outline: none;
    }
  }

  &__input-alert {
    display: flex;
    margin-top: 0.4rem;
    flex-direction: row;
    align-items: center;
    gap: 0.185rem;

    & > svg {
      width: 1.1rem;
      aspect-ratio: 1;
      flex-shrink: 0;
      color: common.$color-btn-error;
      fill: common.$color-btn-error;
    }

    & > span {
      font-size: 1rem;
      color: common.$color-btn-error;
    }
  }
}
