@use "../../common/breakpoints";

.af-form__input-textarea {
  @media (width > #{breakpoints.$breakpoint-md}) {
    font-size: calc(18 / var(--font-size-base) * 1rem);
  }

  width: 100%;
  min-height: calc(56 / var(--font-size-base) * 1rem);
  padding: calc(16 / var(--font-size-base) * 1rem);
  border: none;
  border-radius: var(--input-textarea-border-radius);
  font: var(--font-family-base);
  font-size: var(--input-textarea-font-size);
  font-weight: 600;
  line-height: 125%;
  color: var(--input-textarea-color);
  background-color: var(--input-textarea-background-color);
  box-shadow: 0 0 0 var(--input-textarea-box-shadow-size)
    var(--input-textarea-box-shadow-color);
  outline: none;

  &::placeholder {
    font-weight: 400;
    color: var(--input-textarea-placeholder-color);
  }
}
