@use "TextAreaCommon";

.af-form__input-textarea {
  --input-text-area-border-radius: var(--radius-8);
  --input-text-area-border-size: 1px;
  --input-text-area-border-color: var(--axa-blue-53);
  --input-text-area-height: 148px;

  &--error {
    --input-text-area-border-color: var(--axa-red-100);
  }

  &:disabled {
    --input-text-area-border-color: var(--axa-gray-90);
    --input-text-area-background: var(--axa-gray-96);
  }

  &:not(:disabled, &--error) {
    &:focus,
    &:hover {
      --input-text-area-border-color: var(--axa-blue-100);
    }
  }
}
