@use "../../common/breakpoints";

.af-form__textarea {
  --textarea-box-shadow-width: 1px;

  width: 100%;
  padding: calc(16 / var(--font-size-base) * 1rem);
  border: none;
  border-radius: var(--textarea-border-radius);
  font-size: calc(16 / var(--font-size-base) * 1rem);
  font-weight: 600;
  line-height: 125%;
  color: var(--textarea-color);
  background-color: var(--textarea-background-color);
  box-shadow: 0 0 0 var(--textarea-box-shadow-width)
    var(--textarea-box-shadow-color) inset;
  outline: none;

  &:is(:focus-visible, :hover, :active, :focus, [aria-invalid="true"]):not(
      :disabled
    ) {
    --textarea-box-shadow-width: 2px;
  }

  @media (width > #{breakpoints.$breakpoint-md}) {
    font-size: calc(18 / var(--font-size-base) * 1rem);
  }

  &::placeholder {
    font-weight: 400;
    color: var(--textarea-placeholder-color);
  }
}
