@use "../../common/breakpoints" as breakpoints;
@use "TextAreaCommon";

.af-form__input-textarea {
  --input-textarea-border-radius: var(--default-border-radius);
  --input-textarea-box-shadow-color: var(--color-gray-700);
  --input-textarea-placeholder-color: var(--color-gray-700);
  --input-textarea-background-color: var(--color-white);
  --input-textarea-color: var(--color-gray-900);
  --input-textarea-box-shadow-size: 1px;

  &:hover,
  &:focus {
    --input-textarea-box-shadow-size: 2px;
  }

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    --input-textarea-box-shadow-color: var(--color-axa);
  }

  &[aria-invalid="true"] {
    --input-textarea-box-shadow-color: var(--color-red-700);
    --input-textarea-box-shadow-size: 2px;

    &:hover,
    &:focus {
      --input-textarea-box-shadow-size: 3px;
    }
  }

  &:disabled {
    --input-textarea-background-color: var(--color-gray-200);
    --input-textarea-box-shadow-color: var(--color-gray-400);
    --input-textarea-placeholder-color: var(--color-gray-500);
    --input-textarea-color: var(--color-gray-700);

    &:hover {
      --input-textarea-box-shadow-size: 1px;
    }
  }
}
