@use "TextAreaCommon";

.af-form__input-textarea {
  --input-text-area-height: 142px;
  --input-text-area-border-radius: var(--default-border-radius);
  --input-text-area-border-color: var(--color-gray-700);
  --input-text-area-background: var(--color-white);
  --input-text-area-color: var(--color-gray);

  &--error {
    --input-text-area-border-color: var(--color-red-700);
  }

  &:disabled {
    --input-text-area-border-color: var(--color-gray-400);
    --input-text-area-background: var(--color-gray-200);
  }

  &:not(.af-form__input-textarea--error, :disabled):hover,
  &:not(.af-form__input-textarea--error):focus {
    --input-text-area-border-size: 2px;
    --input-text-area-border-color: var(--color-axa);
  }

  &--error:hover,
  &--error:focus {
    --input-text-area-border-color: var(--color-red-700);
  }

  &:not(:disabled, &--error) {
    &:focus,
    &:hover,
    &:not(:placeholder-shown) {
      --input-text-area-font-size: calc(18 / var(--font-size-base) * 1rem);
      --input-text-area-font-weight: 400;
      --input-text-area-border-color: var(--color-axa);
    }
  }

  &:not(:placeholder-shown) {
    &:focus {
      --input-text-area-box-shadow: none;
    }
  }
}
