@import "./SpinnerCommon.css";

.af-spinner {
  --spinner-border-color: color-mix(in srgb, var(--blue-1000), transparent 80%);
  --spinner-border-top-color: var(--blue-1000);
}

.af-spinner--24 {
  --spinner-border-size: 2;
}

.af-spinner--40 {
  --spinner-border-size: 4;
}

.af-spinner--gray {
  --spinner-border-color: color-mix(
    in srgb,
    var(--color-gray),
    transparent 80%
  );
  --spinner-border-top-color: var(--color-gray);
}

.af-spinner--white {
  --spinner-border-color: color-mix(
    in srgb,
    var(--white-1000),
    transparent 80%
  );
  --spinner-border-top-color: var(--white-1000);
}
