@import "./SpinnerCommon.css";

.af-spinner {
  --spinner-border-color: var(--blue-1000-20);
  --spinner-border-top-color: var(--blue-1000);

  width: calc(calc(var(--spinner-size) * 1px) - 8px);
  height: calc(calc(var(--spinner-size) * 1px) - 8px);
  border-left: calc(var(--spinner-border-size) * 1px) solid
    var(--spinner-border-top-color);
}

.af-spinner--gray {
  --spinner-border-color: var(--gray-500-20);
  --spinner-border-top-color: var(--gray-1000);
}

.af-spinner--white {
  --spinner-border-color: var(--white-1000-20);
  --spinner-border-top-color: var(--white-1000);
}
