@use "../common/common.scss" as common;

.af-modal {
  --spacing-modal: calc(16 / var(--font-size-base) * 1rem);
  --font-size-heading: calc(20 / var(--font-size-base) * 1rem);
  --font-size-subtitle: calc(16 / var(--font-size-base) * 1rem);
  --line-height-heading: calc(25 / var(--font-size-base) * 1rem);
  --line-height-subtitle: calc(20 / var(--font-size-base) * 1rem);

  padding: var(--spacing-modal) 0;
  border: none;
  border-radius: var(--radius-8);

  &::backdrop {
    opacity: 0.4;
    background: var(--color-gray-900);
  }

  &__header {
    display: grid;
    padding-bottom: var(--spacing-modal);
    padding-inline: var(--spacing-modal);
    border-bottom: 1px solid var(--color-gray-400);
    grid-template-areas: "headertitle closebtn";
    grid-template-columns: 1fr auto;
    gap: var(--spacing-modal);

    > .af-btn-client {
      width: fit-content;
      height: fit-content;
      grid-area: closebtn;
      align-items: start;
      justify-self: end;
    }

    &-title {
      display: grid;
      grid-area: headertitle;
      grid-template-areas:
        "icon title"
        "icon subtitle";
      justify-self: start;
      gap: 0 1rem;

      &-heading {
        margin: 0;
        grid-area: title;
        font-family: var(--font-family-publico);
        font-size: var(--font-size-heading);
        line-height: var(--line-height-heading);
        color: var(--color-gray-900);
      }

      &-subtitle {
        grid-area: subtitle;
        font-size: var(--font-size-subtitle);
        line-height: var(--line-height-subtitle);
        color: var(--color-gray-700);
      }

      svg {
        grid-area: icon;
        fill: var(--color-axa);
      }
    }
  }

  &__body {
    padding: var(--spacing-modal);
  }

  &__footer {
    display: flex;
    padding: var(--spacing-modal) var(--spacing-modal) 0 var(--spacing-modal);
    justify-content: flex-end;
    gap: var(--spacing-modal);

    .af-btn-client {
      flex-grow: 1;
    }
  }

  @media (width > #{common.$breakpoint-sm}) {
    --spacing-modal: calc(24 / var(--font-size-base) * 1rem);
    --font-size-heading: calc(24 / var(--font-size-base) * 1rem);
    --font-size-subtitle: calc(18 / var(--font-size-base) * 1rem);
    --line-height-heading: calc(30 / var(--font-size-base) * 1rem);
    --line-height-subtitle: calc(22.5 / var(--font-size-base) * 1rem);

    max-width: revert;

    &__footer {
      .af-btn-client {
        min-width: 180px;
        flex-grow: inherit;
      }
    }
  }
}
