@use "sass:math";
@use "../common/common" as common;

$font-size-step: common.$font-size-base;
$font-size-step-number: common.$font-size-base + 0.2rem;

.af-steps-new {
  --steps-color-active: var(--axablue80);
  --steps-color: var(--gray80);

  margin-bottom: 2rem;
  background: var(--white);

  .af-steps-list {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--gray40);
    justify-content: space-around;
    line-height: 1.75rem;
    counter-reset: stepper-counter;
    list-style: none;

    &-step {
      position: relative;
      display: inline-flex;
      padding: calc(10 / 16 * 1rem) 1rem calc(10 / 16 * 1rem)
        calc((16 + 40) / 16 * 1rem);
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      font-size: $font-size-step;
      color: var(--steps-color);
      counter-increment: stepper-counter;

      &__label {
        display: inline-flex;
        padding-right: 1rem;
      }

      &__number {
        margin-right: 0.75rem;
        font-size: $font-size-step-number;
        font-weight: 600;
        color: var(--steps-color);
      }

      &__title {
        font-weight: 600;
        color: var(--steps-color);

        &:hover {
          color: var(--gray80);
        }
      }

      &.number {
        &::before {
          content: none;
        }
      }

      &::before {
        margin-right: 0.8rem;
        font-size: $font-size-step-number;
        font-weight: 600;
        color: var(--steps-color);
        content: counter(stepper-counter);
      }

      & svg:first-child {
        display: none;
      }

      & svg:last-child {
        position: absolute;
        right: calc(12 / 16 * 1rem);
      }

      &.on {
        color: var(--steps-color-active);

        &::before,
        * {
          color: var(--steps-color-active);
        }
      }

      &.past {
        color: var(--gray80);

        &::before {
          color: var(--gray80);
        }

        &:hover {
          color: var(--steps-color-active);
        }
      }

      &.disabled {
        color: var(--gray40);

        &::before {
          color: var(--gray40);
        }

        & .af-steps-list-step__number,
        & .af-steps-list-step__title {
          color: var(--gray40);
        }
      }

      &:last-child {
        &.on {
          & .af-steps-list-step__title {
            color: var(--green40);
          }

          &::before {
            color: var(--green40);
          }
        }

        & svg:first-child {
          display: block;
          margin-right: 0.8rem;
          fill: var(--green40);
        }

        & svg:last-child {
          display: none;
        }

        &.disabled svg:first-child {
          fill: var(--gray40);
        }

        &::before {
          content: none;
        }

        .af-steps-list-step__label {
          padding-right: 0;

          &::after,
          &::before {
            display: none;
          }
        }

        .af-steps-list-step__number {
          font-size: math.ceil(($font-size-step * 1.1));
        }
      }
    }
  }

  @include common.media-breakpoint-down(xs) {
    .af-steps-list {
      table-layout: auto;

      &-step {
        min-width: 3rem;
        padding-left: 0;

        &__title {
          display: none;
        }

        &__number {
          z-index: 2;
          left: 2rem;
          margin-right: 1rem;
        }

        &.on {
          .af-steps-list-step__title {
            display: block;
          }

          .af-steps-list-step__number {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
