.af-steps-new {
  --font-size-step: var(--font-size-base, 1rem);
  --font-size-step-number: calc(var(--font-size-base, 1rem) + 0.2rem);
  --steps-color-active: var(--axablue80);
  --steps-color: var(--gray80);

  margin-bottom: 2rem;
  background: var(--white);
}

.af-steps-new .af-steps-list {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--gray40);
  justify-content: space-around;
  line-height: 1.75rem;
  counter-reset: stepper-counter;
  list-style: none;
}

.af-steps-new .af-steps-list-step {
  position: relative;
  display: inline-flex;
  padding: 0.625rem 1rem 0.625rem 3.5rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-step);
  color: var(--steps-color);
  counter-increment: stepper-counter;
}

.af-steps-new .af-steps-list-step__label {
  display: inline-flex;
  padding-right: 1rem;
}

.af-steps-new .af-steps-list-step__number {
  margin-right: 0.75rem;
  font-size: var(--font-size-step-number);
  font-weight: 600;
  color: var(--steps-color);
}

.af-steps-new .af-steps-list-step__title {
  font-weight: 600;
  color: var(--steps-color);
}

.af-steps-new .af-steps-list-step__title:hover {
  color: var(--gray80);
}

.af-steps-new .af-steps-list-step.number::before {
  content: none;
}

.af-steps-new .af-steps-list-step::before {
  margin-right: 0.8rem;
  font-size: var(--font-size-step-number);
  font-weight: 600;
  color: var(--steps-color);
  content: counter(stepper-counter);
}

.af-steps-new .af-steps-list-step svg:first-child {
  display: none;
}

.af-steps-new .af-steps-list-step svg:last-child {
  position: absolute;
  right: 0.75rem;
}

.af-steps-new .af-steps-list-step.on {
  color: var(--steps-color-active);
}

.af-steps-new .af-steps-list-step.on::before,
.af-steps-new .af-steps-list-step.on * {
  color: var(--steps-color-active);
}

.af-steps-new .af-steps-list-step.past {
  color: var(--gray80);
}

.af-steps-new .af-steps-list-step.past::before {
  color: var(--gray80);
}

.af-steps-new .af-steps-list-step.past:hover {
  color: var(--steps-color-active);
}

.af-steps-new .af-steps-list-step.disabled {
  color: var(--gray40);
}

.af-steps-new .af-steps-list-step.disabled::before {
  color: var(--gray40);
}

.af-steps-new .af-steps-list-step.disabled .af-steps-list-step__number,
.af-steps-new .af-steps-list-step.disabled .af-steps-list-step__title {
  color: var(--gray40);
}

.af-steps-new .af-steps-list-step:last-child.on .af-steps-list-step__title {
  color: var(--green30);
}

.af-steps-new .af-steps-list-step:last-child.on::before {
  color: var(--green30);
}

.af-steps-new .af-steps-list-step:last-child svg:first-child {
  display: block;
  margin-right: 0.8rem;
  fill: var(--green30);
}

.af-steps-new .af-steps-list-step:last-child svg:last-child {
  display: none;
}

.af-steps-new .af-steps-list-step:last-child.disabled svg:first-child {
  fill: var(--gray40);
}

.af-steps-new .af-steps-list-step:last-child::before {
  content: none;
}

.af-steps-new .af-steps-list-step:last-child .af-steps-list-step__label {
  padding-right: 0;
}

.af-steps-new .af-steps-list-step:last-child .af-steps-list-step__label::after,
.af-steps-new
  .af-steps-list-step:last-child
  .af-steps-list-step__label::before {
  display: none;
}

.af-steps-new .af-steps-list-step:last-child .af-steps-list-step__number {
  font-size: calc(var(--font-size-step, 1rem) * 1.1);
}

@media (width <= 576px) {
  .af-steps-new .af-steps-list {
    table-layout: auto;
  }

  .af-steps-new .af-steps-list-step {
    min-width: 3rem;
    padding-left: 0;
  }

  .af-steps-new .af-steps-list-step__title {
    display: none;
  }

  .af-steps-new .af-steps-list-step__number {
    z-index: 2;
    left: 2rem;
    margin-right: 1rem;
  }

  .af-steps-new .af-steps-list-step.on .af-steps-list-step__title {
    display: block;
  }

  .af-steps-new .af-steps-list-step.on .af-steps-list-step__number {
    margin-right: 0.5rem;
  }
}
