.af-vertical-step {
  display: grid;
  grid-template-areas:
    "separation icon title"
    "separation content content";
  grid-template-columns: 0.0625rem 3.5rem 1fr;

  &::before {
    width: 0.0625rem;
    margin-left: 1.375rem;
    grid-area: separation;
    background: var(--gray40);
    content: "";
  }

  &:last-child:not(.af-vertical-step--edition)::before {
    background: none;
  }

  &:last-child.af-vertical-step--edition {
    grid-template-areas:
      "separation icon title"
      "separation content content"
      "lastIcon lastIcon lastIcon";
    grid-template-columns: 0.0625rem 3.5rem 1fr;

    .af-vertical-step-icon--lastIcon {
      grid-area: lastIcon;
      background-color: var(--gray40);
    }
  }

  &:not(:last-child.af-vertical-step--edition)
    .af-vertical-step-icon--lastIcon {
    display: none;
  }

  > section {
    margin-bottom: 2.5rem;
    margin-left: 3.5rem;
    grid-area: content;
  }

  .af-vertical-step-icon {
    display: flex;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    grid-area: icon;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: var(--white);
    }
  }

  .af-vertical-step-icon--validated {
    background-color: var(--green40);
  }

  .af-vertical-step-icon--locked {
    background-color: var(--gray40);
  }

  .af-vertical-step-icon--edited {
    background-color: var(--axablue80);
  }

  .af-vertical-step-title-button {
    border: 0;
    font-size: 1rem;
    background: none;

    &:focus {
      outline: 2px solid var(--axablue80);
    }

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem;
      margin-left: 0;
      fill: var(--axablue80);
    }
  }

  /* Style for submit button inside form */
  button[type="submit"] {
    margin-left: 17%;
  }

  .content-right {
    font-weight: 700;
  }
}
