.af-item-message {
  --item-message-font-size: calc(14 / var(--font-size-base) * 1rem);

  display: flex;
  align-items: center;
  gap: calc(8 / var(--font-size-base) * 1rem);

  @media (--desktop-small) {
    --item-message-font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}

.af-item-message__icon {
  width: var(--item-message-icon-size);
  height: var(--item-message-icon-size);
  color: var(--item-message-color);
  fill: currentcolor;
}

.af-item-message__message {
  font-family: var(--font-family-base);
  font-size: var(--item-message-font-size);
  line-height: 1.25em;
  color: var(--item-message-color);
}
