@import "./ItemMessageCommon.css";

.af-item-message {
  --item-message-color: var(--red-alert-1200);
  --item-message-icon-size: calc(16 / var(--font-size-base) * 1rem);
}

.af-item-message--success {
  --item-message-color: var(--color-green-600);
}

.af-item-message--warning {
  --item-message-color: var(--orange-1000);
}
