/* Apollo first and mobile first approch */

@use "../common/breakpoints" as breakpoints;

.af-btn-client {
  --button-bg-color-default: var(--axa-blue-100);
  --button-text-color-default: var(--white);
  --button-radius: var(--radius-32);
  --button-shadow-color: var(--axa-blue-100);
  --button-padding: calc(12 / var(--font-size-base) * 1rem)
    calc(16 / var(--font-size-base) * 1rem);
  --button-line-height: calc(24 / var(--font-size-base) * 1rem);
  --button-font-size: calc(16 / var(--font-size-base) * 1rem);

  display: flex;
  padding: var(--button-padding);
  border: 0;
  border-radius: var(--button-radius);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--font-family-base);
  font-size: var(--button-font-size);
  font-weight: 600;
  line-height: var(--button-line-height);
  color: var(--button-text-color-default);
  background-color: var(--button-bg-color-default);
  transition-duration: var(--transition-duration);
  transition-property: width, height, border, color, background-color, outline,
    box-shadow;
  transition-timing-function: linear;
  user-select: none;

  @media (width > #{breakpoints.$breakpoint-lg}) {
    --button-padding: calc(12 / var(--font-size-base) * 1rem)
      calc(24 / var(--font-size-base) * 1rem);
    --button-line-height: calc(32 / var(--font-size-base) * 1rem);
    --button-font-size: calc(18 / var(--font-size-base) * 1rem);
  }

  &:hover {
    --button-bg-color-default: var(--axa-blue-120);
  }

  &:active {
    --button-bg-color-default: var(--axa-blue-80);
  }

  &:focus-visible,
  &:focus {
    --button-outline-color: var(--axa-blue-65);

    outline: 2px solid var(--button-outline-color);
    outline-offset: 3px;
  }

  &:disabled,
  &[aria-disabled="true"] {
    --button-bg-color-default: var(--neutral-5);
    --button-text-color-default: var(--neutral-50);
    --button-shadow-color: var(--neutral-50);

    pointer-events: none;
  }

  & > svg {
    aspect-ratio: 1;
    fill: currentcolor;
  }

  &--primary-business {
    --button-bg-color-default: var(--warning-100);
    --button-text-color-default: var(--white);

    &:active {
      --button-bg-color-default: var(--warning-80);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      --button-bg-color-default: var(--warning-120);
    }
  }

  &--primary-inverse {
    --button-bg-color-default: var(--white);
    --button-text-color-default: var(--axa-blue-100);

    &:active {
      --button-bg-color-default: var(--neutral-5);
      --button-text-color-default: var(--axa-blue-80);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      --button-bg-color-default: var(--neutral-14);
      --button-text-color-default: var(--axa-blue-120);
    }
  }

  &--ghost {
    --button-bg-color-default: transparent;
    --button-text-color-default: var(--axa-blue-100);
    --button-padding: 0;

    gap: calc(4 / var(--font-size-base) * 1rem);

    &:active {
      --button-text-color-default: var(--axa-blue-80);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      --button-text-color-default: var(--axa-blue-120);
      --button-bg-color-default: transparent;

      text-decoration: underline;
    }

    &:disabled,
    &[aria-disabled="true"] {
      --button-bg-color-default: transparent;
    }
  }

  &--secondary {
    --button-bg-color-default: var(--white);
    --button-text-color-default: var(--axa-blue-100);

    box-shadow: 0 0 0 2px var(--button-shadow-color) inset;

    &:active {
      --button-bg-color-default: var(--axa-blue-80);
      --button-text-color-default: var(--white);
      --button-shadow-color: var(--axa-blue-80);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      --button-bg-color-default: var(--axa-blue-120);
      --button-text-color-default: var(--white);
      --button-shadow-color: var(--axa-blue-120);
    }
  }

  &--secondary-inverse {
    --button-bg-color-default: var(--axa-blue-100);
    --button-text-color-default: var(--white);
    --button-shadow-color: var(--white);

    box-shadow: 0 0 0 2px var(--button-shadow-color) inset;

    &:active {
      --button-bg-color-default: var(--neutral-5);
      --button-text-color-default: var(--axa-blue-80);
      --button-shadow-color: var(--neutral-5);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      --button-bg-color-default: var(--neutral-14);
      --button-text-color-default: var(--axa-blue-120);
      --button-shadow-color: var(--neutral-14);
    }
  }

  &--tertiary {
    --button-bg-color-default: var(--axa-blue-8);
    --button-text-color-default: var(--axa-blue-100);

    &:active {
      --button-bg-color-default: var(--axa-blue-80);
      --button-text-color-default: var(--white);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      --button-bg-color-default: var(--axa-blue-120);
      --button-text-color-default: var(--white);
    }
  }
}
