.af-btn-client-demo {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  &__bloc {
    display: flex;
    padding: 1rem;
    border-radius: var(--radius-32);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 0 2px var(--axa-blue-120) inset;

    > button {
      width: fit-content;
    }
  }
}
