.af-pagination-mobile {
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;

  > span {
    color: var(--color-gray);
  }

  button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    &:focus-visible {
      outline: 1px solid var(--color-axa);
    }

    .arrow {
      color: var(--color-axa);
    }

    &:disabled {
      pointer-events: none;

      .arrow {
        color: var(--color-gray-400);
      }
    }
  }
}
