@import "MessageBarCommon.css";

.af-message-bar {
  --message-theme-color: var(--color-axa);
  --message-bg-color: var(--color-white);
  --message-border-color: var(--message-theme-color);
  --message-border-radius: var(--radius-12);
  --message-icon-color: var(--message-theme-color);
  --message-title-color: var(--message-theme-color);
  --message-title-font-size: 16;
  --message-content-color: var(--color-gray-900);
  --message-content-font-size: 16;
  --message-action-padding-top: 12;

  @media (--desktop-small) {
    --message-content-font-size: 18;
    --message-title-font-size: 18;
  }
}

.af-message-bar--red {
  --message-theme-color: var(--color-red-700);
}

.af-message-bar--blue {
  --message-theme-color: var(--color-gray);
}
