@import "MessageBarCommon.css";

.af-message-bar {
  --message-theme-color: var(--axa-blue-100);
  --message-bg-color: var(--axa-blue-4);
  --message-icon-color: var(--message-theme-color);
  --messager-title-color: var(--message-theme-color);
  --message-content-color: var(--message-theme-color);
  --message-content-font-size: 14;
  --message-title-font-size: 16;
  --message-border-radius: var(--radius-8);
  --message-action-padding-top: 4;

  border: none;

  @media (--desktop-small) {
    --message-content-font-size: 16;
    --message-title-font-size: 18;
  }
}

.af-message-bar--blue {
  --message-theme-color: var(--red-alert-100);
  --message-bg-color: var(--axa-red-4);
}

.af-message-bar--red {
  --message-theme-color: var(--neutral-80);
  --message-bg-color: var(--neutral-5);
}
