@use "../../common/grid";
@use "../../common/reboot";
@use "../../common/common" as common;

.af-form__select {
  &-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: common.rem(18);
    font-weight: 600;
    color: var(--color-gray-900);
  }

  &-input {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    padding-right: 3rem;
    border: 1px solid var(--color-gray);
    border-radius: var(--default-border-radius);
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-gray-900);
    background: url("@material-symbols/svg-400/outlined/arrow_drop_down.svg")
      no-repeat right 1rem center / 1.5rem 1.5rem;
    background-color: white;
    background-position-x: calc(100% - 1rem);
    appearance: none;

    option {
      color: var(--color-gray-900);

      &:disabled {
        color: var(--color-gray-700);
      }
    }

    &:open {
      background-image: url("@material-symbols/svg-400/outlined/arrow_drop_up.svg");
    }

    &:focus-visible {
      border-color: var(--color-axa);
      box-shadow: 0 0 0 1px var(--color-axa) inset;
      outline: 2px solid var(--color-focus);
      outline-offset: 3px;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:not(:disabled):hover,
    &:not(:disabled):active {
      border-color: var(--color-axa);
      box-shadow: 0 0 0 1px var(--color-axa) inset;
    }

    &-placeholder {
      color: var(--color-gray-700);
    }

    &--error {
      border-color: var(--color-red-700);

      &:focus-visible {
        border-color: var(--color-red-700);
        box-shadow: 0 0 0 1px var(--color-red-700) inset;
        outline: 2px solid var(--color-focus);
        outline-offset: 3px;
      }

      &:not(:disabled):hover,
      &:not(:disabled):active {
        border-color: var(--color-red-700);
        box-shadow: 0 0 0 1px var(--color-red-700) inset;
      }
    }
  }
}
