@use "../common/common.scss" as common;

.af-stepper-client {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: common.rem(16);
  background-color: transparent;

  &__title {
    margin: 0;
    font-family: var(--font-family-publico-bold);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
    color: var(--color-gray-900);
  }

  &__subtitle {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.406rem;
    text-align: left;
    color: var(--color-gray-700);
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  &__progressbar {
    width: 100%;
    height: 0.375rem;
    border-radius: var(--default-border-radius);
    background-color: var(--color-gray-400);
  }

  &__progress {
    width: 50%;
    height: 100%;
    height: 0.375rem;
    border-radius: var(--default-border-radius);
    text-align: left;
    background-color: var(--color-axa);
    transition:
      0.75s ease-out,
      background-color 0.75s;
  }
}
