@use "../../common/common.client.scss" as common;

.af-card--content-tab-list {
  padding: 0.5rem 1.5rem;

  .af-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .af-list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;

    span {
      display: block;
      margin: 0;
    }

    .af-list-item {
      &__left-container,
      &__right-container,
      &__additional-data-container {
        all: inherit;
        padding: 0;
      }

      &__additional-data-container {
        grid-area: content-tab__additional-data-container;

        .af-tag {
          grid-area: content-tab__tag;
        }
      }

      &__label {
        grid-area: content-tab__label;
        color: common.$color-gray-900;
      }

      &-label__title {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.4rem;
      }

      &-label__subtitle {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: common.$color-gray-700;
      }

      &__date {
        grid-area: content-tab__date;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.4rem;
        color: common.$color-gray-700;
      }

      &__value {
        justify-self: end;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.4rem;
        text-align: right;
        color: common.$color-green-600;
      }

      &__button-container {
        margin: 0 0.625rem;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          fill: common.$color-axa;
        }
      }
    }

    &:not(:has(.af-list-item__value)) {
      .af-tag {
        margin: 0 1.34rem;
      }
    }
  }
}

@media (width <= #{common.$breakpoint-sm}) {
  .af-card--content-tab-list {
    padding: 0.25rem 1rem;

    .af-list__item {
      padding: 0.75rem 0;
      gap: 1.5rem;

      .af-list-item {
        &__left-container {
          display: grid;
          grid-template:
            "content-tab__additional-data-container"
            "content-tab__label";
          align-items: start;
          justify-content: start;
          gap: 0.25rem;
        }

        &__right-container {
          gap: 1.5rem;
        }

        &__additional-data-container {
          display: block;
          align-items: center;

          &:has(.af-list-item__date):has(.af-tag) {
            display: grid;
            grid-template: "content-tab__tag content-tab__date";
            gap: 0.75rem;
          }

          .af-tag {
            margin: 0;
          }
        }

        &-label__title {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        &-label__subtitle {
          font-size: 0.875rem;
          line-height: 1.1rem;
        }

        &__date {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        &__value {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        &__button-container {
          margin: 0;

          button {
            padding: 0;
            gap: 0;
            font-size: 0;
          }
        }
      }

      &:has(.af-list-item__value) {
        align-items: start;
      }
    }
  }
}
