@import "./ItemTabBarCommon.css";

.af-item-tab-bar {
  --item-tab-bar-font-color: var(--color-gray-900);
  --item-tab-bar-box-shadow-color: var(--blue-200);
  --item-tab-bar-outline-color: var(--blue-1000);
  --item-tab-bar-font-size: calc(18 / var(--font-size-base) * 1rem);

  &[aria-selected="true"] {
    --item-tab-bar-font-color: var(--blue-1000);
    --item-tab-bar-box-shadow-color: var(--blue-1000);
  }

  @media (--desktop-small) {
    --item-tab-bar-font-size: calc(20 / var(--font-size-base) * 1rem);
  }
}
