.af-item-tab-bar {
  padding: var(--item-tab-bar-padding, calc(16 / var(--font-size-base) * 1rem));
  border: none;
  font-size: var(
    --item-tab-bar-font-size,
    calc(16 / var(--font-size-base) * 1rem)
  );
  font-weight: var(--item-tab-bar-font-weight, 400);
  line-height: 125%;
  color: var(--item-tab-bar-font-color);
  background-color: transparent;
  box-shadow: inset 0 var(--item-tab-bar-box-shadow-width, 0) 0 0
    var(--item-tab-bar-box-shadow-color);
  outline: none;
  cursor: pointer;

  &:hover,
  &[aria-selected="true"] {
    --item-tab-bar-box-shadow-width: -4px;
  }

  &:focus-visible {
    outline: 2px solid var(--item-tab-bar-outline-color);
    outline-offset: 2px;
  }

  &[aria-selected="true"] {
    --item-tab-bar-font-weight: 600;
  }
}
