@use "../../common/breakpoints.scss" as breakpoints;

@use "./RadioCommon";

.af-radio {
  & label input[type="radio"] {
    & ~ .af-radio__icons {
      & .af-radio__unchecked {
        border: calc(2 / var(--font-size-base) * 1rem) solid;
        color: var(--gray-light-600);
        fill: var(--gray-light-600);
      }

      & .af-radio__checked-inner {
        width: calc(10 / var(--font-size-base) * 1rem);
        height: calc(10 / var(--font-size-base) * 1rem);
        border: solid 1px;
        border-radius: 1rem;
        background-color: var(--color-axa);
      }
    }
  }

  & label:has(input[type="radio"]:checked) {
    & .af-radio__checked {
      border: calc(2 / var(--font-size-base) * 1rem) solid;
      color: var(--color-axa);
      fill: var(--color-axa);
    }
  }

  &[aria-invalid="true"] {
    *:not(.af-radio__content *) {
      color: var(--color-red-700);
      fill: var(--color-red-700);
    }

    & label {
      & input[type="radio"] ~ .af-radio__icons {
        & .af-radio__checked,
        & .af-radio__unchecked {
          border: calc(2 / var(--font-size-base) * 1rem) solid;
          color: var(--color-red-700);
          fill: var(--color-red-700);
        }

        & .af-radio__checked-inner {
          background-color: var(--color-red-700);
        }
      }
    }
  }

  & label:hover:not(:has(input[type="radio"]:disabled)) {
    & .af-radio__unchecked {
      border: calc(3 / var(--font-size-base) * 1rem) solid;
      color: var(--color-axa);
      fill: var(--color-axa);
    }
  }
}
