.af-item-file {
  display: flex;
  width: 100%;
  margin-bottom: calc(10 / var(--font-size-base) * 1rem);
  padding: calc(16 / var(--font-size-base) * 1rem);
  border: 1px solid var(--item-file-border-color);
  border-radius: var(--item-file-border-radius);
  align-items: center;
  justify-content: space-between;
  gap: calc(12 / var(--font-size-base) * 1rem);
  font: var(--font-family-base);
  font-weight: 400;
  line-height: 125%;

  .af-item-file__title {
    font-size: calc(18 / var(--font-size-base) * 1rem);
    color: var(--item-file-title-color);
  }

  .af-item-file__subtitle {
    font-size: calc(16 / var(--font-size-base) * 1rem);
    color: var(--item-file-subtitle-color);
  }

  .af-item-file__header {
    display: flex;
    align-items: center;
    gap: calc(12 / var(--font-size-base) * 1rem);
  }

  .af-icon__success {
    fill: var(--icon-fill);
  }

  .af-icon__error {
    fill: var(--icon-fill);
  }

  .af-item-file--spinner div {
    border-top: var(--item-file-spinner-color) 2px solid;
  }

  .af-item-file__actions {
    display: flex;
    align-items: end;
    gap: calc(12 / var(--font-size-base) * 1rem);
  }

  .af-item-file__message {
    display: flex;
    margin-top: calc(10 / var(--font-size-base) * 1rem);
    align-items: center;
    gap: calc(8 / var(--font-size-base) * 1rem);
  }
}
