@use "./ItemFileCommon";

.af-item-file {
  --item-file-border-radius: var(--radius-8);
  --item-file-border-color: var(--axa-blue-100);
  --item-file-title-color: var(--neutral-100);
  --item-file-subtitle-color: var(--neutral-80);
  --icon-fill: var(--green-100);
  --item-file-bg-color: var(--white);
  --item-file-gap: calc(8 / var(--font-size-base) * 1rem);
  --item-file-body-padding-vertical: calc(16 / var(--font-size-base) * 1rem);
  --item-file-body-padding-horizontal: calc(16 / var(--font-size-base) * 1rem);
  --item-file-action-buttons-gap: calc(24 / var(--font-size-base) * 1rem);

  &--error {
    --item-file-border-color: var(--axa-red-100);
  }

  .af-icon {
    &__success {
      --icon-fill: var(--green-100);
    }

    &__error {
      --icon-fill: var(--red-alert-100);
    }
  }

  &__spinner div {
    --item-file-spinner-color: var(--neutral-100);
  }
}
