@use "./ItemFileCommon";

.af-item-file {
  --item-file-border-radius: var(--radius-8);
  --item-file-border-color: var(--axa-blue-100);
  --item-file-title-color: var(--neutral-100);
  --item-file-subtitle-color: var(--neutral-80);
  --item-file-icon-color: var(--green-100);
  --item-file-bg-color: var(--white);
  --item-file-background: url("@material-symbols/svg-400/outlined/delete-fill.svg");

  &--error {
    --item-file-border-color: var(--axa-red-100);
    --item-file-icon-color: var(--axa-red-100);
  }

  .af-icon div svg {
    --item-file-icon-color: var(--green-100);
  }

  &:open {
    --item-file-background: url("@material-symbols/svg-400/outlined/delete-fill.svg");
  }

  .af-item-file-title {
    --item-file-title: var(--neutral-100);
  }

  .af-item-file-subtitle {
    --item-file-subtitle: var(--neutral-80);
  }

  .af-spinner af-spinner--blue af-spinner--24 {
    --item-file-spinner-color: var(--axa-blue-100);
  }
}
