.af-icon {
  --icon-size-large: calc(40 / var(--font-size-base) * 1rem);
  --icon-size-medium: calc(32 / var(--font-size-base) * 1rem);
  --icon-size-small: calc(24 / var(--font-size-base) * 1rem);
  --icon-size-extra-small: calc(16 / var(--font-size-base) * 1rem);
  --icon-size: var(--icon-size-small);

  display: grid;
  width: fit-content;
  padding: var(--icon-padding);
  border-radius: var(--icon-border-radius);
  background-color: var(--icon-background-color, transparent);
  outline-color: var(--icon-outline-color);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--icon-fill);
  }
}

.af-icon--large {
  --icon-size: var(--icon-size-large);

  &.af-icon--has-background {
    --icon-padding: calc(12 / var(--font-size-base) * 1rem);
  }
}

.af-icon--medium {
  --icon-size: var(--icon-size-medium);

  &.af-icon--has-background {
    --icon-padding: calc(12 / var(--font-size-base) * 1rem);
  }
}

.af-icon--small {
  --icon-size: var(--icon-size-small);
}

.af-icon--extra-small {
  --icon-size: var(--icon-size-extra-small);

  &.af-icon--has-background {
    --icon-padding: calc(8 / var(--font-size-base) * 1rem);
  }
}

.af-icon--secondary {
  &.af-icon--has-background {
    outline-style: solid;
    outline-width: 1px;
  }
}
