@use "./IconCommon";

.af-icon {
  --icon-border-radius: calc(12 / var(--font-size-base) * 1rem);

  &--large {
    svg {
      --icon-width: calc(40 / var(--font-size-base) * 1rem);
      --icon-height: calc(40 / var(--font-size-base) * 1rem);
    }

    &.af-icon--background {
      --icon-padding: calc(12 / var(--font-size-base) * 1rem);
    }
  }

  &--medium {
    svg {
      --icon-width: calc(32 / var(--font-size-base) * 1rem);
      --icon-height: calc(32 / var(--font-size-base) * 1rem);
    }

    &.af-icon--background {
      --icon-padding: calc(12 / var(--font-size-base) * 1rem);
    }
  }

  &--small {
    svg {
      --icon-width: calc(24 / var(--font-size-base) * 1rem);
      --icon-height: calc(24 / var(--font-size-base) * 1rem);
    }

    &.af-icon--background {
      --icon-padding: calc(8 / var(--font-size-base) * 1rem);
    }
  }

  &--extra-small {
    svg {
      --icon-width: calc(16 / var(--font-size-base) * 1rem);
      --icon-height: calc(16 / var(--font-size-base) * 1rem);
    }

    &.af-icon--background {
      --icon-padding: calc(8 / var(--font-size-base) * 1rem);
    }
  }

  &--primary {
    --icon-fill: var(--color-axa);

    &.af-icon--background {
      --icon-fill: var(--color-white);
      --icon-background-color: var(--color-axa);
    }
  }

  &--secondary {
    --icon-fill: var(--color-white);

    &.af-icon--background {
      --icon-fill: var(--color-axa);
      --icon-background-color: var(--color-white);
      --icon-border: 1px solid var(--color-gray-300);
    }
  }

  &--tertiary {
    --icon-fill: var(--color-gray-500);

    &.af-icon--background {
      --icon-background-color: var(--color-gray-200);
    }
  }
}
