.af-title-bar {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background: var(--axablue80);
}

.af-title-bar--sticky {
  position: sticky;
  z-index: 110;
  top: 0;
}

.af-title-bar--fixed {
  position: fixed;
  width: 100%;
}

.af-title-bar__button {
  margin-right: 1rem;
}

.af-title-bar__button .button--circled:hover {
  color: initial;
}

.af-title-bar__button .button--circled:hover .button__icon {
  fill: initial;
}

.af-title-bar__leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.af-title-bar__rightSection {
  display: flex;
  align-items: center;
}

.af-title-bar__title {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  color: var(--white);
}

.af-title-bar__subtitle {
  margin-left: 0.25rem;
  font-weight: 400;
  color: var(--bluesubtitle);
}

.af-title-bar__actions {
  display: flex;
}

.af-title-bar__actions .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: fill 0.3s;
  fill: var(--white);
}

.af-title-bar__actions .btn:hover {
  fill: var(--axablue80);
}

.af-title-bar__actions .btn svg {
  width: 1rem;
}

.af-title-bar__actions .af-btn--circle {
  margin-left: 1rem;
  vertical-align: middle;
}

.af-title-bar__actions .af-btn--circle .injected-svg {
  color: var(--white);
}

.af-title-bar__actions .af-btn--circle:focus {
  color: var(--white);
  box-shadow: 0 0 6px var(--white);
}

@media (--tablet-portrait) {
  .burger-container {
    display: none;
  }
}

@media (--tablet-landscape) {
  .af-title-bar__title {
    font-size: 1.375rem;
  }
}
