.af-label {
  margin-bottom: var(--label-margin-bottom, 0);
  grid-area: label;
  font-size: 1rem;
  line-height: 20px;
}

.af-label__required {
  padding-left: 0.25rem;
  color: var(--error-color);
}
