@use "../common/common.client.scss" as common;

.af-pagination-desktop {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 0.5rem;
    list-style-type: none;

    li {
      display: flex;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: common.$color-axa;

      button {
        all: unset;
        cursor: pointer;

        &:focus-visible {
          outline: 1px solid common.$color-axa;
        }
      }
    }

    li[aria-current] {
      color: common.$color-white;
      background: common.$color-axa;
    }
  }

  .first {
    margin: 0 3rem 0 0;

    li:last-child::before {
      padding: 2rem;
      content: "...";
    }
  }

  .between {
    margin: 0 2rem;

    li:first-child::after {
      padding: 2rem;
      content: "...";
    }

    li:last-child::before {
      padding: 2rem;
      content: "...";
    }
  }

  .last {
    margin: 0 0 0 3rem;

    li:first-child::after {
      padding: 2rem;
      content: "...";
    }
  }
}
