@use "../core/FormCore";
@use "../../common/grid";

.react-select > div:nth-of-type(2) {
  z-index: 2;
}

.af-form__select {
  --select-border-color: var(--gray40);

  display: flex;
  align-items: center;

  .react-select > div {
    border-color: var(--select-border-color);
  }

  &--error {
    --select-border-color: var(--error-color);
  }

  &--warning {
    --select-border-color: var(--warning-color);
  }
}

.react-select {
  .multi-value-limit {
    margin: 0.125rem;
    border-radius: 0.25rem;
  }
}

.react-select__multi-option-label {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 0 0.5rem;

  .checkbox-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .indicator {
      display: flex;
      width: 1rem;
      height: 1rem;
      border: 1px solid var(--gray40);
      align-items: center;
      justify-content: center;
      background: var(--white);
    }

    .checkbox-checked {
      border-color: var(--axablue80);
      color: var(--axablue80);
    }
  }
}
