@use "sass:color";
@use "../common/common" as common;

h2.af-title {
  font-size: 1.5rem;
}

h3.af-title {
  font-size: 1.25rem;
}

h4.af-title {
  font-size: 1.125rem;
}

.af-title {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  color: common.$color-texte;

  &--content {
    display: flex;
    align-items: center;
    gap: 1rem;

    > af-title {
      flex: 0 0 auto;
    }

    .content-left,
    .content-right {
      display: flex;
      flex: 0 0 auto;
      align-items: center;

      > .af-btn {
        width: auto;
      }
    }
  }

  &--container {
    display: flex;
    align-items: center;
    gap: 1rem;

    > .af-title {
      flex: 0 0 auto;
    }

    > .af-title--content {
      min-width: 0;
      flex: 1 1 auto;
    }
  }

  & + .af-title {
    margin-top: 0;
  }
}
