@use "sass:color";
@use "../common/common" as common;

h2.af-title {
  font-size: 1.5rem;
}

h3.af-title {
  font-size: 1.25rem;
}

h4.af-title {
  font-size: 1.125rem;
}

.af-title {
  position: relative;
  flex: 1;
  overflow: hidden;
  font-weight: 600;
  color: common.$color-texte;

  &--container {
    display: flex;

    > * {
      display: flex;
      align-items: center;
    }

    .content-right {
      margin-bottom: 0.5em;
    }
  }

  &::after {
    z-index: 1;
    width: 100%;
    height: 1px;
    margin: 0.5rem 1rem;
    flex: 1;
    background-color: common.$color-gray-1;
    content: " ";
  }

  & + .af-title {
    margin-top: 0;
  }

  &--content {
    margin: 2rem 0 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid common.$color-silver;
    font-size: 1.75em;
    font-weight: 600;
    color: common.$color-mine-shaft;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  :first-child {
    margin-left: 1.5rem;
  }
}
