@use "RadioCommon";

.af-radio {
  --radio-border-color: var(--color-gray-700);
  --radio-outline-color: var(--radio-border-color);
  --radio-outline-width: 1px;
  --radio-background-color: var(--color-white);

  &__icons {
    --radio-width: calc(10 / var(--font-size-base) * 1rem);
    --radio-icon-background-color: var(--color-axa);
  }

  &:hover,
  &:focus-within,
  &:has(:checked) {
    --radio-border-color: var(--color-axa);
  }

  &:hover,
  &:focus-within {
    --radio-outline-width: 2px;
  }

  &:has(:checked) {
    --radio-outline-width: 1px;
  }

  &:not(:has(:checked)):has([aria-invalid="true"]) {
    --radio-border-color: var(--color-red-700);
  }
}
