@use "RadioCommon";

.af-radio {
  --radio-border: 1px var(--axa-blue-65);

  &__icons {
    --radio-width: calc(12 / var(--font-size-base) * 1rem);
    --radio-background-color: var(--axa-blue-100);
  }

  &[aria-invalid="true"] {
    --radio-border: 2px var(--red-alert-100);
    --radio-background-color: var(--white);
  }

  &:hover {
    --radio-border: 2px var(--axa-blue-100);
    --radio-box-shadow-color: 0 0 0 0 var(--axa-blue-100) inset;
  }

  &:has(> input[type="radio"]:checked) {
    --radio-border: 2px var(--axa-blue-100);

    &:hover {
      --radio-box-shadow-color: 0 0 0 0 var(--axa-blue-100) inset;
    }
  }
}
