.af-radio {
  display: flex;
  width: calc(24 / var(--font-size-base) * 1rem);
  aspect-ratio: 1;
  border: var(--radio-border-width, 1px) solid var(--radio-border-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  gap: calc(12 / var(--font-size-base) * 1rem);

  &__icons {
    display: none;
    width: var(--radio-width);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--radio-background-color);
  }

  &:hover,
  &:focus-within,
  &:has(:checked),
  &:has([aria-invalid="true"]) {
    outline: 1px solid var(--radio-outline-color);
  }

  input[type="radio"] {
    position: absolute;
    width: calc(24 / var(--font-size-base) * 1rem);
    height: calc(24 / var(--font-size-base) * 1rem);
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .af-radio__icons {
      display: block;
    }
  }
}
