@use "RadioCommon";

.af-radio {
  --radio-border-color: var(--color-gray-700);
  --radio-outline-color: var(--radio-border-color);
  --radio-border-width: 2px;

  &__icons {
    --radio-width: calc(12 / var(--font-size-base) * 1rem);
    --radio-background-color: var(--color-axa);
  }

  &:hover,
  &:focus-within,
  &:has(:checked) {
    --radio-border-color: var(--color-axa);
  }

  &[aria-invalid="true"] {
    --radio-border-color: var(--color-red-700);
  }
}
