@import "./RadioCommon.css";

@layer canopee {
  .af-radio {
    --radio-border-color: var(--gray-800);
    --radio-ckecked-width: var(--rem-12);

    &:hover,
    &:focus-within,
    &:checked {
      --radio-border-color: var(--blue-1000);
    }

    &:checked {
      --radio-ckecked-color: var(--blue-1000);
    }

    &[class*="--error"] {
      &:checked,
      &:not(:checked) {
        --radio-border-color: var(--red-alert-1200);
      }
    }
  }
}
