@import "./RadioCommon.css";

.af-radio {
  --radio-border-color: var(--color-gray-700);
  --radio-ckecked-width: calc(10 / var(--font-size-base) * 1rem);

  &:hover,
  &:focus-within,
  &:checked {
    --radio-border-color: var(--blue-1000);
  }

  &:checked {
    --radio-ckecked-color: var(--blue-1000);
  }
}

.af-radio--invalid:not(:checked) {
  --radio-border-color: var(--red-alert-1200);

  &:hover,
  &:focus-within {
    --radio-border-color: var(--red-alert-1200);
  }
}
