@import "./RadioCommon.css";

.af-radio {
  --radio-border-color: var(--gray-800);
  --radio-ckecked-width: var(--rem-10);

  &:hover,
  &:focus-within,
  &:checked {
    --radio-border-color: var(--blue-1000);
  }

  &:checked {
    --radio-ckecked-color: var(--blue-1000);
  }
}

.af-radio--invalid:not(:checked) {
  --radio-border-color: var(--red-alert-1200);

  &:hover,
  &:focus-within {
    --radio-border-color: var(--red-alert-1200);
  }
}
