@use "sass:color";
@use "../common/common" as common;

// Using 2 selectors to override the reboot selector `a:not([href], [tabindex])`
.btn.af-btn--circle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 1px solid common.$white;
  border-radius: 50%;
  text-align: center;
  color: common.$white;
  background: common.$color-azur;
  cursor: pointer;

  &:hover {
    border-color: common.$brand-primary;
    color: common.$brand-primary;
    background-color: common.$white;
  }

  &:focus {
    color: common.$white;
    outline: none;

    &:hover {
      color: common.$brand-primary;
    }
  }

  .glyphicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
