.af-apollo-accordion-contextual-inverse-demo-container {
  background-color: var(--color-axa);
  padding: 2rem;
}

.af-apollo-accordion-contextual-info-demo-container {
  background-color: var(--color-blue-400);
  padding: 2rem;
}

.af-apollo-accordion-contextual-warning-demo-container {
  background-color: var(--color-btn-error-bg);
  padding: 2rem;
}