@use "../common/common" as common;
@import "../common/common";

.af-loader {
  position: relative;
  min-height: 94px;

  &-on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 75%);
  }
}

.af-spinner {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__caption {
    margin-right: 16px;
    font-size: 20px;
    font-weight: normal;
    color: common.$color-scorpion;
  }
}

.af-loader-circle {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  animation: spin 1s linear infinite;

  &--blue {
    border: 5px solid $color-axa;
    border-top: 5px solid transparent;
    border-radius: 50%;
  }

  &--white {
    border: 5px solid white;
    border-top: 5px solid transparent;
    border-radius: 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
