.af-form__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: calc(8 / var(--font-size-base) * 1rem);
}

.af-form__input-helper {
  font-size: calc(14 / var(--font-size-base) * 1rem);
  font-weight: 400;
  line-height: 1.25em;
  color: var(--input-helper-color);

  @media (--desktop-small) {
    font-size: calc(16 / var(--font-size-base) * 1rem);
  }
}
