@use "../../common/breakpoints" as breakpoints;

@use "./InputTextCommon";

.af-form {
  &__input-helper {
    --input-helper-color: var(--color-gray-700);
  }

  &__input-container:has([class*="__sidebutton"]):has(:disabled)
    .af-form__input-variant {
    --input-border-color: var(--color-gray-400);
    --input-text-color: var(--color-gray-700);
    --input-bg-color: var(--color-gray-200);
    --input-text-icon-color: var(--color-gray-700);
  }
}
