.af-form__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--rem-8);
}

.af-form__input-helper {
  font-size: var(--rem-14);
  font-weight: 400;
  line-height: 1.25em;
  color: var(--input-helper-color);

  @media (--desktop-small) {
    font-size: var(--rem-16);
  }
}
