@import "./InputTextCommon.css";

.af-form__input-helper {
  --input-helper-color: var(--gray-800);
}

.af-form__input-container:has([class*="__sidebutton"]):has(:disabled)
  .af-form__input-atom-container {
  --input-border-color: var(--gray-140);
  --input-text-color: var(--gray-800);
  --input-bg-color: var(--gray-050);
  --input-text-icon-color: var(--gray-800);
}
