@layer canopee {
  .af-form-helper {
    display: block;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
    color: var(--gray80);
    background-color: var(--gray10);
    box-shadow: 0 0 9px rgba(0, 0, 0, 18%);
  }

  .af-form-helper__title {
    margin: 0;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--white);
    background-color: var(--axablue80);
  }

  .af-form-helper__legend {
    display: flex;
    margin: 0;
    padding: 0.5rem 1.25rem;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem 1rem;
    line-height: 1.25rem;
    background-color: var(--white);
    list-style: none;
  }

  .af-form-helper__body {
    padding: 1rem 1.25rem;
  }
}
