:root {
  --step-background-color: transparent;
  --link-color: var(--gray80);
}

.af-item-form-helper {
  line-height: 1.5rem;
  list-style: none;

  a {
    color: var(--link-color);
  }

  &::before {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin-right: 8px;
    margin-left: 2px;
    border-radius: 0.3rem;
    background: var(--step-background-color);
    content: "";
  }
}

.af-item-form-helper__validated {
  --link-color: var(--green40);

  color: var(--green40);
}

.af-item-form-helper__validated::before {
  display: none;
}

.af-item-form-helper__greenTick {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 4px;
  vertical-align: middle;
  color: var(--green40);
  fill: var(--green40);
}

.af-item-form-helper__edited {
  --step-background-color: var(--axablue80);
}

.af-item-form-helper__disabled::before {
  border: 1px solid var(--gray50);
}

.af-item-form-helper__locked::before {
  border: 1px solid var(--axablue80);
}

.af-item-form-helper__disabled {
  color: var(--gray50);
}
