*,
::after,
::before {
  box-sizing: border-box;
  font-family: var(--font-family-sans-serif);
}

html {
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
}

p {
  text-wrap: pretty;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
}
