/* stylelint-disable color-function-notation */

:root {
  /* *************************************************************************/

  /* FONTS                                                                   */

  /* *************************************************************************/
  --font-family-sans-serif: "Source Sans Pro", arial, sans-serif;
  --font-family-serif: georgia, times, "Times New Roman", serif;
  --font-family-base: var(--font-family-sans-serif);
  --font-family-publico-bold: "Publico Headline Bold";
  --font-family-publico-headline: "Publico Headline";
  --font-family-publico: "Publico";
  --font-size-base: 16;

  /* *******************************************************************************/

  /* COLORS                                                                        */

  /* *******************************************************************************/

  /* BRAND PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --black: hsl(0deg, 0%, 0%);
  --black-1000: hsl(0deg, 0%, 7%);
  --white-1000: hsl(0deg, 0%, 100%);
  --white-1000-20: hsl(from var(--white-1000) h s l / 20%);
  --white-gray-1000: hsl(0deg, 0%, 98%);

  /* ⛔ legacy names colors - DO NOT USE */
  --color-white: var(--white-1000);
  --color-black: var(--black-1000);
  --dark: var(--black-1000);
  --white: var(--white-1000);
  --white-20: var(--white-1000-20);

  /* BRAND PRIMITIVES **************************************************************/

  /* BLUE PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --blue-1200: hsl(240deg, 100%, 22%);
  --blue-1000: hsl(240deg, 100%, 28%);
  --blue-1000-20: hsl(from var(--blue-1000) h s l / 20%);
  --blue-1000-40: hsl(from var(--blue-1000) h s l / 40%);
  --blue-900: hsl(240deg, 71%, 35%);
  --blue-800: hsl(240deg, 53%, 42%);
  --blue-650: hsl(240deg, 39%, 53%);
  --blue-550: hsl(240deg, 39%, 60%);
  --blue-200: hsl(240deg, 40%, 86%);
  --blue-100: hsl(240deg, 41%, 93%);
  --blue-080: hsl(240deg, 38%, 94%);
  --blue-040: hsl(240deg, 43%, 97%);

  /* ⛔ legacy names colors - DO NOT USE */
  --axa-blue-120: var(--blue-1200);
  --color-blue-1: var(--blue-1200);
  --axa-blue-100: var(--blue-1000);
  --color-axa: var(--blue-1000);
  --color-blue-800: var(--blue-1000);
  --axa-blue-100-20: var(--blue-1000-20); /* pas utilisé */
  --axa-blue-100-40: var(--blue-1000-40); /* pas utilisé */
  --axa-blue-80: var(--blue-900);
  --color-btn-light: var(--blue-800);
  --color-blue-80: var(--blue-800);
  --axa-blue-65: var(--blue-650);
  --color-blue-3: var(--blue-650);
  --color-ocean-blue: var(--blue-550);
  --axa-blue-20: var(--blue-200);
  --color-blue-400: var(--blue-200);
  --color-btn-tertiary-bg-darker: var(--blue-100);
  --color-blue-200: var(--blue-80);
  --color-btn-tertiary-bg: var(--blue-80);
  --axa-blue-8: var(--blue-080);
  --axa-blue-4: var(--blue-040);
  --color-blue-2: var(--blue-040);
  --color-btn-tertiary-bg-lighter: var(--blue-040);

  /* BLUE PRIMITIVES **************************************************************/

  /* RED PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --red-040: hsl(17deg, 64%, 98%);
  --red-alert-1000: hsl(0deg, 100%, 45%);
  --red-alert-1200: hsl(0deg, 100%, 36%);

  /* ⛔ legacy names colors - DO NOT USE */
  --axa-red-4: var(--red-040);
  --color-btn-error-bg: var(--red-040);
  --red-alert-100: var(--red-alert-1000);
  --axa-red-100: var(--red-alert-1000);
  --color-red: var(--red-alert-1000); /* pas utilisé */
  --color-red-700: var(--red-alert-1200);
  --color-btn-error-text: var(--red-alert-1200);

  /* RED PRIMITIVES **************************************************************/

  /* ORANGE PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --orange-1050: hsl(19deg, 82%, 41%);
  --orange-1000: hsl(19deg, 82%, 43%);
  --orange-800: hsl(19deg, 63%, 55%);
  --orange-100: hsl(355deg, 100%, 98%);

  /* ⛔ legacy names colors - DO NOT USE */
  --warning-120: var(--orange-1050);
  --color-btn-business-dark: var(--orange-1050);
  --warning-100: var(--orange-1000);
  --color-orange-700: var(--orange-1000);
  --color-btn-business: var(--orange-1000);
  --warning-80: var(--orange-800);
  --color-btn-business-light: var(--orange-800);
  --color-orange-100: var(--orange-100);

  /* ORANGE PRIMITIVES **************************************************************/

  /* GRAY PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --gray-1000: hsl(0deg, 0%, 20%);
  --gray-1000-48: hsl(from var(--gray-1000) h s l / 48%);
  --gray-800: hsl(0deg, 0%, 36%);
  --gray-800-20: hsl(from var(--gray-800) h s l / 20%);
  --gray-500: hsl(0deg, 0%, 60%);
  --gray-500-20: hsl(from var(--gray-500) h s l / 20%);
  --gray-250: hsl(0deg, 0%, 80%);
  --gray-140: hsl(0deg, 0%, 89%);
  --gray-050: hsl(0deg, 0%, 96%);

  /* ⛔ legacy names colors - DO NOT USE */
  --color-gray-900: var(--gray-1000);
  --neutral-100: var(--gray-1000);
  --neutral-80: var(--gray-800);
  --color-gray-700: var(--gray-800);
  --color-gray: var(--gray-800);
  --color-gray-32: var(--gray-800);
  --neutral-50: var(--gray-500);
  --color-gray-500: var(--gray-500);
  --color-btn-disabled-text: var(--gray-500);
  --neutral-50-20: var(--gray-500-20);
  --neutral-25: var(--gray-250);
  --color-gray-1: var(--gray-250);
  --neutral-14: var(--gray-140);
  --color-gray-400: var(--gray-140);
  --neutral-5: var(--gray-050);
  --color-gray-200: var(--gray-050);

  /* GRAY PRIMITIVES **************************************************************/

  /* GREEN PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --green-1000: hsl(138deg, 68%, 30%);
  --green-040: hsl(135deg, 29%, 97%);

  /* ⛔ legacy names colors - DO NOT USE */
  --green-100: var(--green-1000);
  --color-green-600: var(--green-1000);
  --aqua-green-12: var(--green-040);

  /* GREEN PRIMITIVES **************************************************************/

  /* OTHER PRIMITIVES **************************************************************/

  /* ✅ valid names colors */
  --grape-1000: hsl(247deg, 77%, 61%);
  --grape-040: hsl(247deg, 77%, 85%);
  --sky-900: hsl(202deg, 71%, 71%);
  --sky-400: hsl(202deg, 72%, 87%);
  --cotton-candy-900: hsl(339deg, 100%, 87%);
  --teal-800: hsl(202deg, 53%, 61%);
  --blue-300: hsl(240deg, 39%, 78%);
  --sunshine-500: hsl(54deg, 100%, 85%);
  --sunshine-1050: hsl(54deg, 84%, 68%);

  /* OTHER PRIMITIVES **************************************************************/

  /* *************************************************************************/

  /* SIZING                                                                  */

  /* *************************************************************************/
  --size-4: 4px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;

  /* *************************************************************************/

  /* BORDERS                                                                 */

  /* *************************************************************************/
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-100: 100vmax;

  /* *************************************************************************/

  /* FONT SIZING                                                                  */

  /* *************************************************************************/
  --rem-2: calc(2 / var(--font-size-base) * 1rem);
  --rem-3: calc(3 / var(--font-size-base) * 1rem);
  --rem-4: calc(4 / var(--font-size-base) * 1rem);
  --rem-6: calc(6 / var(--font-size-base) * 1rem);
  --rem-8: calc(8 / var(--font-size-base) * 1rem);
  --rem-10: calc(10 / var(--font-size-base) * 1rem);
  --rem-11: calc(11 / var(--font-size-base) * 1rem);
  --rem-12: calc(12 / var(--font-size-base) * 1rem);
  --rem-13: calc(13 / var(--font-size-base) * 1rem);
  --rem-14: calc(14 / var(--font-size-base) * 1rem);
  --rem-16: calc(16 / var(--font-size-base) * 1rem);
  --rem-18: calc(18 / var(--font-size-base) * 1rem);
  --rem-20: calc(20 / var(--font-size-base) * 1rem);
  --rem-22: calc(22 / var(--font-size-base) * 1rem);
  --rem-23: calc(23 / var(--font-size-base) * 1rem);
  --rem-24: calc(24 / var(--font-size-base) * 1rem);
  --rem-25: calc(25 / var(--font-size-base) * 1rem);
  --rem-26: calc(26 / var(--font-size-base) * 1rem);
  --rem-28: calc(28 / var(--font-size-base) * 1rem);
  --rem-30: calc(30 / var(--font-size-base) * 1rem);
  --rem-32: calc(32 / var(--font-size-base) * 1rem);
  --rem-35: calc(35 / var(--font-size-base) * 1rem);
  --rem-36: calc(36 / var(--font-size-base) * 1rem);
  --rem-38: calc(38 / var(--font-size-base) * 1rem);
  --rem-40: calc(40 / var(--font-size-base) * 1rem);
  --rem-48: calc(48 / var(--font-size-base) * 1rem);
  --rem-50: calc(50 / var(--font-size-base) * 1rem);
  --rem-52: calc(52 / var(--font-size-base) * 1rem);
  --rem-60: calc(60 / var(--font-size-base) * 1rem);
  --rem-64: calc(64 / var(--font-size-base) * 1rem);
  --rem-80: calc(80 / var(--font-size-base) * 1rem);
  --rem-120: calc(120 / var(--font-size-base) * 1rem);

  /* *************************************************************************/

  /* ANIMATIONS                                                              */

  /* *************************************************************************/

  --transition-duration: 0.2s;

  /* *************************************************************************/

  /* BREAKPOINTS                                                             */

  /* *************************************************************************/

  @custom-media --mobile screen and (width > 0);
  @custom-media --tablet screen and (width > 667px);
  @custom-media --desktop-small screen and (width > 1023px);
  @custom-media --desktop-medium screen and (width > 1279px);
  @custom-media --desktop-large screen and (width > 1599px);
}
