/* stylelint-disable color-function-notation */
@import "./tokensCommon.css";

:root {
  /* *************************************************************************/

  /* COLORS                                                                  */

  /* *************************************************************************/

  /* PRIMITIVES **************************************************************/

  /* orange */

  --warning-100: hsl(19deg, 82%, 43%);
  --warning-120: hsl(19deg, 82%, 35%);
  --warning-4: hsl(20deg, 80%, 98%);
  --warning-80: hsl(19deg, 63%, 55%);

  /* gray */

  /* --dark: hsl(from var(--black) h s 7%); */
  --neutral-100: hsl(from var(--black) h s 20%);
  --neutral-80: hsl(from var(--black) h s 36%);
  --neutral-50: hsl(from var(--black) h s 60%);
  --neutral-50-20: hsl(from var(--neutral-50) h s l / 20%);
  --neutral-25: hsl(from var(--black) h s 80%);
  --neutral-14: hsl(from var(--black) h s 90%);
  --neutral-5: hsl(from var(--black) h s 96%);

  /* green */
  --green-100: hsl(138deg, 69%, 30%);
  --aqua-green-12: hsl(146deg, 41%, 97%);

  /* *************************************************************************/

  /* SIZING                                                                  */

  /* *************************************************************************/

  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;

  /* *************************************************************************/

  /* SPACING                                                                 */

  /* *************************************************************************/
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;

  /* *************************************************************************/

  /* BREAKPOINTS                                                             */

  /* *************************************************************************/

  @custom-media --mobile screen and (width > 0);
  @custom-media --tablet screen and (width > 667px);
  @custom-media --desktop-small screen and (width > 1023px);
  @custom-media --desktop-medium screen and (width > 1279px);
  @custom-media --desktop-large screen and (width > 1599px);

  /* *************************************************************************/

  /* BORDERS                                                                 */

  /* *************************************************************************/
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-100: 100vmax;

  /* *************************************************************************/

  /* ANIMATIONS                                                              */

  /* *************************************************************************/

  --transition-duration: 0.2s;
}
