@import "./tokensCommon.css";

:root {
  /* *************************************************************************/

  /* COLORS                                                                  */

  /* *************************************************************************/

  /* PRIMITIVES **************************************************************/

  /* red */
  --color-red: #ff1721;
  --color-red-600: #d4435b;
  --color-red-700: #c91432;
  --color-btn-error-text: #a11028;
  --color-btn-error-bg: #fff3f5;
  --error-custom-border: #d18e8e;
  --error-custom-bg: #ffbfbf;

  /* orange */
  --color-alert-danger-color-border: #c8b282;
  --color-alert-danger-bg-color: #f1d596;
  --color-btn-business: #c94e14;
  --color-btn-business-dark: #a8391c;
  --color-btn-business-light: #df7e65;
  --color-orange-100: #fff8f3;
  --color-orange-700: #c94e14;

  /* gray */
  --color-gray: #5f5f5f;
  --color-gray-1: #ccc;
  --color-gray-32: #5c5c5c;
  --color-gray-200: #f3f3f3;
  --color-gray-300: #e9ecf2;
  --color-gray-400: #e5e5e5;
  --color-gray-500: #999;
  --color-gray-700: #5f5f5f;
  --color-gray-900: #333;
  --color-btn-disabled-text: #999;

  /* green */
  --color-green-600: #118635;

  /* *************************************************************************/

  /* SIZING                                                                  */

  /* *************************************************************************/

  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;

  /* *************************************************************************/

  /* SPACING                                                                 */

  /* *************************************************************************/
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;

  /* *************************************************************************/

  /* BREAKPOINTS                                                             */

  /* *************************************************************************/

  @custom-media --mobile screen and (width > 0);
  @custom-media --tablet screen and (width > 667px);
  @custom-media --desktop-small screen and (width > 1023px);
  @custom-media --desktop-medium screen and (width > 1279px);
  @custom-media --desktop-large screen and (width > 1599px);

  /* *************************************************************************/

  /* BORDERS                                                                 */

  /* *************************************************************************/

  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-100: 100vmax;

  /* *************************************************************************/

  /* ANIMATIONS                                                              */

  /* *************************************************************************/

  --transition-duration: 0.2s;
}
