@import "./tokensCommon.css";

:root {
  /* *************************************************************************/

  /* SIZING                                                                  */

  /* *************************************************************************/

  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;

  /* *************************************************************************/

  /* SPACING                                                                 */

  /* *************************************************************************/
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;

  /* *************************************************************************/

  /* BREAKPOINTS                                                             */

  /* *************************************************************************/

  @custom-media --mobile screen and (width > 0);
  @custom-media --tablet screen and (width > 667px);
  @custom-media --desktop-small screen and (width > 1023px);
  @custom-media --desktop-medium screen and (width > 1279px);
  @custom-media --desktop-large screen and (width > 1599px);

  /* *************************************************************************/

  /* BORDERS                                                                 */

  /* *************************************************************************/

  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-100: 100vmax;

  /* *************************************************************************/

  /* ANIMATIONS                                                              */

  /* *************************************************************************/

  --transition-duration: 0.2s;
}
