@import "./ToggleCommon.css";

.af-toggle {
  --toggle-bg-color: var(--blue-80);
  --toggle-border-color: var(--gray-800);
  --toggle-focus-outline-color: var(--blue-1000);
  --toggle-border-radius: var(--radius-32);
  --toggle-border-size: 2px;
  --toggle-padding: 4px;
  --toggle-width: calc(
    var(--toggle-handle-size) * var(--toggle-handle-enlarge-scale) * 2 -
      var(--toggle-padding) - var(--toggle-border-size) * 2
  );
  --toggle-height: calc(
    var(--toggle-handle-size) * var(--toggle-handle-enlarge-scale) -
      var(--toggle-border-size) * 2
  );
  --toggle-handle-color: var(--gray-800);
  --toggle-handle-size: 16px;
  --toggle-handle-position: var(--toggle-border-size);
  --toggle-handle-scale: 1;
  --toggle-handle-enlarge-scale: 1.5;

  &:has(:checked) {
    --toggle-bg-color: var(--blue-1000);
    --toggle-border-color: var(--blue-1000);

    .af-toggle__handle {
      --toggle-handle-scale: var(--toggle-handle-enlarge-scale);
      --toggle-handle-color: var(--white-1000);
      --toggle-handle-position: calc(
        var(--toggle-width) - var(--toggle-handle-size) -
          var(--toggle-border-size)
      );
    }
  }

  &:has(:disabled) {
    --toggle-bg-color: var(--white-1000);
    --toggle-border-color: var(--gray-140);
    --toggle-handle-color: var(--gray-140);
  }

  &:has(:disabled:checked) {
    --toggle-bg-color: var(--gray-140);
    --toggle-border-color: var(--gray-140);
  }
}
