@use "../../common/common.client.scss" as common;

.af-title {
  gap: 0.25rem;
  color: common.$color-gray-900;

  &__title {
    margin: 0;
    font-family: common.$font-family-publico;
    font-weight: 700;
  }

  &__subtitle {
    display: block;
    font-family: common.$font-family-base;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4rem;
  }

  &__icon {
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(common.$color-axa, 0.15);
  }

  &__text-container {
    display: grid;
    gap: 0.25rem;
  }

  &:has(&__icon) {
    display: flex;
    gap: 0.75rem;

    .af-title__title {
      color: common.$color-axa;
    }
  }

  &--xl {
    h1.af-title__title {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &--l {
    h1.af-title__title {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }
}

@media (width <= #{common.$breakpoint-md}) {
  .af-title {
    &--xl {
      h1.af-title__title {
        font-size: 1.5rem;
        line-height: 1.875rem;
      }
    }

    &--l {
      h1.af-title__title {
        font-size: 1.25rem;
        line-height: 1.56rem;
      }
    }

    span.af-title__subtitle {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}
