@use "../common/reboot.scss";
@use "../common/common.client.scss" as common;

.af-card {
  width: fit-content;
  padding: 1rem;
  border: 1px solid common.$color-btn-disabled-bg;
  border-radius: 0.5rem;
  font-family: common.$font-family-base;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  background-color: common.$color-white;
  box-shadow: 0 0.25rem 0.5rem 0 #10184014;

  > *:last-child {
    margin-block-end: 0;
  }

  &:focus-visible {
    border: 2px solid common.$color-focus;
    outline: none;
  }

  &--elevation-2:not(:focus) {
    box-shadow: 0 0.25rem 0.5rem 0 #10184029;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: common.$color-axa;
  }
}

button.af-card {
  text-align: initial;
  cursor: pointer;

  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }
}
