.af-form__file-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: var(--white);
  cursor: pointer;
}

.af-form__file-input .drop-box {
  display: flex;
  padding-left: 1rem;
  border: 2px dashed var(--gray40);
  border-right: 0;
  flex: 1;
  align-items: center;
  text-align: center;
}

.af-form__file-input .drop-box input {
  display: block;
  width: 0;
  opacity: 0;
}

.af-form__file-input .af-btn--file {
  min-width: 8rem;
}

.af-form__file-input:hover .drop-box,
.af-form__file-input:focus .drop-box {
  border-color: var(--brand-primary);
}

.af-form__file-errors {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--error-color);
}

.af-form__file-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  font-size: 0.9rem;
  list-style: none;
}

.af-form__file-line {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--gray40);
  align-items: center;
  justify-content: space-around;
  background: var(--white);
}

.af-form__file-line .glyphicon {
  width: 1rem;
}

.af-link--delete-file {
  border: 0;
  text-decoration: underline;
  color: var(--brand-primary);
  background: none;
}

.af-link--delete-file:hover {
  text-decoration: none;
}
