.af-form__input-date {
  padding: 0.5625rem 1.2rem;
  border: 1px solid var(--input-border-color);
  font-size: 1em;
  line-height: 20px;
}

.af-form__date--disabled .af-form__input-date {
  cursor: not-allowed;
}

.af-form__date--success .af-form__input-date {
  margin-right: 1rem;
}

.af-form__date--success::after {
  position: relative;
  top: 5px;
  color: var(--valid-element-color);
  content: "\EABA";
}

.af-form__date--success > .af-btn--circle {
  margin-right: 1rem;
}

.af-form__date--error {
  padding: 0;
}

.af-form__date--error .af-form__input-date {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

.af-form__date--warning {
  padding: 0;
}

.af-form__date--warning .af-form__input-date {
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}

.af-form__date-wrapper {
  position: relative;
  display: inline-flex;
}

.af-form__input-date:focus {
  border-color: var(--brand-primary);
  color: var(--brand-primary);
}

.af-form__input-date--hasinfobulle {
  margin-right: 1rem;
}

.af-form__input-date::-ms-clear,
.af-form__input-date::-ms-reveal {
  display: none;
}

.af-form__help {
  position: absolute;
  bottom: -20px;
  display: block;
}
