@use "../../common/common" as common;

.af-checkbox {
  height: 100%;
  font-family: "Source Sans Pro", arial, sans-serif;

  ul {
    all: unset;
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  li {
    all: unset;

    > div {
      height: 100%;
    }
  }

  * {
    box-sizing: border-box;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    row-gap: calc(4 / var(--font-size-base) * 1rem);
  }

  &__label {
    font-size: common.rem(18);
    font-weight: 600;
    color: var(--color-gray-900);
  }

  &__description {
    font-size: common.rem(14);
    font-weight: 400;
    line-height: common.rem(18);
    color: var(--color-gray-700);

    @media (width > #{common.$breakpoint-md}) {
      font-size: common.rem(16);
      line-height: common.rem(20);
    }
  }

  &__content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;

    & > svg {
      width: 1.75rem;
      height: 1.75rem;
      color: var(--color-axa);
      fill: var(--color-axa);
    }

    & &-description {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      line-height: 1.25rem;

      & > span:first-child {
        font-size: common.rem(18);
        line-height: 1.4rem;
        color: var(--color-gray-900);
      }

      & > span:not(:first-child) {
        color: var(--color-gray-700);
      }
    }
  }

  input[type="checkbox"]:checked
    ~ &__content
    &__content-description
    > span:first-child {
    font-weight: 600;
  }

  &-select--horizontal &__content {
    flex-direction: column;
    gap: 0.5rem;
  }

  &__group-description {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  & ~ &__error {
    display: flex;
    margin-left: 3.2rem;
    align-items: center;
    gap: 0.5rem;
    font-family: "Source Sans Pro", arial, sans-serif;
    line-height: 1.25rem;
    color: var(--color-red-700);

    & > svg {
      width: 1rem;
      color: var(--color-red-700);
      fill: var(--color-red-700);
    }
  }

  &-select ~ &__error {
    margin: 1rem 0 0;
  }

  & label {
    display: flex;
    margin: 0;
    border-radius: var(--default-border-radius);
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
  }

  &-select label {
    padding: 1rem;
    align-items: center;
    box-shadow: 0 0 0 1px var(--box-shadow-color) inset;

    --box-shadow-color: #{var(--color-gray)};
  }

  &-select--vertical ul {
    flex-direction: column;
  }

  &-select--horizontal label {
    position: relative;
    width: 12rem;
    height: auto;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    text-align: center;

    & .af-checkbox__icons {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  &-select.subgrid label {
    width: inherit;
  }

  & label input[type="checkbox"] {
    position: absolute;
    margin-right: 0.5rem;
    opacity: 0;

    & ~ .af-checkbox__icons {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      & svg {
        background-color: var(--color-white);
        clip-path: inset(0.22rem round 2px);
      }

      & .af-checkbox__checked,
      & .af-checkbox__unchecked {
        width: 1.75rem;
        height: 1.75rem;
        align-items: center;
      }

      & .af-checkbox__checked {
        display: none;
      }

      & .af-checkbox__unchecked {
        color: var(--color-gray-700);
        fill: var(--color-gray-700);
      }
    }
  }

  & label:has(input[type="checkbox"][aria-invalid="true"]) {
    & .af-checkbox__checked,
    & .af-checkbox__unchecked {
      color: var(--color-red-700);
      fill: var(--color-red-700);
    }
  }

  & label:has(input[type="checkbox"]:checked) {
    & .af-checkbox__checked {
      display: block;
      color: var(--color-axa);
      fill: var(--color-axa);
    }

    & .af-checkbox__unchecked {
      display: none;
    }
  }

  &-select label:has(input[type="checkbox"]) {
    background-color: var(--color-white);
  }

  &-select label:has(input[type="checkbox"]:checked) {
    background-color: var(--color-blue-2);
    box-shadow: 0 0 0 2px var(--color-axa) inset;
  }

  & label:has(input[type="checkbox"]:disabled) {
    cursor: default;

    & .af-checkbox__content > svg,
    & .af-checkbox__checked,
    & .af-checkbox__unchecked {
      color: var(--color-btn-disabled-text);
      fill: var(--color-btn-disabled-text);
    }
  }

  &-select label:has(input[type="checkbox"]:disabled) {
    color: var(--color-btn-disabled-text);
    background-color: var(--color-gray-200);
    box-shadow: 0 0 0 1px var(--box-shadow-color) inset;

    --box-shadow-color: #{var(--color-gray-400)};
  }

  &-select label:has(input[type="checkbox"][aria-invalid="true"]) {
    --box-shadow-color: #{var(--color-red-700)};

    box-shadow: 0 0 0 2px var(--box-shadow-color) inset;
  }

  & label input[type="checkbox"]:focus-visible ~ .af-checkbox__icons {
    outline: 2px solid var(--color-blue-3);
    outline-offset: 3px;
  }

  & label:hover:not(:has(input[type="checkbox"]:disabled)) {
    & .af-checkbox__unchecked {
      color: var(--color-axa);
      fill: var(--color-axa);
    }
  }

  &-select label:hover:not(:has(input[type="checkbox"]:disabled)) {
    --box-shadow-color: var(--color-axa);

    box-shadow: 0 0 0 1px var(--box-shadow-color) inset;
  }

  &-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--color-gray-700);

    &--horizontal {
      flex-direction: row;
    }
  }
}
