.af-checkbox {
  font-family: "Source Sans Pro", arial, sans-serif;

  * {
    box-sizing: border-box;
  }

  & ~ &__error {
    display: flex;
    margin-left: 3.2rem;
    align-items: center;
    gap: 0.5rem;
    font-family: "Source Sans Pro", arial, sans-serif;
    line-height: 1.25rem;
    color: var(--error-box-color);

    & > svg {
      width: 1rem;
      color: var(--error-box-color);
      fill: var(--error-box-fill);
    }
  }

  & label {
    display: flex;
    margin: 0;
    border-radius: var(--border-radius);
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
  }

  & label input[type="checkbox"] {
    position: absolute;
    margin-right: 0.5rem;
    opacity: 0;

    & ~ .af-checkbox__icons {
      display: flex;
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      border: var(--border);
      border-radius: var(--border-radius);
      align-items: center;
      gap: 0.75rem;

      &:hover {
        border: var(--border);
      }

      & .af-checkbox__checked {
        display: none;
      }
    }
  }

  & label:has(input[type="checkbox"][aria-invalid="true"]) {
    .af-checkbox__icons {
      border: var(--border);
    }
  }

  & label:has(input[type="checkbox"]:checked) {
    .af-checkbox__icons {
      border: var(--border);
    }

    & .af-checkbox__checked {
      display: block;
      fill: var(--check-fill);
    }
  }

  & label input[type="checkbox"]:focus-visible ~ .af-checkbox__icons {
    outline: var(--outline);
    outline-offset: 3px;
  }

  & label input[type="checkbox"]:checked ~ .af-checkbox__icons {
    background-color: var(--background-color);
  }
}
