@use "../../common/common" as common;

.af-form {
  &__input-text {
    --color: var(--text-color);
    --border-color: var(--input-border-color);
    --background-color: var(--white);

    padding: 0.625rem 1.25rem;
    border: 1px solid var(--border-color);
    font-size: 1em;
    line-height: 20px;
    color: var(--color);
    background-color: var(--background-color);

    &:disabled {
      --color: var(--disabled-color);
      --border-color: var(--disabled-color);
      --background-color: var(--gray10);

      cursor: not-allowed;
    }

    &[aria-invalid="true"] {
      --color: var(--error-color);
      --border-color: var(--error-color);
    }

    &:focus {
      --color: var(--active-button-border-color);
      --border-color: var(--active-button-border-color);

      outline: 2px solid var(--border-color);
    }

    &--hasinfobulle {
      margin-right: 1rem;
    }
  }

  &__text {
    &--success,
    &--valid {
      .af-form__input-text {
        margin-right: 1rem;
      }

      &::after {
        position: relative;
        top: 5px;
        font-family: common.$font-family-icon;
        color: var(--valid-element-color);
        content: "\EABA";
      }

      > .af-btn--circle {
        margin-right: 1rem;
      }
    }

    &--valid {
      &::after {
        display: none;
      }

      .glyphicon-ok {
        width: 17px;
        margin-left: 2px;
        fill: common.$color-btn-success;
      }
    }

    &--warning {
      padding: 0;

      .af-form__input-text {
        border: 1px solid var(--warning-color);
        color: var(--warning-color);
      }
    }

    &-wrapper {
      position: relative;
      display: inline-flex;
    }
  }

  &__input-text::-ms-clear,
  &__input-text::-ms-reveal {
    display: none;
  }

  &__clear {
    position: absolute;
    top: 0.75rem;
    right: 3rem;

    &:hover {
      border-radius: 100%;
      background: common.$color-mercury;
      box-shadow: 0 0 0 6px common.$color-mercury;
    }

    .glyphicon {
      display: inherit;
      width: 19px;
      height: 100%;
      padding-top: 0;
    }
  }
}
