@import "./ItemPaginationCommon.css";

.af-item-pagination {
  --item-pagination-color: var(--axa-blue-100);
  --item-pagination-background-color: var(--white);
  --item-pagination-outline-color: var(--axa-blue-100);
}

.af-item-pagination--current {
  --item-pagination-background-color: var(--axa-blue-100);
  --item-pagination-color: var(--white);
}
