.af-item-pagination {
  all: unset;
  display: grid;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-100);
  place-content: center;
  font-weight: 600;
  color: var(--item-pagination-color);
  background-color: var(--item-pagination-background-color);
  outline: none;
  cursor: default;

  &:focus-visible {
    outline: 2px solid var(--item-pagination-outline-color);
  }

  &[href] {
    cursor: pointer;
  }
}
