name: "Chromatic - Visual regression testing"

on: push

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: ./.github/action/setup-node

      - name: Build packages
        run: npm run build

      - uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13.3.4
        name: Run Chromatic for design-system-slash-react
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_SLASH_REACT }}
          zip: true
          buildScriptName: "build"
          workingDir: "apps/slash-stories"
          onlyChanged: true
          skip: "@(renovate/**|dependabot/**)"

      - uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13.3.4
        name: Run Chromatic for design-system-lookandfeel-react
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_LOOKANDFEEL_REACT }}
          zip: true
          buildScriptName: "build"
          workingDir: "apps/look-and-feel-stories"
          onlyChanged: true
          skip: "@(renovate/**|dependabot/**)"
      - uses: chromaui/action@4c20b95e9d3209ecfdf9cd6aace6bbde71ba1694 # v13.3.4
        name: Run Chromatic for design-system-apollo-react
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_APOLLO_REACT }}
          zip: true
          buildScriptName: "build"
          workingDir: "apps/apollo-stories"
          onlyChanged: true
          skip: "@(renovate/**|dependabot/**)"
