name: CI

on:
  pull_request:
    branches:
      - main
      - "slash-releases/*"
  workflow_dispatch:
  push:
    branches:
      - main
      - "slash-releases/*"

jobs:
  build:
    if: github.repository_owner == 'AxaFrance'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "*" # Use the LTS Node.js version
          cache: "npm"
      - run: npm run package:check
      - run: npm ci
      - run: npm run build
      - run: npm run lint -- --max-processes 1
      - run: npm run test
      - name: SonarCloud Scan
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
