name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    if: github.repository_owner == 'AxaFrance'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js
        uses: ./.github/action/setup-node
        with:
          check-package: true

      - name: Build packages
        run: npm run build

      - run: npm run test

      - name: SonarCloud Scan
        if:
          github.event.pull_request.head.repo.full_name == github.repository ||
          github.ref == 'refs/heads/main'
        uses: SonarSource/sonarqube-scan-action@1a6d90ebcb0e6a6b1d87e37ba693fe453195ae25 # v5.3.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  commitlint:
    if: github.event_name == 'pull_request'
    name: CommitLint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: ./.github/action/setup-node

      # https://commitlint.js.org/guides/ci-setup.html#github-actions
      - name: Validate PR commits with commitlint
        run:
          npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{
          github.event.pull_request.commits }} --to ${{
          github.event.pull_request.head.sha }} --verbose --color
