.af-alert {
  --alert-sidebar-color: var(--red30);
  --alert-background-color: var(--red10);
  --alert-border-color: var(--red20);

  display: flex;
  border: 1px solid var(--alert-border-color);
  flex-direction: row;
  gap: calc(20rem / 16);
  color: var(--alert-sidebar-color);
  background-color: var(--alert-background-color);
}

.af-alert--error {
  --alert-sidebar-color: var(--red30);
  --alert-background-color: var(--red10);
  --alert-border-color: var(--red20);
}

.af-alert--success {
  --alert-sidebar-color: var(--green40);
  --alert-background-color: var(--green10);
  --alert-border-color: var(--green20);
}

.af-alert--info {
  --alert-sidebar-color: var(--cyan40);
  --alert-background-color: var(--cyan10);
  --alert-border-color: var(--cyan30);
}

.af-alert--warning {
  --alert-sidebar-color: var(--orange40);
  --alert-background-color: var(--orange10);
  --alert-border-color: var(--orange30);
}

.af-alert__title {
  font-weight: bold;
}

.af-alert__content {
  padding: calc(12rem / 16);
  flex-grow: 1;
}

.af-alert__icon {
  position: relative;
  transform: translateX(
    calc(-10rem / 16)
  ); /* remove half the length of the arrow */

  fill: var(--white);
}

.af-alert__indicator {
  display: flex;
  width: calc(84rem / 16);
  height: calc(48rem / 16);
  align-items: center;
  justify-content: center;
  background-color: var(--alert-sidebar-color);
  clip-path: polygon(0% 0%, 76% 0, 100% 50%, 76% 100%, 0% 100%);
}

.af-alert__sidebar {
  width: calc(64rem / 16);
  background-color: var(--alert-sidebar-color);
}

.af-alert__close-button {
  display: flex;
  height: fit-content;
  padding: 1rem;
  border: none;
  background: none;
}

.af-alert__close-icon {
  width: calc(14rem / 16);
  height: calc(14rem / 16);
  fill: var(--alert-sidebar-color);
}
